@{
    Layout = null;
}

<div class="footer">
    <p>研究院新闻|友情链接|会员中心|站内搜索|网站地图|网站管理</p>
    <p>泉州华中科技大学智能制造研究院 版权所有 2015-2020 闽ICP备15008028号</p>
    <p>福建省泉州市丰泽区北清东路518号数控一代创新中心10-13楼</p>
    <p>0595-28857088</p>
</div>


