@{
    Layout = null;
}

<div>
    <el-tabs type="border-card">
        <!--主分页-->
        <el-tab-pane label="在线办公">
            <el-container style="border: 1px solid #eee">
                <!--左侧导航栏-->
                <el-aside width="auto" style="background-color: rgb(238, 241, 246)">
                    <el-menu :default-openeds="['2','3']" :collapse="isCollapse" v-on:open="handleOpen" v-on:close="handleClose"
                             :default-active="'2-1'" class="el-menu-vertical-demo">
                        <el-button v-on:click="isCollapse=!isCollapse" type="info" :icon="isCollapse?'el-icon-caret-bottom':'el-icon-caret-left'" circle></el-button>
                        <el-submenu index="2">
                            <template slot="title">
                                <i class="el-icon-message"></i>
                                <span slot="title">审批管理</span>
                            </template>
                            <el-menu-item-group>
                                <el-menu-item index="2-1" onclick="loadPage('/Main/approval')">
                                    发起审批
                                </el-menu-item>
                                <el-menu-item index="2-2" onclick="loadPage('/Main/approval_list?Index=0')">
                                    待我审批<el-badge v-if="menuStatus.ApproveCount>0" class="mark" :value="menuStatus.ApproveCount" />
                                </el-menu-item>
                                <el-menu-item index="2-3" onclick="loadPage('/Main/approval_list?Index=1')">
                                    我已审批
                                </el-menu-item>
                                <el-menu-item index="2-4" onclick="loadPage('/Main/approval_list?Index=2')">
                                    我发起的@*<el-badge class="mark" :value="menuStatus.MyPostCount" />*@
                                </el-menu-item>
                                <el-menu-item index="2-5" onclick="loadPage('/Main/approval_list?Index=3')">
                                    抄送我的<el-badge v-if="menuStatus.SendMyCount>0" class="mark" :value="menuStatus.SendMyCount" />
                                </el-menu-item>
                            </el-menu-item-group>
                        </el-submenu>
                    </el-menu>
                </el-aside>
