@{
    Layout = null;
}

          </el-container>
        </el-tab-pane>
<el-tab-pane label="客户管理">定时任务补偿</el-tab-pane>
<el-tab-pane label="首页">
    @RenderPage("~/Views/Home/Index.cshtml")
</el-tab-pane>
    </el-tabs>
</div>
