
/*通用*/

.clearfix:before,
.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

hr {
    height: 1px;
    border: none;
    border-top: 1px solid #b3b3b3;
}
form{
    margin-left:5%;
}
.hint {
    color: #808080;
}
.tableRight{
    float:right;
    margin-top:10px;
    margin-right:10px;
}
.clickable-text {
    color: #409EFF;
    cursor: pointer;
}

/*总体布局*/
body {
    margin: 0;
    padding: 0;
    background-color: #D5D5D7;
}

#app > section {
    max-width: 1280px;
    margin: auto;
    margin-top: -60px;
}

/*顶部导航栏*/

.head {
    max-width: 1280px;
    margin: auto;
}

header {
    height: 140px !important;
    background-color: #409EFF;
    color: white;
}

    header .el-menu {
        border: none;
        background-color: rgba(0,0,0,0);
    }

.userBlock {
    float: right !important;
    height: 60px;
    line-height: 60px;
    margin: 0;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
}

img, span {
    vertical-align: middle !important;
}

a {
    text-decoration: none;
    color: black;
}

.title {
    color: white;
    font-size: 24px;
}



/*首页选项卡*/
.card {
    border: 1px solid #409EFF;
    margin-top: 30px;
    height: 350px;
    overflow: hidden;
}

    .card p, .card h5 {
        margin-top: 5px;
    }

.cardImage {
    float: left;
    width: 306px;
    height: 182px;
}

.cardText {
    line-height: 2;
    text-indent: 25px;
}

.cardButtonTitle, .cardPannelTitle {
    float: left;
    background: url(gif/dt-5.gif) repeat-x;
    height: 32px;
    line-height: 32px;
    padding: 0px 25px;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardPannelTitle {
    width: 80%;
}

.card-box {
    border-bottom: 1px dashed;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

    .card-box h5 {
        margin-bottom: 2px;
    }

.card-box-text {
    font-size: 10px;
}

.card-box-image {
    float: left;
    width: 102px;
    height: 60px;
    padding-right: 10px;
}

.card-time {
    float: right;
}

ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

    ol li {
        height: 28px;
        font-size: 12px;
        line-height: 28px;
        overflow: hidden;
    }

/*审批列表*/
.approval-box {
    width: 130px;
    height: 80px;
    padding: 15px;
    border: 1px solid #c1c1c1;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.approval-box-img {
    width: 60px;
    height: 60px;
    background: url(images/icon900-540.png) no-repeat;
    background-position: -54px -47px;
    margin: auto;
}

.approval-box p {
    margin: 5px;
}

/*审批报表*/
.head-fixed {
    height: 22px;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 10px;
    vertical-align: central;
    margin-bottom: 26px;
}

.head-fixed i {
    font-size: 20px;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
}

/*添加审批人*/
.el-tag + .el-tag {
    margin-left: 10px;
}
.button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
.input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
}
.remark{
    display:inline-block;
    line-height:14px;
}
.applytime {
    display: inline-block;
    float: right;
    color: gray;
    font-size: small;
    line-height: 14px;
}
.approve-arrow {
    font-size: 24px;
    margin-left: 36px;
    color: #409EFF;
}

/*底部样式*/
.footer {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    color: dimgray;
}

/*element 样式微调*/
.el-card__header {
    padding-bottom: 0px;
}

.el-card__body {
    padding-top: 5px;
}

.el-menu--horizontal .el-menu-item:focus, .el-menu--horizontal .el-menu-item:hover {
    background-color: rgba(0,0,0,0);
}

.el-main{
    padding:0px;
    overflow:hidden;
}
.head-fixed{
    font-size:1.2rem;
}
.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
}

.el-table__expanded-cell[class*=cell]{
    padding: 0px 10px;
}