@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage">
    <el-collapse v-model="activeNames">
        <el-collapse-item v-for="(m,i) in menu" :name="i+1" :key="i">
        <template slot="title">
            <span style="font-size:20px;">{{m.SORT_NAME}}</span>
        </template>
        <div v-for="l in list" v-if="l.sortId == m.SORT_ID && l.url"  class="approval-box" v-on:click="toApprove(l.url,l.flowId)">
            <div class="approval-box-img" :style="{backgroundPosition:l.position}"></div>
            <p>{{l.flowName}}</p>
        </div>
        </el-collapse-item>
    </el-collapse>
</el-main>

<script>
    var imgConfig = [
        {
            flowId: 1,
            sortId: 1,
            url: '/approval/OfficeSupplies',
            position: '-774px -227px'
        },
        {
            flowId: 2,
            sortId: 1,
            url: '/approval/UseCar',
            position: '-504px -407px'
        },
        {
            flowId: 3,
            sortId: 2,
            url: '/approval/WorkOvertime',
            position: '-594px -47px'
        },
        {
            flowId: 4,
            sortId: 2,
            url: '/approval/UseCar',
            position: '-234px -317px'
        },
        {
            flowId: 5,
            sortId: 3,
            url: '/approval/UseCar',
            position: '-594px -227px'
        },
        {
            flowId: 6,
            sortId: 3,
            url: '/approval/UploadPaper',
            position: '-684px -227px'
        },
        {
            flowId: 7,
            sortId: 3,
            url: '/approval/UseCar',
            position: '-324px -227px'
        }
    ]
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                activeNames: [1,2,3],
                count: 2,
                menu: [],
                list: []
            }
        },
        methods: {
            getMenu: function () {
                var that = this
                $.ajax({
                    url: '/FlowInfo/LoadFlowSort?id=123',
                    dataType: 'json',
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        that.menu = data
                        $.ajax({
                            url: '/FlowInfo/LoadFlowInfo?id=123',
                            dataType: 'json',
                            type: 'GET',
                            cache: false,
                            success: function (data) {
                                that.list = _mergeObjectArr(data, imgConfig, 'flowId')
                            }
                        })
                    }
                })
            },
            toApprove: function (url, id) {
                FlowId = id
                loadPage(url)
            },
            loadPage: function (url) {
                $("#tempPage").load(url)
            }
        },
        created: function () {
            this.getMenu()
            loadHtml("mainPage", "partPage")
        }
    })

</script>
