@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}-{{nodeInfo.NodeName}}
    </div>
    <el-form v-on:submit.native.prevent :model="tableForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">

        @RenderPage("~/Views/Shared/endForm.cshtml")
        <el-form-item label="加班事由" prop="OverTimeContent">
            <el-input v-model="tableForm.OverTimeContent" :disabled="true" style="width:90%;"></el-input>
        </el-form-item>
        <hr />

        <el-form-item label="加班日期" prop="DateTime">
            <div class="block">
                <el-date-picker v-model="tableForm.DateTime" :disabled="true"
                                type="date" :editable="false"
                                value-format="yyyy-MM-dd"
                                placeholder="选择日期"
                                align="right">
                </el-date-picker>
            </div>
        </el-form-item>


        <el-form-item label="加班时间" prop="StartTime">
            <el-time-select placeholder="起始时间" :disabled="true"
                            v-model="tableForm.StartTime"
                            :picker-options="{
                              start: '08:30',
                              step: '00:30',
                              end: '18:30',
                              maxTime: ruleForm.EndTimeTime
                            }">
            </el-time-select>
            <el-time-select placeholder="结束时间" :disabled="true"
                            v-model="tableForm.EndTimeTime"
                            :picker-options="{
                              start: '08:30',
                              step: '00:30',
                              end: '23:30',
                              minTime: ruleForm.StartTime
                            }">
        </el-form-item>
        <el-form-item label="加班时长(小时)">
            <el-input v-model="tableForm.UseTime" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <hr />

        <template v-if="reInput">
            <el-form-item label="有效加班时长(小时)" prop="EffectiveTime">
                <el-input v-model="tableForm.EffectiveTime" style="width:550px;" :disabled="disabledRemark"></el-input>
            </el-form-item>
        </template>

        @RenderPage("~/Views/Shared/endButton.cshtml")
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                reInput: false,
                disabledRemark: false,
            }
        },
        methods: {
            onSubmit(formName) {
                var that = this
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        let url = '/OverTimeTable/OverTimeTableModify'
                        var param = _cloneObj(this.tableForm)
                        param.UseKilometres = this.UseKilometres
                        that._postData(url, function () {
                            that.aggreSubmit({
                                "Id": that.ruleForm.Id,
                                "Remark": that.ruleForm.Mark
                            })

                        }, param)
                    }
                })
            },
            getTable() {
                var that = this
                that._getData('/OverTimeTable/OverTimeTableQuary', function (data2) {
                    that.tableForm = data2
                    if (!data2.EffectiveTime) that.tableForm['EffectiveTime'] = ''
                }, { TaskId: TaskId })
            }
        },
        created: function () {
            this.initEnd(() => { this.getTable() })
            if ((NodeId == '1' && Index == 0) || NodeId > 1) this.reInput = true
            if ( Index != 0) this.disabledRemark = true
        }
    })

</script>



