@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        文件阅办单审批-{{nodeInfo.NodeName}}
    </div>
    <el-form id="formImg" :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        <el-form-item label="标题">
            <el-input v-model="allData.Title" style="width:300px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="申请人">
            <el-input v-model="allData.ApplyMan" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>

        <el-form-item label="来文单位" prop="ReceivingUnit">
            <el-input v-model="ruleForm.ReceivingUnit" style="width:500px;" :disabled="true"></el-input>
        </el-form-item>

        <el-form-item label="文件文号">
            <el-input v-model="ruleForm.FileNo" style="width:500px;" :disabled="true"></el-input>
        </el-form-item>

        <el-form-item label="收文时间" prop="ReceivingTime">
            <el-date-picker v-model="ruleForm.ReceivingTime" :disabled="true"
                            value-format="yyyy-MM-dd"
                            type="date"
                            placeholder="选择日期">
            </el-date-picker>
        </el-form-item>

        <el-form-item label="主要内容" prop="MainIdea">
            <el-input v-model="ruleForm.MainIdea" type="textarea" :row="5" style="width:600px;" :disabled="true" :autosize="{ minRows: 4, maxRows: 6}"></el-input>
        </el-form-item>

        <!--相关文件-->
        <el-form-item v-if="FileList.length > 0" label="相关文件">
            <el-card class="box-card">
                <div v-for="f in FileList" :key="f.name" class="text item">
                    <span>{{ f.name }}</span>
                    <el-button size="mini" type="primary" v-on:click="downloadFile(f.mediaId)">下载</el-button>
                </div>
            </el-card>
        </el-form-item>

        <el-form-item label="拟办意见" prop="Suggestion">
            <el-input v-model="ruleForm.Suggestion" type="textarea" :row="5" style="width:500px;" :disabled="NodeId > 1"></el-input>
        </el-form-item>

        <hr />

        <template v-if="NodeId >= 3">
            <el-form-item label="领导阅示" prop="Leadership">
                <el-input v-model="ruleForm.Leadership" type="textarea" :row="5" style="width:500px;" :disabled="NodeId>3"></el-input>
            </el-form-item>
        </template>

        <template v-if="NodeId >= 5">
            <el-form-item label="部门阅办情况" prop="Review" v-if="NodeId == 5">
                <el-input v-model="ruleForm.Review" style="width:500px;" :disabled="NodeId>5"></el-input>
            </el-form-item>
            <el-form-item label="部门阅办情况" v-else>
                @*<el-card>
                </el-card>*@
                <div v-for="r in ReviewList" :key="r" class="text item" style="min-width:400px;">
                    {{r}}
                </div>
                
            </el-form-item>
        </template>

        <template v-if="NodeId >= 6">
            <el-form-item label="办理落实情况" prop="HandleImplementation" v-if="NodeId == 6">
                <el-input v-model="ruleForm.HandleImplementation" style="width:500px;" :disabled="NodeId>6"></el-input>

                <el-upload class="upload-demo"
                           drag
                           :file-list="fileList"
                           action="/drawingupload/Upload"
                           :on-remove="HandleFileRemove"
                           :before-upload="BeforeFileUpload"
                           :on-success="HandleFileSuccess"
                           multiple>
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                    <div class="el-upload__tip" slot="tip">不超过30M</div>
                </el-upload>

            </el-form-item>
            <el-form-item label="办理落实情况" v-else>
                <el-card class="box-card">
                    <div v-for="h in HandleImplementationList" :key="h" class="text item">
                        {{h}}
                    </div>
                </el-card>
            </el-form-item>
        </template>

        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="false" :nodedata="nodeInfo"></sam-approver-list>
        <template v-if="index==0">
            <el-form-item label="建议">
                <el-input v-model="ruleForm.Remark" style="width:500px;"></el-input>
            </el-form-item>
            <el-form-item label="操作">
                <el-button type="primary" v-on:click="onSubmit('ruleForm')" :disabeld="disablePage">同意</el-button>
                <el-button v-show="nodeInfo.IsBack" type="warning" v-on:click="returnBk()">退回</el-button>
            </el-form-item>
        </template>
        <template v-if="index==2">
            <el-form-item v-if="state=='未完成'">
                <ding :dinglist="dingList"></ding>
            </el-form-item>
            <el-form-item v-else>
                <el-button type="primary" v-on:click="print" :disabeld="disablePage">打印</el-button>
            </el-form-item>
        </template>
    </el-form>

</el-main>

<script>
    var state = ''
    if (UrlObj.flowid) {
        FlowId = UrlObj.flowid
        NodeId = UrlObj.nodeid
        TaskId = UrlObj.taskid
        state = UrlObj.state
        Id = UrlObj.id
        var Index = UrlObj.index
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                FileList: [],
                fileList: [],
                mediaList: [],
                index: Index,
                allData: {},
                NodeId: NodeId,
                nodeList: [],
                nodeInfo: {},
                state: state,
                ReviewList: [],
                HandleImplementationList: [],
                ruleForm: {

                }
            }
        },
        methods: {
            onSubmit(formName) {
                console.log('submit!')
                this.disablePage = true
                var that = this
                let url = '/Receiving/Modify'
                var param = _cloneObj(this.ruleForm)
                this.fileListToUrl()
                if (NodeId == 5) {
                    if (!this.ruleForm.Review) {
                        this.elementAlert('提示','请填写部门阅办情况')
                        return
                    }
                    param.Review = DingData.departName + '-' + DingData.nickName + ': ' + param.Review
                } else {
                    param.Review = ''
                }
                if (NodeId == 6) {
                    if (!this.ruleForm.HandleImplementation) {
                        this.elementAlert('提示', '请填写落实情况')
                        return
                    }
                    param.HandleImplementation = DingData.departName + '-' + DingData.nickName + ': ' + param.HandleImplementation
                } else {
                    param.HandleImplementation = ''
                } 
                console.log(JSON.stringify(param))
                //console.log(param)
                //return
                this._postData(url, function (data) {
                    if (data.error.errorCode == 0) {
                        that.aggreSubmit({
                            Id: that.allData.Id,
                            Remark: that.ruleForm.Remark,
                            FileUrl: that.ruleForm.FileUrl,
                            OldFileUrl: that.ruleForm.OldFileUrl,
                            MediaId: that.mediaList.join(','),
                        })
                    }
                    else {
                        that.element.alert('提示信息','提交失败')
                    }
                },param)

            },
            returnBk() {
                let param = {
                    "Id": that.allData.Id,
                    "Remark": this.ruleForm.Remark
                }
                this.returnSubmit(param)
            },
            getTable() {
                var that = this
                that._getData('/Receiving/Read', function (data) {
                    that.ruleForm = data.data[0]
                    that.ruleForm['Remark'] = ''
                    if (NodeId == 5) that.ruleForm.Review = ''
                    if (NodeId == 6) that.ruleForm.HandleImplementation = ''
                    if (data.error.errorCode != 0) {
                        that.elementAlert('提示信息', error.errorMessage)
                        return
                    }
                    if (data.data[0].Review) that.ReviewList = data.data[0].Review.split('~')
                    if (data.data[0].HandleImplementation) that.HandleImplementationList = data.data[0].HandleImplementation.split('~')
                }
                    , { TaskId: TaskId })
            },
            print() {
                var that = this
                var param = { taskId: TaskId, UserId: DingData.userid }
                console.log('打印开始')
                console.log(param)
                this._getData('/Receiving/GetReport', function (data) {
                    console.log('打印结果')
                    console.log(data)
                    that.elementAlert('提示信息',data.error.errorMessage)
                }, param)
            }
        },
        created: function () {
            //获取下一个节点的审批人id
            this.GetDingList(TaskId)
            this.getNodeInfo()
            this.getApproInfo()
            this.getTable()

            loadHtml("mainPage", "partPage")
        }
    })
    getFormData()


    //获取审批表单信息
    function getFormData() {
        var url = "/FlowInfo/GetApproveInfo?TaskId=" + TaskId + "&ApplyManId=" + DingData.userid
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log("获取审批表单信息ok")
                console.log(url)
                console.log(data)
                demo.allData = data
                if (data.FileUrl && data.FileUrl.length > 5) {
                    var urlList = data.FileUrl.split(',')
                    var oldUrlList = data.OldFileUrl.split(',')
                    var MediaIdList = data.MediaId ? data.MediaId.split(',') : []
                    for (var i = 0; i < urlList.length; i++) {
                        demo.FileList.push({
                            name: oldUrlList[i],
                            url: document.location + (urlList[i].substring(2)).replace(/\\/g, "/"),
                            mediaId: MediaIdList[i]
                        })
                    }
                }
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

</script>



