@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        跨部门协作审批-{{nodeInfo.NodeName}}
    </div>
    <el-form :model="tableForm" :rules="rules" :inline="true" ref="tableForm" label-width="120px" class="demo-tableForm">

        <el-form-item label="标题">
            <el-input v-model="ruleForm.Title" style="width:300px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="申请人">
            <el-input v-model="ruleForm.ApplyMan" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="申请部门">
            <el-input v-model="ruleForm.Dept" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="协作部门">
            <el-input v-model="tableForm.CooperateDept" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="协作人">
            <el-input v-model="tableForm.CooperateMan" style="width:550px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="协作内容">
            <el-input v-model="tableForm.CooperateContent" style="width:550px;" :disabled="true" type="textarea"></el-input>
        </el-form-item>
        <hr />
        <el-form-item label="计划时间">
            <el-input v-model="tableForm.PlanBeginTime" style="width:200px;" :disabled="true"></el-input> -
            <el-input v-model="tableForm.PlanEndTime" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="计划天数">
            <el-input v-model="tableForm.PlanDays" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <template v-if="NodeId >= 4">
            <el-form-item label="实际开始时间" prop="FactBeginTime">
                <el-input v-model="tableForm.FactBeginTime" style="width:200px;" :disabled="noEdit"></el-input>
            </el-form-item>
            <el-form-item label="实际结束时间" prop="FactEndTime">
                <el-input v-model="tableForm.FactEndTime" style="width:200px;" :disabled="noEdit"></el-input>
            </el-form-item>
            <el-form-item label="实际天数" prop="FactDays">
                <el-input v-model="tableForm.FactDays" style="width:200px;" :disabled="noEdit"></el-input>
            </el-form-item>
            @*<el-form-item label="实际协作人" prop="FactCooperateMan">
                <el-input v-model="tableForm.FactCooperateMan" style="width:550px;" :disabled="noEdit"></el-input>
            </el-form-item>*@
            <el-form-item label="实际协作人" prop="FactCooperateMan">
                <el-input v-model="tableForm.FactCooperateMan" style="width:500px;" :disabled="true"></el-input>
                <el-button class="button-new-tag" size="small" v-on:click="addPeerNumber()" v-if="!noEdit">+ 选人</el-button>
            </el-form-item>
            <el-form-item label="实际协作内容" prop="FactCooperateContent">
                <el-input v-model="tableForm.FactCooperateContent" style="width:550px;" :disabled="noEdit"></el-input>
            </el-form-item>
        </template>
        <!--相关文件-->
        <el-form-item v-if="fileList.length > 0" label="相关文件">
            <el-card class="box-card">
                <div v-for="f in fileList" :key="f.name" class="text item">
                    <span>{{ f.name }}</span>
                    @*<el-button size="mini" type="primary" v-on:click="downloadFile(f.mediaId)">下载</el-button>*@
                    <el-button size="mini" type="primary" v-on:click="downloadServerFile(f.path)">下载</el-button>
                </div>
            </el-card>
        </el-form-item>
        <el-form-item label="意见">
            <el-input v-model="tableForm.Mark" style="width:550px;"></el-input>
        </el-form-item>
        <hr />
        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>
        <el-form-item label="操作" v-if="index==0">
            <el-button type="primary" v-on:click="onSubmit('tableForm')" :disabled="disablePage">同意</el-button>
            <el-button v-show="nodeInfo.IsBack" type="warning" v-on:click="returnBk" :disabled="false">退回</el-button>
        </el-form-item>
        <template v-if="index==2 &&( state=='被退回' || state=='已撤回')">
            <el-form-item>
                <el-button type="primary" v-on:click="reApproval" :disabled="disablePage">重新发起</el-button>
            </el-form-item>
        </template>
        <template v-if="index==2 && state=='未完成'">
            <el-form-item>
                <Ding2 :dinglist="dingList" :userid="userid" :flowid="flowid"></Ding2>
                <el-button type="warning" v-on:click="rebackSubmit" :disabled="disablePage">撤回</el-button>
            </el-form-item>
        </template>
    </el-form>
</el-main>

<script>
    if (UrlObj.flowid) {
        FlowId = UrlObj.flowid
        NodeId = UrlObj.nodeid
        TaskId = UrlObj.taskid
        state = UrlObj.state
        Id = UrlObj.id
        var Index = UrlObj.index
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                //钉一下需要的参数
                flowid: UrlObj.flowid,
                userid: DingData.userid,
                DingData: DingData,
                index: Index,
                state: state,
                NodeId: NodeId,
                nodeList: [],
                nodeInfo: {},
                noEdit: true,
                tableForm: {
                },
                rules: {
                    FactBeginTime: { required: true, message: '实际开始时间不能为空', trigger: 'blur' },
                    FactEndTime: { required: true, message: '实际结束时间不能为空', trigger: 'blur' },
                    FactDays: [{ required: true, message: '实际天数不能为空', trigger: 'blur' }],
                    FactCooperateContent: [{ required: true, message: '实际协作内容不能为空', trigger: 'blur' }],
                    FactCooperateMan: [{ required: true, message: '实际协作人不能为空', trigger: 'blur' }]
                }
            }
        },
        methods: {
            onSubmit(formName) {
                if (this.NodeId == 4) {
                    let names = this.tableForm.FactCooperateMan.split(',')
                    let ids = this.tableForm.FactCooperateManId.split(',')
                    let a = 6
                    this.addPeopleNodes = [a]//额外添加审批人节点数组
                    this.nodeList[a].AddPeople = []
                    for (let i = 0; i < names.length; i++) {
                        this.nodeList[a].AddPeople.push({
                            name: names[i],
                            emplId: ids[i]
                        })
                    }
                } 
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.PostData('Cooperate/Modify', this.tableForm, (res) => {
                            this.aggreSubmit({
                                "Id": this.ruleForm.Id,
                                "Remark": this.tableForm.Mark
                            })
                        })
                    }
                })
            },
            //选择实际协作人
            addPeerNumber() {
                var that = this
                DingTalkPC.biz.contact.choose({
                    users: [],
                    corpId: DingData.CorpId,
                    max: 10,
                    onSuccess: function (data) {
                        console.log(data)
                        let names = []
                        let ids = []
                        let addPeoples = []
                        let i = that.addPeopleNodes[0]
                        for (let d of data) {
                            names.push(d.name)
                            ids.push(d.emplId)
                            addPeoples.push({
                                name: d.name,
                                emplId: d.emplId
                            })
                        }
                        that.nodeList[i].AddPeople = addPeoples
                        for (let app of addPeoples) {
                            $("#" + i).after('<span class="el-tag ' + i + '" style="width: 60px; text-align: center; ">' + app.name.substring(0, 3) + '</span >')

                        }
                        that.tableForm.FactCooperateMan = names.join(',')
                        that.tableForm.FactCooperateManId = ids.join(',')
                    },
                    onFail: function (err) { }
                });
            },
            getHelpTable() {
                this.GetData('Cooperate/Read?taskid=' + TaskId, (res) => {
                    if (NodeId == 1) {
                        res['FactBeginTime'] = res.PlanBeginTime
                        res['FactEndTime'] = res.PlanEndTime
                        res['FactDays'] = res.PlanDays
                        res['FactCooperateContent'] = res.CooperateContent
                        res['FactCooperateMan'] = res.CooperateMan
                        res['FactCooperateManId'] = res.CooperateManId
                    }
                    this.tableForm = res
                })
            }
        },
        created: function () {
            this.getHelpTable()
            if (NodeId == 4) this.noEdit = false
            loadHtml("mainPage", "partPage")
        }
    })
    getFormData(demo)

</script>



