@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}-{{nodeInfo.NodeName}}
    </div>
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="150px" class="demo-ruleForm"
             id="uploadForm" enctype="multipart/form-data">
        @RenderPage("~/Views/Shared/endForm.cshtml")
    </el-form>
    <el-form v-on:submit.native.prevent :model="tableForm" :rules="rules" ref="tableForm" label-width="120px" class="demo-tableForm">

        <el-form-item label="协作部门">
            <el-input v-model="tableForm.CooperateDept" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="协作人">
            <el-input v-model="tableForm.CooperateMan" style="width:550px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="协作内容">
            <el-input v-model="tableForm.CooperateContent" style="width:550px;" :disabled="true" type="textarea"></el-input>
        </el-form-item>
        <hr />
        <el-form-item label="计划时间">
            <el-input v-model="tableForm.PlanBeginTime" style="width:200px;" :disabled="true"></el-input> -
            <el-input v-model="tableForm.PlanEndTime" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="计划天数">
            <el-input v-model="tableForm.PlanDays" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <template v-if="NodeId > 4 || (NodeId == 4 && (index == 1 || index == 0))">
            <el-form-item label="实际开始时间" prop="FactBeginTime">
                <el-date-picker v-model="tableForm.FactBeginTime" :editable="false" :disabled="noEdit" v-on:change="selectTime"
                                type="date" prefix-icon="el-icon-minus" clear-icon="el-icon-minus" value-format="yyyy-MM-dd">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="实际结束时间" prop="FactEndTime">
                <el-date-picker v-model="tableForm.FactEndTime" :editable="false" :disabled="noEdit" v-on:change="selectTime"
                                type="date" prefix-icon="el-icon-minus" clear-icon="el-icon-minus" value-format="yyyy-MM-dd">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="实际天数" prop="FactDays">
                <el-input v-model="tableForm.FactDays" style="width:200px;" :disabled="noEdit"></el-input>
            </el-form-item>
            @*<el-form-item label="实际协作人" prop="FactCooperateMan">
                    <el-input v-model="tableForm.FactCooperateMan" style="width:550px;" :disabled="noEdit"></el-input>
                </el-form-item>*@
            <el-form-item label="实际协作人" prop="FactCooperateMan">
                <el-input v-model="tableForm.FactCooperateMan" style="width:500px;" :disabled="true"></el-input>
                <el-button class="button-new-tag" size="small" v-on:click="addPeerNumber()" v-if="!noEdit">+ 选人</el-button>
            </el-form-item>
            <el-form-item label="实际协作内容" prop="FactCooperateContent">
                <el-input v-model="tableForm.FactCooperateContent" style="width:550px;" :disabled="noEdit"></el-input>
            </el-form-item>
        </template>
        <!--相关文件-->
        <el-form-item v-if="fileList.length > 0" label="相关文件">
            <el-card class="box-card">
                <div v-for="f in fileList" :key="f.name" class="text item">
                    <span>{{ f.name }}</span>
                    @*<el-button size="mini" type="primary" v-on:click="downloadFile(f.mediaId)">下载</el-button>*@
                    <el-button size="mini" type="primary" v-on:click="downloadServerFile(f.path)">下载</el-button>
                </div>
            </el-card>
        </el-form-item>
        <hr />
    </el-form>
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="150px" class="demo-ruleForm"
             id="uploadForm" enctype="multipart/form-data">
        @RenderPage("~/Views/Shared/endButton.cshtml")
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                //钉一下需要的参数
                noEdit: true,
                tableForm: {
                    FactDays:1,
                },
                rules: {
                    FactBeginTime: { required: true, message: '实际开始时间不能为空', trigger: 'blur' },
                    FactEndTime: { required: true, message: '实际结束时间不能为空', trigger: 'blur' },
                    FactDays: [{ required: true, message: '实际天数不能为空', trigger: 'blur' }],
                    FactCooperateContent: [{ required: true, message: '实际协作内容不能为空', trigger: 'blur' }],
                    FactCooperateMan: [{ required: true, message: '实际协作人不能为空', trigger: 'blur' }]
                }
            }
        },
        methods: {
            onSubmit() {
                if (this.NodeId == 4) {
                    let names = this.tableForm.FactCooperateMan.split(',')
                    let ids = this.tableForm.FactCooperateManId.split(',')
                    let a = 7
                    this.addPeopleNodes = [a]//额外添加审批人节点数组
                    this.nodeList[a].AddPeople = []
                    for (let i = 0; i < names.length; i++) {
                        this.nodeList[a].AddPeople.push({
                            name: names[i],
                            emplId: ids[i]
                        })
                    }
                } 
                this.$refs['tableForm'].validate((valid) => {
                    if (valid) {
                        this.PostData('Cooperate/Modify', this.tableForm, (res) => {
                            this.aggreSubmit()
                        })
                    }
                })
            },
            //选时间操作
            selectTime() {
                let date1 = this.tableForm.FactBeginTime.split('-')
                date1 = new Date(date1[0], date1[1]-1, date1[2])
                let date2 = this.tableForm.FactEndTime.split('-')
                date2 = new Date(date2[0], date2[1]-1, date2[2])
                //let days = (date2 - date1) / (3600 * 24 * 1000) + 1
                this.tableForm.FactDays = _computeDurTime(date1, date2, 'd2') + ''
            },
            //选择实际协作人
            addPeerNumber() {
                var that = this
                DingTalkPC.biz.contact.choose({
                    users: [],
                    corpId: DingData.CorpId,
                    max: 10,
                    onSuccess: function (data) {
                        console.log(data)
                        let names = []
                        let ids = []
                        let addPeoples = []
                        let i = 7
                        for (let d of data) {
                            names.push(d.name)
                            ids.push(d.emplId)
                            addPeoples.push({
                                name: d.name,
                                emplId: d.emplId,
                                isSend:true
                            })
                        }
                        that.nodeList[i].AddPeople = addPeoples
                        $("." + i).remove()
                        for (let app of addPeoples) {
                            $("#" + i).after('<span class="el-tag ' + i + '" style="width: 60px; text-align: center; ">' + app.name.substring(0, 3) + '</span >')
                        }
                        that.tableForm.FactCooperateMan = names.join(',')
                        that.tableForm.FactCooperateManId = ids.join(',')
                    },
                    onFail: function (err) { }
                });
            },
            getHelpTable() {
                this.GetData('Cooperate/Read?taskid=' + TaskId, (res) => {
                    if (NodeId == 1 || NodeId == 2) {
                        res['FactBeginTime'] = res.PlanBeginTime
                        res['FactEndTime'] = res.PlanEndTime
                        res['FactDays'] = res.PlanDays
                        res['FactCooperateContent'] = res.CooperateContent
                        res['FactCooperateMan'] = res.CooperateMan
                        res['FactCooperateManId'] = res.CooperateManId
                    }
                    this.tableForm = res
                })
            }
        },
        created: function () {
            this.initEnd(() => { this.getHelpTable() })
            if (NodeId == 4) this.noEdit = false
        }
    })

</script>



