@{
    Layout = null;
}
<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/Approval_list')">
        <i class="el-icon-arrow-left"></i>
        借入申请审批-{{nodeInfo.NodeName}}
    </div>

    <!--表格實體-->
    <el-table :data="tableData" stripe border>
        <el-table-column v-for="(value,key) in items" :prop="key" :label="value" :key="key">
        </el-table-column>
    </el-table>
    <!--底部翻頁-->
    <div style="text-align:right">
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[1, 3, 5, 10]"
                       :page-size="5"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="totalRows">
        </el-pagination>
    </div>
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="150px" class="demo-ruleForm"
             id="uploadForm" enctype="multipart/form-data">
        <el-form-item label="标题" v-if="ruleForm.Title">
            <el-input v-model="ruleForm.Title" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="申请人">
            <el-input v-model="ruleForm.ApplyMan" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="项目名" v-if="ruleForm.ProjectName">
            <el-input v-model="ruleForm.ProjectName" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="项目编号" v-if="ruleForm.ProjectId">
            <el-input v-model="ruleForm.ProjectId" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="备注">
            <el-input v-model="ruleForm.Remark" :disabled="true"></el-input>
        </el-form-item>
        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>
        <template v-if="index==0">
            <el-form-item label="审批意见" prop="mark">
                <el-input v-model="ruleForm.mark"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="onSubmit" :disabled="disablePage">同意</el-button>
                <el-button v-if="nodeInfo.IsBack" type="warning" v-on:click="returnBk" :disabled="disablePage">退回</el-button>
            </el-form-item>
        </template>
        <template v-if="index==2 &&( state=='被退回' || state=='已撤回')">
            <el-form-item>
                <el-button type="primary" v-on:click="reApproval" :disabled="disablePage">重新发起</el-button>
            </el-form-item>
        </template>
        <template v-if="index==2 && state=='未完成'">
            <el-form-item>
                <ding :dinglist="dingList"></ding>
                <el-button type="warning" v-on:click="rebackSubmit" :disabled="disablePage">撤回</el-button>
            </el-form-item>
        </template>
        <template v-if="index!=0">
            <el-form-item>
                <el-button type="primary" v-on:click="printTable" :disabled="disablePage">打印表单</el-button>
                <el-button type="primary" v-on:click="printBom" :disabled="disablePage">导出Bom表</el-button>
            </el-form-item>
        </template>
    </el-form>


</el-main>
<script>
    if (UrlObj.flowid) {
        FlowId = UrlObj.flowid
        NodeId = UrlObj.nodeid
        TaskId = UrlObj.taskid
        State = UrlObj.state
        Id = UrlObj.id
        Index = UrlObj.index
    }
    var items = {
        Supplier: '供应商',
        CodeNo: '物料编码',
        Name: '物料名称',
        Standard: '规格型号',
        Unit: '单位',
        Count: '数量',
        Price: '单价(预计)',
        Purpose: '用途',
        StartTime: '开始日期',
        EndTime: '结束日期',
        Mark: '备注'
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                preApprove: false,
                preCopy: false,
                data: [],
                items: items,
                FlowId: FlowId,
                Index: Index,
                NodeId: NodeId,
                tableData: [],
                totalRows: 0,
                nodeInfo: {},
                nodeList: [],
                ruleForm: {},
                state: State,
                index: Index,
            }
        },
        methods: {
            //提交审批
            onSubmit(formName) {
                this.disablePage = true
                this.aggreSubmit({
                    "Id": this.ruleForm.Id,
                    "Remark": this.ruleForm.mark
                })
            },
            //获取bom表信息
            getBomInfo() {
                var that = this
                this.GetData("/Borrow/Read?TaskId=" + TaskId, (data) => {
                    that.data = data
                    that.getData()
                    that.totalRows = that.data.length
                })
            },
            printTable() {
                this.PostData('Borrow/PrintPDF',{
                    UserId: DingData.userid,
                    TaskId: TaskId
                }, () => { this.elementAlert('提示信息','获取成功，请在工作通知中查收') })
            },
            printBom() {
                this.PostData('Borrow/PrintExcel', {
                    UserId: DingData.userid,
                    TaskId: TaskId
                }, () => { this.elementAlert('提示信息', '获取成功，请在工作通知中查收') })
            }
        },
        created: function () {
            this.getBomInfo()
            loadHtml("mainPage", "partPage")
        }
    })
    getFormData(demo)
</script>
