@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="margin-top:20px;">
    <br />
    <template v-if="userName == '蔡兴桐' || userName == '黄浩炜' || userName == '詹姆斯' || userName == '黄浩伟' || userName == '黄龙贤' || userName == '胡晓辉' || userName == '林淑珍' || userName == '徐丽华' || userName == '陈思扬'|| userName == '许瑜瑜'">
        <span>我是：</span>
        <el-select v-model="userName" v-on:change="selectUser" filterable placeholder="请选择">
            <el-option v-for="item in userList"
                       :key="item.PeopleId"
                       :label="item.NodePeople"
                       :value="item.PeopleId">
            </el-option>
        </el-select>
        <p>{{name}}</p>
        <p>{{id}}</p>
        <el-button class="button-new-tag" size="small" v-on:click="addMemberTest()">+ 选人</el-button>
    </template>
    <el-collapse v-model="activeNames">
        <el-collapse-item v-for="(m,i) in menu" :name="i+1" :key="i">
            <template slot="title">
                <span style="font-size:20px;">{{m.SORT_NAME}}</span>
            </template>
            <div v-for="l in m.flows" v-if="l.url" class="approval-box" v-on:click="toApprove(l.url,l.FlowId)" style="cursor:pointer;">
                <div class="approval-box-img" :style="{backgroundPosition:l.position}"></div>
                <p>{{l.FlowName}}</p>
            </div>
        </el-collapse-item>
    </el-collapse>
</el-main>

<script>
    var x = -54
    var y = -46
    var xTap = -90
    var yTap = -90
    imgConfig = [
        {
            FlowId: 1,
            url: '/approval/officesupplies',
            position: (x + 4 * xTap) +  'px ' + (y + 0 * yTap) + 'px'
        },
        {
            FlowId: 6,
            url: '/approval/UploadPaper',
            position: (x + 7 * xTap) + 'px ' + (y + 2 * yTap) + 'px'
        },
        {
            FlowId: 23,
            url: '/approval/UploadPaperRe',
            position: '-144px -47px'
        },
        {
            FlowId: 7,
            url: '/approval/DownloadPaper',
            position: '-324px -227px'
        },
        {
            FlowId: 33,
            url: '/approval/ChangePaper',
            position: (x + 2 * xTap) + 'px ' + (y + 4 * yTap) + 'px'
        },
        {
            FlowId: 8,
            url: '/approval/Purchase',
            position: '-414px -137px'
        },
        {
            FlowId: 12,
            url: '/approval/AddMaterielCode',
            position: '-54px -227px'
        },
        {
            FlowId: 18,
            url: '/approval/officePurchase',
            position: '-413px -47px'
        },
        {
            FlowId: 9,
            url: '/approval/FileManager',
            position: '-774px -227px'
        },
        {
            FlowId: 10,
            url: '/approval/ProjectManager',
            position: '-232px -317px'
        },
        {
            FlowId: 11,
            url: '/approval/AddProject',
            position: '-594px -227px'
        },
        {
            FlowId: 13,
            url: '/approval/UsePublicCar',
            position: '-775px -317px'
        },
        {
            FlowId: 14,
            url: '/approval/UseCar',
            position: '-504px -405px'
        },
        {
            FlowId: 15,
            url: '/approval/CarManager',
            position: '-144px -227px'
        },
        {
            FlowId: 16,
            url: '/approval/Vote',
            position: '-594px -47px'
        },
        {
            FlowId: 17,
            url: '/approval/WorkOvertime',
            position: '-323px -47px'
        },
        {
            FlowId: 19,
            url: '/approval/SendRead',
            position: '-778px -138px'
        },
        {
            FlowId: 20,
            url: '/approval/PublishNew',//新闻发布
            position: '-54px -138px'
        },
        {
            FlowId: 21,
            url: '/approval/PublishRecruit',//招聘信息发布
            position: '-778px -138px'
        },
        {
            FlowId: 24,
            url: '/approval/Gift',//礼品申请
            position: (x + 0 * xTap) + 'px ' + (y + 4 * yTap) + 'px'
        },
        {
            FlowId: 25,
            url: '/approval/UploadPic',
            position: (x + 2 * xTap) + 'px ' + (y + 3 * yTap) + 'px'
        },
        {
            FlowId: 26,
            url: '/approval/picking',
            position: (x + 1 * xTap) + 'px ' + (y + 4 * yTap) + 'px'
        },
        {
            FlowId: 27,
            url: '/approval/intoStorage',
            position: (x + 3 * xTap) + 'px ' + (y + 4 * yTap) + 'px'
        },
        {
            FlowId: 30,
            url: '/approval/goOut',
            position: (x + 1 * xTap) + 'px ' + (y + 3 * yTap) + 'px'
        },
        {
            FlowId: 31,
            url: '/approval/createProject',
            position: (x + 8 * xTap -3) + 'px ' + (y + 1 * yTap -3) + 'px'
        },
        {
            FlowId: 32,
            url: '/approval/crossHelp',
            position: (x + 6 * xTap) + 'px ' + (y + 3 * yTap) + 'px'
        }
        ,
        {
            FlowId: 34,
            url: '/approval/techonologySupply',
            position: (x + 2 * xTap) + 'px ' + (y + 1 * yTap) + 'px'
        },
        {
            FlowId: 35,
            url: '/approval/letGoodsGo',
            position: (x + 8 * xTap -4) + 'px ' + (y + 0 * yTap) + 'px'
        },
        {
            FlowId: 36,
            url: '/approval/intellectualProperty',
            position: (x + 2 * xTap) + 'px ' + (y + 2 * yTap) + 'px'
        },
        {
            FlowId: 66,
            url: '/approval/pickingManager',
            position: (x + 5 * xTap) + 'px ' + (y + 0 * yTap) + 'px'
        },
        {
            FlowId: 67,
            url: '/approval/borrowThing',
            position: (x + 6 * xTap) + 'px ' + (y + 0 * yTap) + 'px'
        },
        {
            FlowId: 68,
            url: '/approval/maintain',
            position: (x + 4 * xTap) + 'px ' + (y + 4 * yTap) + 'px'
        },
        {
            FlowId: 69,//
            url: '/approval/projectClosure',
            position: (x + 8 * xTap -3) + 'px ' + (y + 4 * yTap) + 'px'
        },
        {
            FlowId: 70,//
            url: '/approval/produceRate',
            position: (x + 5 * xTap) + 'px ' + (y + 2 * yTap) + 'px'
        }

    ]
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                activeNames: [2,7],
                count: 2,
                name: '',
                id: '',
                menu: [],
                list: [],
                userList: userList,
                userName: DingData.nickName
            }
        },
        methods: {
            getMenu: function () {
                this.GetData('FlowInfoNew/LoadFlowSort?id=123', (res) => {
                    for (let r of res) {
                        _mergeObjectArr(r.flows, imgConfig, 'FlowId')
                    }
                    this.menu = res
                    this.filterMenuList()
                })
            },
            filterMenuList() {
                var that = this
                var url = '/Role/GetRoleInfo?RoleName=研究院官网维护人员' 
                $.ajax({
                    url: url,
                    success: function (data) {
                        console.log(data)
                        let isRole = false
                        for (let d of data) {
                            console.log(d)
                            if (d.emplId == DingData.userid) {
                                isRole = true
                                break
                            }
                        }
                        if (!isRole) {
                            for (var i = 0; i < that.menu.length; i++) {
                                if (that.menu[i].SORT_NAME == '研究院官网管理') {
                                    that.menu.splice(i, 1)
                                }
                            }
                        }
                    }
                })
                var url2 = '/Role/GetRoleInfo?RoleName=项目管理员'
                $.ajax({
                    url: url2,
                    success: function (data) {
                        console.log(data)
                        let isRole = false
                        for (let d of data) {
                            console.log(d)
                            if (d.emplId == DingData.userid) {
                                isRole = true
                                break
                            }
                        }
                        if (!isRole) {
                            for (var i = 0; i < that.list.length; i++) {
                                if (that.list[i].FlowId == 11 && that.userName != '黄浩炜') {
                                    that.list.splice(i, 1)
                                }
                            }
                        }
                    }
                })
            },
            addMemberTest() {
                var that = this

                DingTalkPC.biz.contact.choose({
                    users: [], //默认选中的用户列表，员工userid；成功回调中应包含该信息
                    corpId: DingData.CorpId, //企业id
                    max: 10, //人数限制，当multiple为true才生效，可选范围1-1500
                    onSuccess: function (data) {
                        console.log(data)
                        that.name = data[0].name
                        that.id = data[0].emplId
                        DingData.userid = data[0].emplId
                        DingData.nickName = data[0].name


                        var url2 = '/DingTalkServers/getUserDetail?userId=' + data[0].emplId
                        $.ajax({
                            url: url2,
                            type: 'POST',
                            success: function (data) {
                                console.log(url2)
                                console.log(JSON.parse(data))
                                data = JSON.parse(data)
                                DingData.nickName = data.name
                                DingData.roles = data.roles
                            }
                        })

                    },
                    onFail: function (err) { }
                });
            },
            toApprove: function (url, id) {
                FlowId = id
                loadPage(url)
            },
            loadPage: function (url) {
                $("#tempPage").load(url)
            },
            selectUser: function (id) {
                console.log(id)
                for (var user of this.userList) {
                    if (user.PeopleId == id) {
                        DingData.userid = user.PeopleId
                        DingData.nickName = user.NodePeople
                    }
                }
            },
            getUserInfo: function () {
                this.GetData("FlowInfoNew/GetUserInfo", (res) => {
                    this.userList = res
                })
            }
        },
        created: function () {
            var that = this
            var node = document.getElementById('content');
            var intval = window.setInterval(function () {
                if (DingData.userid) {
                    that.getMenu()
                    clearInterval(intval)
                }
            },200)
            this.getUserInfo()
            loadHtml("mainPage", "partPage")
        }
    })

</script>
