@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}-{{nodeInfo.NodeName}}
    </div>
    <el-form v-on:submit.native.prevent :model="tableForm" :rules="rules" ref="tableForm" label-width="120px" class="demo-tableForm">

        @RenderPage("~/Views/Shared/endForm.cshtml")
        <el-form-item label="申请名称">
            <el-input v-model="tableForm.Name" style="width:550px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="申请类别">
            <el-input v-model="tableForm.Type" style="width:300px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="申请发明人(按贡献度排名)">
            <el-input v-model="tableForm.Inventor" style="width:550px;" type="textarea" :disabled="true"></el-input>
        </el-form-item>

        <hr />
        <template v-if="NodeId >= 5">
            <el-form-item label="发明人或设计人" prop="ActualInventor">
                <el-input v-model="tableForm.ActualInventor" placeholder="按贡献大小排序" style="width:500px;" :disabled="true"></el-input>
                <el-button class="button-new-tag" size="small" v-on:click="addPeerNumber()" v-if="!noEdit">+ 选人</el-button>
            </el-form-item>
            <el-form-item label="申报名称" prop="ActualName">
                <el-input v-model="tableForm.ActualName" style="width:400px;" :disabled="noEdit || State == '已完成'"></el-input>
            </el-form-item>

            <template v-if="index == 0 && NodeId == 5">
                <el-form-item label="申报单位" prop="Company">
                    <el-select v-model="tableForm.Company" style="width:400px;" :disabled="State == '已完成'">
                        <el-option v-for="s of CompanyNames" :label="s" :value="s" key="s"></el-option>
                    </el-select>
                </el-form-item>
                @*<el-form-item label="申报单位" prop="Company">
                    <el-input v-model="tableForm.Company" style="width:400px;" :disabled="State == '已完成'"></el-input>
                </el-form-item>*@
                <el-form-item label="申报类别" prop="ActualType">
                    <el-select v-model="tableForm.ActualType" style="width:300px;" :disabled="State == '已完成'">
                        <el-option v-for="s of ['发明','实用新型','外观','软件著作权']" :label="s" :value="s" key="s"></el-option>
                    </el-select>
                </el-form-item>
            </template>
            <template v-else>
                <el-form-item label="申报单位" prop="Company">
                    <el-input v-model="tableForm.Company" style="width:400px;" :disabled="noEdit"></el-input>
                </el-form-item>
                <el-form-item label="申报类别" prop="ActualType">
                    <el-input v-model="tableForm.ActualType" style="width:200px;" :disabled="noEdit"></el-input>
                </el-form-item>
            </template>
        </template>

        @RenderPage("~/Views/Shared/endButton.cshtml")
        <template v-if="state=='已完成'">
            <el-form-item>
                <el-button type="primary" v-on:click="printTable" :disabled="disablePage">打印表单</el-button>
            </el-form-item>
        </template>
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                noEdit: true,
                addPeopleNodes: [], //额外添加审批人节点数组
                rules: {
                    ActualInventor: { required: true, message: '发明人或设计人不能为空', trigger: 'blur' },
                    ActualName: { required: true, message: '申报名称不能为空', trigger: 'blur' },
                    Company: [{ required: true, message: '申报单位不能为空', trigger: 'blur' }],
                    ActualType: [{ required: true, message: '申报类别不能为空', trigger: 'blur' }],
                }
            }
        },
        methods: {
            onSubmit() {
                this.$refs['tableForm'].validate((valid) => {
                    if (valid) {
                        this.PostData('IntellectualProperty/Modify', this.tableForm, (res) => {
                            this.aggreSubmit()
                        })
                    }
                })
            },
            //选择项目组成员
            addPeerNumber() {
                var that = this
                DingTalkPC.biz.contact.choose({
                    users: [],
                    corpId: DingData.CorpId,
                    max: 10,
                    onSuccess: function (data) {
                        console.log(data)
                        let names = []
                        let ids = []
                        for (let d of data) {
                            names.push(d.name)
                            ids.push(d.emplId)
                        }
                        that.tableForm.ActualInventor = names.join(',')
                        that.tableForm.ActualInventorId = ids.join(',')
                    },
                    onFail: function (err) { }
                });
            },
            printTable() {
                this.PostData('IntellectualProperty/Print', {
                    UserId: DingData.userid,
                    TaskId: TaskId
                }, () => { this.elementAlert('提示信息', '获取成功，请在工作通知中查收') })
            },
            getTable() {
                this.GetData('IntellectualProperty/Read?taskid=' + TaskId, (res) => {
                    this.tableForm = res
                    if (!this.tableForm['ActualName']) this.tableForm['ActualName'] = res.Name
                    if (!this.tableForm['ActualType']) this.tableForm['ActualType'] = res.Type
                    if (!this.tableForm['Company']) this.tableForm['Company'] = '泉州华中科技大学智能制造研究院'
                })
            }
        },
        created: function () {
            this.initEnd(() => { this.getTable() })
            if (NodeId == 5) this.noEdit = false
        }
    })

</script>



