@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="goHome()">
        <i class="el-icon-arrow-left"></i>
        办公用品采购审批-{{nodeInfo.NodeName}}
    </div>
    <el-collapse v-model="activeNames">
        <el-collapse-item v-for="(d,i) in dataList" :name="i+1" :key="i">
            <template slot="title">
                <span style="font-size:16px;">部门名称:{{d.name}}</span>
            </template>
            <el-table :data="d.value" stripe border>
                <el-table-column prop="CodeNo" label="物料编码"></el-table-column>
                <el-table-column prop="Name" label="物料名称"></el-table-column>
                <el-table-column prop="Standard" label="规格型号"></el-table-column>
                <el-table-column prop="Unit" label="单位"></el-table-column>
                <el-table-column prop="Price" label="实际单价"></el-table-column>
                <el-table-column prop="Count" label="数量"></el-table-column>
                <el-table-column prop="applyMan" label="申请人"></el-table-column>
                @*<el-table-column prop="dept" label="部门"></el-table-column>*@
                <el-table-column prop="Mark" label="备注"></el-table-column>
            </el-table>
        </el-collapse-item>
    </el-collapse>

    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        <!--添加审批人-->
        <sam-approver-list :preset="preApprove" :nodelist="nodeList" :type="'approve'" :single="true"
                           :nodeid="nodeInfo.NodeId">
        </sam-approver-list>
        <template v-if="index==0">
            <el-form-item label="审批意见" prop="mark">
                <el-input v-model="ruleForm.Mark"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="onSubmit" :disabled="disablePage">同意</el-button>
                <el-button v-if="nodeInfo.IsBack" type="warning" v-on:click="returnBk" :disabled="disablePage">退回</el-button>
            </el-form-item>
        </template>
    </el-form>
</el-main>

<script>
    var allData = {}
    if (UrlObj.flowid) {
        FlowId = UrlObj.flowid
        NodeId = UrlObj.nodeid
        TaskId = UrlObj.taskid
        Id = UrlObj.id
        var Index = UrlObj.index
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                dataList: [],
                activeNames: [1, 2, 3, 4, 5, 6],
                index: Index,
                nodeList: [],
                nodeInfo: {},
                ruleForm: {
                    Mark: ''
                }
            }
        },
        methods: {
            onSubmit(formName) {
                console.log('submit!')
                this.aggreSubmit({
                    "Id": allData.Id,
                    "Remark": this.ruleForm.Mark
                })
            },
            returnBk() {
                let param = {
                    "Id": allData.Id,
                    "Remark": this.ruleForm.Mark
                }
                this.returnSubmit(param)
            },
            getBomInfo() {
                var that = this
                this._getData("/OfficeSuppliesPurchase/ReadTable" , function (data) {
                    that.dataList = []
                    console.log('获取bom表')
                    console.log(data)
                    var deptList = []
                    var deptStr = ''
                    for (let d of data) {
                        if (d.Dept && deptStr.indexOf(d.Dept) < 0) {
                            deptStr = deptStr + d.Dept + ','
                        }
                    }
                    deptStr = deptStr.substring(0, deptStr.length - 1)
                    deptList = deptStr.split(',')
                    console.log(deptStr)
                    console.log(deptList)
                    for (let d of deptList) {
                        that.dataList.push({
                            name: d,
                            value: []
                        })
                    }
                    for (let d of data) {
                        for (let l of that.dataList) {
                            if (d.Dept == l.name) {
                                l.value.push(d)
                                break
                            }
                        }
                    }
                }, { TaskId: TaskId })
            }
        },
        created: function () {
            this.getNodeInfo()
            this.getApproInfo()
            this.getBomInfo()
            loadHtml("mainPage", "partPage")
        }
    })
    getFormData()


    //获取审批表单信息
    function getFormData() {
        var url = "/FlowInfo/GetApproveInfo?TaskId=" + TaskId + "&ApplyManId=" + DingData.userid
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log("获取审批表单信息ok")
                console.log(url)
                console.log(data)
                allData = data
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

</script>



