@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="goHome()">
        <i class="el-icon-arrow-left"></i>
        礼品招待领用审批-{{nodeInfo.NodeName}}
    </div>

    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        <el-form-item label="标题" v-if="ruleForm.Title">
            <el-input v-model="ruleForm.Title" :disabled="true" style="width:500px;"></el-input>
        </el-form-item>
        <br />
        <el-form-item label="申请人">
            <el-input v-model="ruleForm.ApplyMan" :disabled="true" style="width:500px;"></el-input>
        </el-form-item>
        <br />
        <el-form-item label="用途及使用说明">
            <el-input v-model="ruleForm.Remark" :disabled="true" style="width:500px;"></el-input>
        </el-form-item>
        <br />

        <div>
            <el-table :data="data" stripe border>
                <el-table-column prop="GiftName" label="礼品名称"></el-table-column>
                <el-table-column prop="GiftCount" label="数量"></el-table-column>
            </el-table>
        </div>
        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>
        <template v-if="index==0">
            <el-form-item label="审批意见" prop="mark">
                <el-input v-model="ruleForm.Mark" style="width:550px;"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="onSubmit" :disabled="disablePage">同意</el-button>
                <el-button v-if="nodeInfo.IsBack" type="warning" v-on:click="returnBk" :disabled="disablePage">退回</el-button>
            </el-form-item>
        </template>
        <template v-if="index==2 &&( state=='被退回' || state=='已撤回')">
            <el-form-item>
                <el-button type="primary" v-on:click="reApproval" :disabled="disablePage">重新发起</el-button>
            </el-form-item>
        </template>
        <template v-if="index==2 && state=='未完成'">
            <el-form-item label="操作">
                <ding :dinglist="dingList"></ding>
                <el-button type="warning" v-on:click="rebackSubmit" :disabled="disablePage">撤回</el-button>
            </el-form-item>
        </template>
        <el-form-item v-if="index!=0">
            <el-button type="primary" v-on:click="printPdf">打印</el-button>
        </el-form-item>
    </el-form>
</el-main>

<script>
    var state = ''
    if (UrlObj.flowid) {
        FlowId = UrlObj.flowid
        NodeId = UrlObj.nodeid
        TaskId = UrlObj.taskid
        state = UrlObj.state
        Id = UrlObj.id
        var Index = UrlObj.index
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                data: [],
                NodeId: NodeId,
                index: Index,
                nodeList: [],
                nodeInfo: {},
                state: state,
                ruleForm: {
                    Mark: ''
                }
            }
        },
        methods: {
            onSubmit(formName) {
                console.log('submit!')
                if (NodeId == 2) {
                    this.PostData('Gift/StockReduce', this.data, (res) => {
                        this.aggreSubmit({
                            "Id": this.ruleForm.Id,
                            "Remark": this.ruleForm.Mark
                        })
                    })
                    return
                }
                this.aggreSubmit({
                    "Id": this.ruleForm.Id,
                    "Remark": this.ruleForm.Mark
                })
            },
            printPdf() {
                var that = this
                this._getData("/Gift/GetPrintPDF", function (result) {
                    if (result.errcode != 0) {
                        that.elementAlert('alert', result.errmsg)
                    }
                },
                {
                    UserId: DingData.userid,
                    TaskId: TaskId
                }
                )
            },
            getBomInfo() {
                var that = this
                this._getData("/Gift/GetTable" , function (result) {
                    that.data = []
                    console.log('获取bom表')
                    console.log(result)
                    that.data = result.data
                }, { TaskId: TaskId })
            }
        },
        created: function () {
            this.getBomInfo()
            loadHtml("mainPage", "partPage")
        }
    })
    getFormData(demo)

</script>



