@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="goHome()">
        <i class="el-icon-arrow-left"></i>
        办公用品采购审批-{{nodeInfo.NodeName}}
    </div>
    <p style="font-size:24px;">总价预计 <span style="color:red;font-size:24px;">{{totalPrice}}</span>元</p>
    <el-collapse v-model="activeNames">
        <el-collapse-item v-for="(d,i) in dataList" :name="i+1" :key="i">
            <template slot="title">
                <span style="font-size:16px;">部门名称:{{d.name}},请购总价预计</span>
                <span style="color:red;">{{d.tmpTotalPrice}}</span>元
            </template>
            <el-table :data="d.value" stripe border>
                <el-table-column prop="CodeNo" label="物料编码"></el-table-column>
                <el-table-column prop="Name" label="物料名称"></el-table-column>
                <el-table-column prop="Standard" label="规格型号"></el-table-column>
                <el-table-column prop="Unit" label="单位"></el-table-column>
                <el-table-column prop="Price" label="预计单价"></el-table-column>
                <el-table-column prop="Count" label="数量"></el-table-column>
                <el-table-column prop="totalPrice" label="总价"></el-table-column>
                <el-table-column prop="Purpose" label="用途"></el-table-column>
                <el-table-column label="是否删除" width="150" v-if="NodeId == 2">
                    <template slot-scope="scope">
                        <el-button size="mini" v-if="NodeId == 2" :type="scope.row.IsDelete?'primary':'danger'" v-on:click="setState(scope.$index, scope.row)">{{scope.row.IsDelete?'还原':'删除'}}</el-button>
                        <span :class="{'redFont':scope.row.IsDelete,'greenFont':!scope.row.IsDelete}">{{scope.row.IsDelete?'已删除':'正常'}}</span>
                    </template>
                </el-table-column>
                @*<el-table-column prop="applyMan" label="申请人"></el-table-column>*@
                @*<el-table-column prop="dept" label="部门"></el-table-column>*@
                @*<el-table-column prop="Mark" label="备注"></el-table-column>*@
                @*<el-table-column prop="Price" label="实际单价" v-if="NodeId == 2">
            <template slot-scope="scope">
                <el-input v-model="scope.row.Price"
                          :class="{ redborder:scope.row.Price == '' || scope.row.Price == null}"></el-input>
            </template>
        </el-table-column>
        <el-table-column prop="Price" label="实际单价" v-if="NodeId > 2"></el-table-column>*@
            </el-table>
        </el-collapse-item>
    </el-collapse>

    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>
        <template v-if="index==0">
            <el-form-item label="审批意见" prop="mark">
                <el-input v-model="ruleForm.Mark" style="width:400px;"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="onSubmit" :disabled="disablePage">同意</el-button>
                <el-button v-if="nodeInfo.IsBack" type="warning" v-on:click="returnBk" :disabled="disablePage">退回</el-button>
            </el-form-item>
        </template>
        <template v-if="index==2 && state=='未完成'">
            <el-form-item>
                <ding :dinglist="dingList"></ding>
                <el-button type="warning" v-on:click="rebackSubmit" :disabled="disablePage">撤回</el-button>
            </el-form-item>
        </template>
        <template v-if="index!=0">
            <el-form-item>
                <el-button type="primary" v-on:click="printTable" :disabled="disablePage">打印表单</el-button>
            </el-form-item>
        </template>
    </el-form>
</el-main>

<script>
    if (UrlObj.flowid) {
        FlowId = UrlObj.flowid
        NodeId = UrlObj.nodeid
        TaskId = UrlObj.taskid
        State = UrlObj.state
        Id = UrlObj.id
        var Index = UrlObj.index
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                dataList: [],
                NodeId: NodeId,
                state: State,
                activeNames: [1, 2, 3, 4, 5, 6],
                index: Index,
                nodeList: [],
                nodeInfo: {},
                totalPrice:0,
                ruleForm: {
                    Mark: ''
                }
            }
        },
        methods: {
            onSubmit(formName) {
                console.log('submit!')
                var that = this
                if (NodeId == '2') {
                    let url = '/OfficeSuppliesPurchase/ModifyTable'
                    var param = []
                    for (let d of that.dataList) {
                        for (let v of d.value) {
                            param.push(v)
                        }
                    }
                    console.log(JSON.stringify(param))
                    that._postData(url, function (data) {
                        that.aggreSubmit({
                            "Id": that.ruleForm.Id,
                            "Remark": that.ruleForm.Mark
                        })
                    }, param)
                }
                else {
                    this.aggreSubmit({
                        "Id": this.ruleForm.Id,
                        "Remark": this.ruleForm.Mark
                    })
                }
            },
            //打印表单
            printTable() {
                this.PostData('OfficeSuppliesPurchase/PrintPDF', {
                    UserId: DingData.userid,
                    TaskId: TaskId
                }, () => { this.elementAlert('提示信息', '获取成功，请在工作通知中查收') })
            },
            //设置BOM表单状态
            setState(index, row) {
                row.IsDelete = !row.IsDelete
            },
            getBomInfo() {
                var that = this
                this._getData("/OfficeSuppliesPurchase/ReadTable" , function (data) {
                    that.dataList = []
                    console.log('获取bom表')
                    console.log(data)
                    var deptList = []
                    var deptStr = ''
                    for (let d of data) {
                        if (d.Dept && deptStr.indexOf(d.Dept) < 0) {
                            deptStr = deptStr + d.Dept + ','
                        }
                    }
                    deptStr = deptStr.substring(0, deptStr.length - 1)
                    deptList = deptStr.split(',')
                    console.log(deptStr)
                    console.log(deptList)
                    for (let d of deptList) {
                        that.dataList.push({
                            name: d,
                            value: [],
                            tmpTotalPrice: 0
                        })
                    }
                    for (let d of data) {
                        for (let l of that.dataList) {
                            if (d.Dept == l.name) {
                                d['totalPrice'] = (d.Price * d.Count)
                                l.value.push(d)
                                l.tmpTotalPrice += (d.Price * d.Count)
                                that.totalPrice += (d.Price * d.Count)
                                break
                            }
                        }
                    }
                    that.totalPrice = that.totalPrice.toFixed(2)
                }, { TaskId: TaskId })
            }
        },
        created: function () {
            this.getBomInfo()
            loadHtml("mainPage", "partPage")
        }
    })
    getFormData(demo)

</script>



