@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        公车申请审批-{{nodeInfo.NodeName}}
    </div>
    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">

        <el-form-item label="驾驶员">
            <el-input v-model="ruleForm.DrivingMan" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="同行人">
            <el-input v-model="ruleForm.PeerNumber" style="width:500px;" :disabled="true"></el-input>
        </el-form-item>

        <el-form-item label="用车事由">
            <el-input v-model="ruleForm.MainContent" style="width:550px;" :disabled="true"></el-input>
        </el-form-item>
        <hr />
        <el-form-item label="计划行车路线">
            <el-input v-model="ruleForm.PlantTravelWay" style="width:550px;" :disabled="true"></el-input>
        </el-form-item>

        <template v-if="reInput">
            <el-form-item label="实际行车路线" prop="FactTravelWay">
                <el-input v-model="ruleForm.FactTravelWay" :disabled="ifDisabeleEdit" style="width:550px;"></el-input>
            </el-form-item>
            <el-form-item label="起始公里数" prop="StartKilometres">
                <el-input v-model="ruleForm.StartKilometres" :disabled="ifDisabeleEdit"></el-input>
            </el-form-item>
            <el-form-item label="结束公里数" prop="EndKilometres">
                <el-input v-model="ruleForm.EndKilometres" :disabled="ifDisabeleEdit"></el-input>
            </el-form-item>
            <el-form-item label="使用公里数">
                <el-input v-model="UseKilometres" :disabled="true"></el-input>
            </el-form-item>
        </template>


        @*<el-form-item label="起始公里数">
            <el-input v-model="ruleForm.StartKilometres" :disabled="true"></el-input>
        </el-form-item>*@
        <el-form-item label="开始时间">
            <el-input v-model="ruleForm.StartTime" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="返回时间">
            <el-input v-model="ruleForm.EndTime" :disabled="true"></el-input>
        </el-form-item>

        <el-form-item label="车辆选择" prop="CarId" v-if="NodeId == 2">
            <el-select v-model="ruleForm.CarId" v-on:change="selectCar" filterable placeholder="请选择">
                <el-option v-for="item in carList"
                           :key="item.Id"
                           :label="item.Name + ' - ' + item.CarNumber"
                           :value="item.Id">
                </el-option>
            </el-select>
            <template v-if="CarObj && CarObj.IsOccupyCar">
                <span style="color:red;">当前被占用,占用情况如下</span>
                <p v-for="u in useTimeList">
                    <span>驾驶员:{{u.name}}</span>
                    <span>占用时间:{{u.time}}</span>
                </p>
            </template>
        </el-form-item>

        <el-form-item label="使用车辆" v-if="NodeId > 2">
            <el-input v-model="carName" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="意见">
            <el-input v-model="ruleForm.Mark" style="width:550px;"></el-input>
        </el-form-item>

        <hr />

        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>
        <el-form-item label="操作" v-if="index==0">
            <el-button type="primary" v-on:click="onSubmit('ruleForm')" :disabled="disablePage">同意</el-button>
            <el-button v-show="nodeInfo.IsBack" type="warning" v-on:click="returnBk()" :disabled="false">退回</el-button>
        </el-form-item>
        <el-form-item label="操作" v-if="index==1 || index==2">
            <el-button type="primary" v-on:click="printPdf">打印</el-button>
        </el-form-item>
        <template v-if="index==2 && state=='未完成'">
            <el-form-item>
                <Ding2 :dinglist="dingList" :userid="userid" :flowid="flowid"></Ding2>
                <el-button type="warning" v-on:click="rebackSubmit" :disabled="disablePage">撤回</el-button>
            </el-form-item>
        </template>
    </el-form>
</el-main>

<script>
    var allData = {}
    if (UrlObj.flowid) {
        FlowId = UrlObj.flowid
        NodeId = UrlObj.nodeid
        TaskId = UrlObj.taskid
        state = UrlObj.state
        Id = UrlObj.id
        var Index = UrlObj.index
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                carList: [],
                useTimeList: [],
                //钉一下需要的参数
                flowid: UrlObj.flowid,
                userid: DingData.userid,
                DingData: DingData,
                index: Index,
                state: state,
                NodeId: NodeId,
                nodeList: [],
                nodeInfo: {},
                carName: '',
                reInput: false,
                ifDisabeleEdit: Index != 0,
                ruleForm: {
                    
                },
                rules: {
                    CarId: { required: true, message: '选派车辆不能为空', trigger: 'blur' },
                    FactTravelWay: { required: true, message: '实际行车路线不能为空', trigger: 'blur' },
                    StartKilometres: [{ required: true, message: '起始公里数不能为空', trigger: 'blur' }],
                    EndKilometres: [{ required: true, message: '结束公里数不能为空', trigger: 'blur' }]
                }
            }
        },
        methods: {
            onSubmit(formName) {
                console.log('submit!')
                var that = this
                let url = '/CarTable/TableModify'
                var param = _cloneObj(this.ruleForm)
                param.UseKilometres = this.UseKilometres
                console.log(param)
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this._postData(url, function () {
                            that.aggreSubmit({
                                "Id": allData.Id,
                                "Remark": that.ruleForm.Mark
                            })
                        }, param)
                    }
                })
            },
            returnBk() {
                let param = {
                    "Id": allData.Id,
                    "Remark": this.ruleForm.Mark
                }
                this.returnSubmit(param)
            },
            //撤回审批
            rebackSubmit() {
                this.disablePage = true
                var param = {
                    "Id": allData.Id,
                    "NodeId": 0,
                    "Remark": this.ruleForm.mark
                }
                this.returnSubmit(param)
            },
            //选车操作
            selectCar(value) {
                //value = JSON.parse(value)
                console.log('选车操作')
                console.log(value)
                let car = {}
                this.useTimeList = []
                for (let c of this.carList) {
                    if (c.Id == value) {
                        car = c
                        if (!c.UseMan) break
                        let nameList = c.UseMan.split(',')
                        let timeList = c.UseTimes.split(',')
                        for (var i = 0; i < nameList.length; i++) {
                            this.useTimeList.push({
                                name: nameList[i],
                                time: timeList[i]
                            })
                        }
                    }
                }
                this.ruleForm.CarId = car.Id
                this.ruleForm.Name = car.Name
                this.ruleForm.OccupyCarId = car.OccupyCarId
                this.ruleForm.IsOccupyCar = car.IsOccupyCar
            },
            printPdf() {
                var that = this
                this._postData("/CarTable/GetPrintPDF", function (result) {
                        that.elementAlert('alert', result.errmsg)
                    },
                    {
                        UserId: DingData.userid,
                        TaskId: TaskId,
                        IsPublic: true
                    }
                )
            },
            getUseCarTable() {
                var that = this
                this._getData("/CarTable/TableQuary", function (data2) {
                    if (!data2[0].FactTravelWay) data2[0].FactTravelWay = data2[0].PlantTravelWay
                    that.ruleForm = data2[0]
                    //that.ruleForm['Mark'] = ''
                    if (NodeId<=2)that.ruleForm['CarId'] = ''
                    var param = {
                        startTime: that.ruleForm.StartTime,
                        endTime: that.ruleForm.EndTime
                    }
                    that._getData('/CarMananger/QuaryByTime', function (data) {
                        for (let d of data) {
                            if (d.Id == that.ruleForm.CarId) {
                                that.carName = d.Name + ' - ' + d.CarNumber
                                that.ruleForm['Name'] = d.Name
                            }
                        }
                        that.carList = data
                    } , param)
                }, { TaskId: TaskId })
            }
        },
        created: function () {
            this.getUseCarTable()
            if (NodeId == '3' || NodeId == '4') this.reInput = true
            loadHtml("mainPage", "partPage")
        },
        computed: {
            UseKilometres: function () {
                return this.ruleForm.EndKilometres - this.ruleForm.StartKilometres
            },
            CarObj: function () {
                for (let car of this.carList) {
                    if (car.Id == this.ruleForm.CarId)
                        return car
                }
            }
        }
    })
    getFormData(demo)

</script>



