@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        外出申请审批-{{nodeInfo.NodeName}}
    </div>
    <el-form :model="tableForm" :rules="rules" :inline="true" label-width="120px" class="demo-ruleForm">

        <el-form-item label="申请人">
            <el-input v-model="ruleForm.ApplyMan" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="同行人">
            <el-input v-model="tableForm.EvectionMan" style="width:500px;" :disabled="true"></el-input>
            <el-input v-model="tableForm.EvectionManId" style="display:none;"></el-input>
        </el-form-item>
        <hr />
        <el-form-item label="外出地点">
            <el-input v-model="tableForm.Place" style="width:550px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="外出事由">
            <el-input v-model="tableForm.Content" style="width:550px;" :disabled="true"></el-input>
        </el-form-item>

        <el-form-item label="开始时间">
            <el-input v-model="tableForm.BeginTime" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="返回时间">
            <el-input v-model="tableForm.EndTime" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="时长/小时">
            <el-input v-model="tableForm.Duration" :disabled="true"></el-input>
        </el-form-item>
        <!--图片展示-->
        <el-form-item v-if="imageList.length > 0" label="相关图片">
            <el-upload action=""
                       list-type="picture-card"
                       :on-preview="handlePictureCardPreview2"
                       :file-list="imageList">
            </el-upload>
        </el-form-item>

        <div class="pre-image" v-if="showPre" v-on:click="showPre = false">
            <img :src="preUrl" />
        </div>

        <!--相关文件-->
        <el-form-item v-if="fileList.length > 0" label="相关文件">
            <el-card class="box-card">
                <div v-for="f in fileList" :key="f.name" class="text item">
                    <span>{{ f.name }}</span>
                    <el-button size="mini" type="primary" v-on:click="downloadFile(f.mediaId)">下载</el-button>
                </div>
            </el-card>
        </el-form-item>
        <el-form-item label="意见">
            <el-input v-model="ruleForm.Mark" style="width:550px;"></el-input>
        </el-form-item>
        <hr />

        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>
        <el-form-item label="操作" v-if="index==0">
            <el-button type="primary" v-on:click="onSubmit('ruleForm')" :disabled="disablePage">同意</el-button>
            <el-button v-show="nodeInfo.IsBack" type="warning" v-on:click="returnBk()">退回</el-button>
        </el-form-item>
        <template v-if="index==2 &&( state=='被退回' || state=='已撤回')">
            <el-form-item>
                <el-button type="primary" v-on:click="reApproval" :disabled="disablePage">重新发起</el-button>
            </el-form-item>
        </template>
        <template v-if="index==2 && state=='未完成'">
            <el-form-item>
                <ding :dinglist="dingList"></ding>
                <el-button type="warning" v-on:click="rebackSubmit" :disabled="disablePage">撤回</el-button>
            </el-form-item>
        </template>
        <el-form-item label="操作" v-if="index!=0">
            <el-button type="primary" v-on:click="printPdf">打印</el-button>
        </el-form-item>
    </el-form>
</el-main>

<script>
    var imageList = []
    if (UrlObj.flowid) {
        FlowId = UrlObj.flowid
        NodeId = UrlObj.nodeid
        TaskId = UrlObj.taskid
        State = UrlObj.state
        Id = UrlObj.id
        var Index = UrlObj.index
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                carList: [],
                imageList: imageList,
                index: Index,
                NodeId: NodeId,
                NodeId: parseInt(NodeId),
                nodeList: [],
                state: State,
                nodeInfo: {},
                tableForm: {

                },
                dialogVisible: false,
               
            }
        },
        methods: {
            onSubmit() {
                this.aggreSubmit({
                    "Id": this.ruleForm.Id,
                    "Remark": this.ruleForm.Mark,
                    "ImageUrl": this.ruleForm.ImageUrl,
                    "OldImageUrl": this.ruleForm.OldImageUrl
                })
            },
            getTable() {
                this.GetData('/Evection/Read' + _formatQueryStr({ TaskId: TaskId }), (res)=> {
                    this.tableForm = res
                })
            },
            printPdf() {
                var that = this
                this._postData("/Evection/GetPrintPDF", function (result) {
                    that.elementAlert('alert', result.errmsg)
                },
                    {
                        UserId: DingData.userid,
                        TaskId: TaskId,
                        IsPublic: false
                    }
                )
            },
        },
        
        created: function () {
            this.getTable()
            this.GetDingList(TaskId)
            loadHtml("mainPage", "partPage")
        }
    })
    getFormData(demo)
</script>



