@{
    Layout = null;
}

<!--右侧实体内容-->
<div id="partPage">
    <!--查詢表單-->
    <el-form :inline="true" :model="formInline" class="demo-form-inline">

        <el-form-item label="关键字">
            <el-input v-model="formInline.user" placeholder="关键字"></el-input>
        </el-form-item>
        <el-form-item label="下拉选择">
            <el-select v-model="formInline.region" placeholder="下拉选择">
                <el-option label="上海" value="shanghai"></el-option>
                <el-option label="北京" value="beijing"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" v-on:click="onFilter">查询</el-button>
        </el-form-item>
        <el-form-item>
            <el-date-picker v-model="formInline.date"
                            type="daterange"
                            :picker-options="pickerOptions"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
            </el-date-picker>
        </el-form-item>

    </el-form>
    <!--表格實體-->
    <el-table :data="tableData" stripe border>
        <el-table-column prop="date" label="日期" width="140">
        </el-table-column>
        <el-table-column prop="name" label="姓名" width="120">
        </el-table-column>
        <el-table-column prop="address" label="地址">
        </el-table-column>
    </el-table>
    <!--底部翻頁-->
    <div style="text-align:right">
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="currentPage4"
                       :page-sizes="[1, 3, 5, 10]"
                       :page-size="5"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="10">
        </el-pagination>
    </div>
</div>


<script>

    new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                tableData: tableData,
                currentPage4: 1,
                formInline: {
                    user: '',
                    region: '',
                    date: ''
                }
            }
        },
        methods: {
            //表格相關事件

            //翻頁相關事件
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            },
            //查詢相關頁面
            onFilter() {
                console.log(this.formInline)
            }
        },
        created: function () {
            loadHtml("mainPage", "partPage")
        }
    })

    function formatQueryStr(object) {
        var obj = _cloneObj(object)
        var queryStr = ''
        for (var o in obj) {
            if (o == 'date') {

            }
        }
    }

</script>