@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage">
    <h3>欢迎访问</h3>
    <h1>Home8</h1>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {

            }
        },
        methods: {
            loadHtml: function () {
                $("#mainPage").html('')
                var div = $("#partPage")
                $("#mainPage").append(div)
            }
        },
        created: function () {
            this.loadHtml()
        }
    })


</script>



