@{
    Layout = null;
}

<!--右侧实体内容-->
<div id="partPage">

    <p>{{name}}</p>
    <p>{{id}}</p>
    <el-button class="button-new-tag" size="small" v-on:click="addMemberTest()">+ 选人</el-button>
</div>


<script>

    new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                name: '',
                id: ''
            }
        },
        methods: {
            addMemberTest() {
                var that = this

                DingTalkPC.biz.contact.choose({
                    users: [], //默认选中的用户列表，员工userid；成功回调中应包含该信息
                    corpId: DingData.CorpId, //企业id
                    max: 10, //人数限制，当multiple为true才生效，可选范围1-1500
                    onSuccess: function (data) {
                        console.log(data)
                        that.name = data[0].name
                        that.id = data[0].emplId
                    },
                    onFail: function (err) { }
                });
            }
        },
        created: function () {
            loadHtml("mainPage", "partPage")
        }
    })

</script>