@{
    Layout = null;
}

<!--右侧实体内容-->
<div id="partPage">
    <!--创建项目表单-->
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"
             enctype="multipart/form-data">
        <template v-if="showAddProject">
            <el-form-item label="项目名称" prop="inputProjectName">
                <el-input v-model="ruleForm.inputProjectName"></el-input>
            </el-form-item>
            <el-form-item label="项目编号" prop="inputProjectId">
                <el-input v-model="ruleForm.inputProjectId"></el-input>
            </el-form-item>
            <el-form-item label="开始日期">
                <el-date-picker v-model="ruleForm.Time"
                                type="daterange"
                                :picker-options="pickerOptions"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                </el-date-picker>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="addProject">添加</el-button>
            </el-form-item>
        </template>
    </el-form>
</div>


<script>
    var Index = 0
    new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                data: [],
                tableData: [],
                ruleForm: {
                    inputProjectName: '',
                    inputProjectId: '',
                    ProjectName: '',
                    ProjectId: null,
                    Time: ''
                },
                items: { TaskId: '审批编号' ,ApplyMan:'审批人'}
            }
        },
        methods: {
            //获取项目数据getProject
            getProject() {
                var that = this
                url = "/Project/GetAllProJect?ApplyManId=" + DingData.userid
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        console.log("获取项目列表数据 GetAllProJect")
                        console.log(data)
                        that.data = data
                        that.totalRows = data.length
                        that.getData()
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(XMLHttpRequest.status);
                    }
                })
            },
            //表单操作
            handleEdit(index, row) {
                console.log(index, row);
                if (row.TaskId && row.FlowId) {
                    if (row.FlowId == 7) {
                        loadPage('/Main/approval_detail2?taskid=' + row.TaskId + '&flowid=' + row.FlowId + '&nodeid=' + row.NodeId + '&id=' + row.Id + '&index=' + Index)
                        return
                    }
                    loadPage('/Main/approval_detail?taskid=' + row.TaskId + '&flowid=' + row.FlowId + '&nodeid=' + row.NodeId + '&id=' + row.Id + '&index=' + Index)
                }
            },
            handleDelete(index, row) {
                console.log(index, row);
            }
        },
        created: function () {
            this.getProject()
            loadHtml("mainPage", "partPage")
        }
    })


</script>