@{
    Layout = null;
}

<!--右侧实体内容-->
<script src="~/Scripts/echarts-all.js"></script>
<el-main id="partPage">
    <el-collapse v-model="activeNames">
        <el-collapse-item name="1">
            <template slot="title">
                <span style="font-size:20px;">行政类（{{count}}）</span>
            </template>
            <div class="approval-box" onclick="loadPage('/approval/OfficeSupplies')">
                <div class="approval-box-img" style="background-position: -774px -227px;"></div>
                <p>办公用品申请</p>
            </div>
            <div class="approval-box" onclick="loadPage('/approval/UseCar')">
                <div class="approval-box-img" style="background-position: -504px -407px;"></div>
                <p>用车申请</p>
            </div>
        </el-collapse-item>
        <el-collapse-item name="2">
            <template slot="title">
                <span style="font-size:20px;">出勤休假（{{count}}）</span>
            </template>
            <div class="approval-box" onclick="loadPage('/approval/WorkOvertime')">
                <div class="approval-box-img" style="background-position: -594px -47px;"></div>
                <p>加班申请</p>
            </div>
            <div class="approval-box">
                <div class="approval-box-img" style="background-position: -234px -317px;"></div>
                <p>提交周报</p>
            </div>
        </el-collapse-item>
        <el-collapse-item name="3">
            <template slot="title">
                <span style="font-size:20px;">项目管理（{{count}}）</span>
            </template>
            <div class="approval-box">
                <div class="approval-box-img" style="background-position: -594px -227px;"></div>
                <p>立项申请</p>
            </div>
            <div class="approval-box">
                <div class="approval-box-img" style="background-position: -684px -227px;"></div>
                <p>图纸上传</p>
            </div>
            <div class="approval-box">
                <div class="approval-box-img" style="background-position: -324px -227px;"></div>
                <p>图纸下发</p>
            </div>
        </el-collapse-item>
    </el-collapse>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                activeNames: ['1','2','3'],
                count:2
            }
        },
        methods: {

        },
        created: function () {
            loadHtml("mainPage", "partPage")
        }
    })

</script>



