@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage">
    <h3>欢迎访问</h3>
    <h1>Home6</h1>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {

            }
        },
        methods: {

        },
        created: function () {
            loadHtml("mainPage", "partPage")
        }
    })


</script>



