@{
    Layout = null;
}

<!--右侧实体内容-->
<div id="partPage">
    <!--标题-->
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        添加项目
    </div>
    <!--创建项目表单-->
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"
             enctype="multipart/form-data">
        <template>
            <el-form-item label="项目名称" prop="inputProjectName">
                <sam-input :value.sync="ruleForm.inputProjectName" :required="true"></sam-input>
            </el-form-item>
            <el-form-item label="项目编号" prop="inputProjectId">
                <el-input v-model="ruleForm.inputProjectId"></el-input>
            </el-form-item>
            <el-form-item label="承担部门">
                <el-select v-model="ruleForm.DeptName" style="width:300px;">
                    <el-option v-for="(d,index) of DeptNames" :label="d" :value="d" :key="index"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="状态" required="required">
                <el-select v-model="ruleForm.ProjectState">
                    <el-option v-for="s of status" :label="s" :value="s" :key="s"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="合作单位">
                <el-input v-model="ruleForm.Customer"></el-input>
            </el-form-item>
            <el-form-item label="商务对接人">
                <el-input v-model="ruleForm.BusinessDocker"></el-input>
            </el-form-item>
            <el-form-item label="项目类型" required="required">
                <div class="block">
                    <el-cascader v-model="ptypes"
                                 :options="PTypes"
                                 :props="{ expandTrigger: 'hover' }"
                                 v-on:change="handleChange"></el-cascader>
                </div>
            </el-form-item>
            <el-form-item label="项目负责人" required="required">
                <span>{{ResponsibleMan[0].name}} &nbsp;</span>
                <el-button class="button-new-tag" size="small" v-on:click="addMan">+ 选择</el-button>
            </el-form-item>
            <el-form-item label="项目组成员" required="required">
                <sam-group :names.sync="ruleForm.TeamMembers" :ids.sync="ruleForm.TeamMembersId"></sam-group>
            </el-form-item>
            <el-form-item label="项目周期" required="required">
                <el-date-picker v-model="ruleForm.Time"
                                type="daterange" :ediTable="false"
                                :picker-options="pickerOptions"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                </el-date-picker>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="addProject" :disabeld="disablePage">添加</el-button>
            </el-form-item>
        </template>
    </el-form>
</div>
<script>
    var Index = 0
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                status: ['在研', '已完成', '终止', '暂停'],
                ResponsibleMan: [{ name: '', emplId: '' }],
                ProjectTypes: ProjectTypes,
                DeptNames: DeptNames,
                ptypes: [PTypes[0].label, PTypes[0].children[0].label],
                ruleForm: {
                    TeamMembers: '',
                    TeamMembersId: '',
                    inputProjectName: '',
                    inputProjectId: '',
                    DeptName: '',
                    ProjectState: '',
                    ProjectName: '',
                    ProjectId: null,
                    Time: ''
                }
            }
        },
        methods: {
            //添加项目
            addProject() {
                var that = this
                this.$refs['ruleForm'].validate((valid) => {
                    if (valid && this.ResponsibleMan[0].name && this.ruleForm.ProjectState && this.ruleForm.Time[0]) {
                        that.disablePage = true
                        var param = {
                            "ProjectName": this.ruleForm.inputProjectName,
                            "CreateTime": _getTime(), 
                            "CompanyName": CompanyNames[0],
                            "IsEnable": true,
                            "ProjectState": this.ruleForm.ProjectState,
                            "IsFinish": false,
                            "DeptName": this.ruleForm.DeptName,
                            "ApplyMan": DingData.nickName,
                            "ApplyManId": DingData.userid,
                            "StartTime": this.ruleForm.Time[0]?_dateToString(this.ruleForm.Time[0]):'',
                            "EndTime": this.ruleForm.Time[1]?_dateToString(this.ruleForm.Time[1]):'',
                            "ProjectId": this.ruleForm.inputProjectId,
                            "ResponsibleMan": this.ResponsibleMan[0].name,
                            "ResponsibleManId": this.ResponsibleMan[0].emplId,
                            "TeamMembers": this.ruleForm.TeamMembers,
                            "TeamMembersId": this.ruleForm.TeamMembersId,
                            "ProjectType": this.ptypes[0],
                            "ProjectSmallType": this.ptypes[1],
                            "BusinessDocker": this.ruleForm.BusinessDocker,
                            "CreateManId": DingData.userid,
                            "CreateMan": DingData.nickName
                        }
                        console.log(param)
                        this.PostData('/ProjectNew/AddProject', [param], (res) => {
                            that.$alert('添加成功', '提示信息', {
                                confirmButtonText: '确定',
                                callback: action => {
                                    loadPage('/main/Approval')
                                }
                            });
                        })
                    }
                    else {
                        that.$alert('表单信息不全或有误', '提示信息', {
                            confirmButtonText: '确定'
                        })
                    }
                })
            },
            handleChange(value) {
                console.log(value)
                this.ptypes = value
            },
        },
        created: function () {
            loadHtml("mainPage", "partPage")
        }
    })


</script>