@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <!--标题-->
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}申请-{{nodeInfo.NodeName}}
    </div>
    <div>
        <span style="color:red">*</span><span style="padding:3px;">关键字</span>
        <sam-input :value.sync="searchForm.name" :required="true" style="width:200px;" placeholder="请输入搜索关键字"></sam-input>
        <el-button type="primary" v-on:click="searchCode">搜索</el-button>
    </div>
    <!--物料列表表格實體-->
    <el-Table :data="tableData" stripe border>
        <el-Table-column prop="FNumber" label="物料编码"></el-Table-column>
        <el-Table-column prop="FName" label="物料名称"></el-Table-column>
        <el-Table-column prop="FModel" label="规格型号"></el-Table-column>
        <el-Table-column prop="FNote" label="预计单价"></el-Table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button v-if="noList.indexOf(scope.row.FNumber) < 0" size="mini" v-on:click="addGood(scope.$index, scope.row)">选择</el-button>
                <p v-if="noList.indexOf(scope.row.FNumber) >= 0">已选择</p>
            </template>
        </el-table-column>
    </el-Table>
    <!--底部翻頁-->
    <div style="text-align:right">
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[1, 3, 5, 10]"
                       :page-size="pageSize"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="totalRows">
        </el-pagination>
    </div>
    <hr />
    <h3>已选物料</h3>
    <!--采购列表表格實體-->
    <el-Table :data="purchaseList" stripe border>
        <el-Table-column prop="CodeNo" type="index"></el-Table-column>
        <el-Table-column label="操作" width="80">
            <template slot-scope="scope">
                <el-button size="mini" type="danger" v-on:click="deleteGood(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-Table-column>
        <el-Table-column prop="CodeNo" label="物料编码"></el-Table-column>
        <el-Table-column prop="Name" label="物料名称"></el-Table-column>
        <el-Table-column prop="Supplier" label="供应商" width="250">
            <template slot-scope="scope">
                <sam-input :value.sync="scope.row.Supplier" :required="true"></sam-input>
            </template>
        </el-Table-column>
        <el-Table-column prop="Unit" label="单位">
            <template slot-scope="scope">
                <sam-input :value.sync="scope.row.Unit" :required="true"></sam-input>
            </template>
        </el-Table-column>
        <el-Table-column prop="Count" label="数量" width="100">
            <template slot-scope="scope">
                <sam-input :value.sync="scope.row.Count" type="number" :required="true"></sam-input>
            </template>
        </el-Table-column>
        <el-Table-column prop="Purpose" label="用途">
            <template slot-scope="scope">
                <sam-input :value.sync="scope.row.Purpose" :required="true"></sam-input>
            </template>
        </el-Table-column>
        <el-Table-column label="开始日期" width="160">
            <template slot-scope="scope">
                <el-date-picker style="width:100%;" v-model="scope.row.StartTime" :class="{ redborder:scope.row.StartTime ==''}" :ediTable="false"
                                type="date" prefix-icon="el-icon-minus" clear-icon="el-icon-minus" value-format="yyyy-MM-dd">
                </el-date-picker>
            </template>
        </el-Table-column>
        <el-Table-column label="结束日期" width="160">
            <template slot-scope="scope">
                <el-date-picker v-model="scope.row.EndTime" :class="{ redborder:scope.row.EndTime ==''}" :ediTable="false"
                                type="date" prefix-icon="el-icon-minus" clear-icon="el-icon-minus" value-format="yyyy-MM-dd">
                </el-date-picker>
            </template>
        </el-Table-column>
        <el-Table-column prop="Price" label="单价" width="100">
            <template slot-scope="scope">
                <sam-input :value.sync="scope.row.Price"></sam-input>
            </template>
        </el-Table-column>
        <el-Table-column prop="Standard" label="规格型号"></el-Table-column>
        <el-Table-column prop="Mark" label="备注">
            <template slot-scope="scope">
                <sam-input :value.sync="scope.row.Mark"></sam-input>
            </template>
        </el-Table-column>
    </el-Table>

    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"
             id="uploadForm" enctype="multipart/form-data">
            @RenderPage("~/Views/Shared/startForm.cshtml")
            <el-form-item label="项目名称" prop="ProjectId">
                <el-select v-model="ruleForm.ProjectId" placeholder="请选择" style="width:400px;" v-on:change="selectProject" filterable>
                    <el-option v-for="item in projectList"
                               :key="item.ProjectId"
                               :label="item.ProjectId + '-' + item.ProjectName"
                               :value="item.ProjectId">
                        <span style="float: left"> {{item.ProjectId}}-{{ item.ProjectName }} </span>
                        <span style="float: right; color: #8492a6; font-size: 13px"></span>
                    </el-option>
                </el-select>
            </el-form-item>

            @RenderPage("~/Views/Shared/startButton.cshtml")
        </el-form>
</el-main>

<script>
    NodeId = '0'
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                good: {
                    Price: '',
                    Unit: '',
                    Count: ''
                },
                addPeopleNodes: [1],
                searchForm: {
                    name: '',
                },
            }
        },
        methods: {
            onSubmit(formName) {
                var that = this
                for (let p of this.purchaseList) {
                    if (!p.StartTime || !p.EndTime || !p.Unit || !p.Count || !p.Purpose || !p.Supplier) {
                        this.elementAlert('提示信息', '表单未填写完整')
                        return
                    }
                }
                for (let p of this.projectList) {
                    if (p.ProjectId == this.ruleForm.ProjectId) {
                        ProjectName = p.ProjectName
                    }
                }
                let callBack = function (taskId) {
                    that.bindAll(taskId)
                }
                this.approvalSubmit(callBack)
            },
            bindAll(taskId) {
                var paramArr = []
                for (let p of this.purchaseList) {
                    p.TaskId = taskId
                    paramArr.push(p)
                }
                this.PostData('Borrow/Save', paramArr, (res) => {
                    this.doneSubmit()
                })
            },
            //添加申请物料
            addGood(index, good) {
                for (let p of this.purchaseList) {
                    if (p.CodeNo == good.FNumber) return
                }
                //if (!checkRate(good.FNote)) good.FNote = 0
                //console.log(good.FNote)
                this.purchaseList.push({
                    CodeNo: good.FNumber,
                    Name: good.FName,
                    Standard: good.FModel,
                    Unit: '',
                    Price: good.FNote ? good.FNote : '',
                    Count: '',
                    Purpose: '',
                    StartTime: '',
                    EndTime: '',
                    Supplier: '',
                    Mark: ''
                })
                this.noList.push(good.FNumber)
            },
        },
        created: function () {
            this.initStart()
        }
    })

</script>



