@{
    Layout = null;
}

<!--右侧实体内容-->
<div id="partPage">
    <!--标题-->
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        车辆管理
    </div>
    <!--检索项目表单-->
    <div>
        <span>关键字</span>
        <sam-input :value.sync="formInline.key" style="width:200px;" placeholder="请输入车牌号、车名、颜色"></sam-input>
        <el-button type="primary" v-on:click="getCar">搜索</el-button>
        <el-button v-on:click="handleAdd" type="primary">添加车辆</el-button>
    </div>
    <!--表格實體-->
    <el-table :data="tableData" stripe border>
        <el-table-column v-for="i in items" :prop="i" :key="i" :label="tableItems[i]"></el-table-column>

        <el-table-column label="操作" width="200">
            <template slot-scope="scope">
                <el-button size="mini" v-on:click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button size="mini" type="danger" v-on:click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <!--底部翻頁-->
    <div style="text-align:right">
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[1, 3, 5, 10]"
                       :page-size="5"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="totalRows">
        </el-pagination>
    </div>

    @*用车数据*@
    <!--检索项目表单-->
    <el-form v-on:submit.native.prevent :model="searchParam" class="demo-form-inline"
             size="medium">
        <el-form-item label="关键字">
            <sam-input :value.sync="searchParam.key" style="width:200px;" placeholder="请输入搜索关键字"></sam-input>
        </el-form-item>
        <el-form-item label="用车时间" required="required">
            <el-date-picker v-model="timeRange"
                            type="datetimerange" :ediTable="false"
                            v-on:change="selectTime"
                            @*:picker-options="dayPickerOptions"*@
                            range-separator="至"
                            start-placeholder="开始时间"
                            end-placeholder="返回时间">
            </el-date-picker>
        </el-form-item>

        <el-form-item label="用车类型">
            <el-select v-model="searchParam.IsPublic" v-on:change="selectCarType" filterable placeholder="请选择">
                <el-option v-for="item in carTypes"
                           :key="item.key"
                           :label="item.value"
                           :value="item.key">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" v-on:click="searchData">搜索</el-button>
            <el-button v-on:click="printData" type="primary">打印表单</el-button>
        </el-form-item>
    </el-form>
    <!--表格實體-->
    <el-table :data="tableData2" stripe border v-if="searchParam.IsPublic">
        <el-table-column prop="TaskId" label="流水号"></el-table-column>
        <el-table-column prop="Dept" label="使用部门"></el-table-column>
        <el-table-column prop="ApplyMan" label="申请人"></el-table-column>
        <el-table-column prop="UseTime" label="用车日期"></el-table-column>
        <el-table-column prop="Name" label="使用车辆"></el-table-column>
        <el-table-column prop="MainContent" label="用途"></el-table-column>
        <el-table-column prop="UseKilometres" label="总里程/KM"></el-table-column>
        <el-table-column prop="FactKilometre" label="实际里程/KM"></el-table-column>
        <el-table-column prop="UnitPricePerKilometre" label="每公里单价/元"></el-table-column>
        <el-table-column prop="AllPrice" label="费用估值/元"></el-table-column>
    </el-table>
    <el-table :data="tableData2" stripe border v-else>
        <el-table-column prop="TaskId" label="流水号"></el-table-column>
        <el-table-column prop="Dept" label="使用部门"></el-table-column>
        <el-table-column prop="ApplyMan" label="申请人"></el-table-column>
        <el-table-column prop="UseTime" label="用车日期"></el-table-column>
        <el-table-column prop="MainContent" label="用途"></el-table-column>
        <el-table-column prop="StartKilometres" label="起始公里"></el-table-column>
        <el-table-column prop="EndKilometres" label="结束公里"></el-table-column>
        <el-table-column prop="UseKilometres" label="总里程/KM"></el-table-column>
    </el-table>
    <!--底部翻頁-->
    <div style="text-align:right">
        <el-pagination v-on:size-change="handleSizeChange2"
                       v-on:current-change="handleCurrentChange2"
                       :current-page="searchParam.pageIndex"
                       :page-sizes="[1, 3, 5, 10]"
                       :page-size="5"
                       layout="total, prev, pager, next, jumper"
                       :total="totalRows2">
        </el-pagination>
    </div>



    <!--编辑车辆信息表单-->
    <el-dialog title="编辑车辆信息" :visible.sync="dialogFormVisible">
        <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm"
                 enctype="multipart/form-data">
            <template>
                <el-form-item v-for="i in items" v-if="i!='FinnalEndTime' && i!='UnitPricePerKilometre' " :key="i" :label="tableItems[i]" :prop="i">
                    <sam-input :maxlength="15" :value.sync="ruleForm[i]"></sam-input>
                </el-form-item>
                <el-form-item label="每公里单价(元)">
                    <el-input-number v-model="ruleForm.UnitPricePerKilometre" :precision="1" :step="0.1" :max="100" :min="0.1"></el-input-number>
                    @*<sam-input :value.sync="ruleForm.UnitPricePerKilometre" type="number" min="0" :required="true"></sam-input>*@
                <hr />
                <el-form-item>
                    <el-button v-if="isAdd" type="primary" v-on:click="addCar('ruleForm')" :disabled="disableAdd">添加</el-button>
                    <el-button v-else type="primary" v-on:click="editCar('ruleForm')" :disabled="disableAdd">保存</el-button>
                    <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
                </el-form-item>
            </template>
        </el-form>
    </el-dialog>
</div>


<script>
    var Index = 0
    var id = ''
    var tableItems = {
        Name: "名称",
        Type: "品牌",
        CarNumber: "车牌号" ,
        Color: "颜色" ,
        //UseMan: "最近使用人",
        FinnalEndTime: "最近使用时间",
        UnitPricePerKilometre: "每公里单价(元)",
        //CreateTime: "创建时间" ,
        //State: "状态" ,
        Remark: "备注"
    }
    var items = []
    var ruleForm = {}
    for (let t in tableItems) {
        items.push(t)
        ruleForm[t] = ''
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                data: [],
                disableAdd: false,
                showAddUser: false,
                isAdd: true,
                TableData: [],
                items: items,
                tableItems: tableItems,
                formInline: {
                    key: ''
                },
                carTypes: [
                    {
                        key: true,
                        value: '公车'
                    },
                    {
                        key: false,
                        value: '私车'
                    }
                ],
                searchParam: {
                    startTime: '',
                    endTime: '',
                    pageIndex: 1,
                    pageSize: 5,
                    applyManId: DingData.userid,
                    key: '',
                    IsPublic: true,
                    IsSend: false
                },
                timeRange: [],
                totalRows2: 0,
                data2: [],
                tableData2:[],
                ruleForm: ruleForm,
                dialogFormVisible: false
            }
        },
        methods: {
            //获取车辆数据getCar
            getCar() {
                var that = this
                let url = "/CarMananger/Quary" + _formatQueryStr({
                    key: this.formInline.key,
                    applyManId: DingData.userid
                })
                let handle = function (data) {
                    that.totalRows = data.length
                    for (let d of data) { d.State += ''}
                    that.data = data
                    that.getData()
                }
                this.GetData(url,handle)
            },
            //添加车辆数据
            addCar(formName) {
                var that = this
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        that.disableAdd = true
                        var url = '/CarMananger/Add' 
                        console.log("添加车辆")
                        var param = _cloneObj(that.ruleForm)
                        param['ApplyManId'] = DingData.userid
                        console.log(param)
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: param,
                            success: function (data) {
                                console.log("添加车辆ok")
                                console.log(data)
                                that.disableAdd = false
                                that.dialogFormVisible = false
                                that.getCar()
                            }
                        })
                    } else {
                        console.log('添加车辆失败')
                        that.disableAdd = false
                        return false;
                    }
                });
            },
            //编辑车辆数据
            editCar(formName) {
                var that = this
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        that.disableAdd = true
                        var url = '/CarMananger/Modify'
                        var param = _cloneObj(that.ruleForm)
                        param['Id'] = id
                        param['ApplyManId'] = DingData.userid
                        console.log("编辑车辆")
                        console.log(param)
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: param,
                            success: function (data) {
                                console.log("编辑车辆ok")
                                console.log(data)
                                that.disableAdd = false
                                that.dialogFormVisible = false
                                that.getCar()
                            }
                        })
                    } else {
                        console.log('添加用户失败')
                        that.disableAdd = false
                        return false;
                    }
                });
            },
            handleDelete(index, row) {
                var that = this
                let url = "/CarMananger/Delete"
                let param = {
                    Id: row.Id,
                    ApplyManId: DingData.userid
                }
               
                let handle = function (data) {
                    that.getCar()
                }
                this.$confirm('是否确定删除该车辆？')
                    .then(_ => {
                        this._getData(url, handle, param)
                    })
                    .catch(_ => {

                    });
                
            },
            //添加车辆按钮事件
            handleAdd: function () {
                this.dialogFormVisible = true
                this.isAdd = true
                for (let f in this.ruleForm) {
                    if (f == 'CreateMan') this.ruleForm[f] = DingData.nickName
                    else this.ruleForm[f] = ''
                }
            },
            //编辑车辆按钮事件
            handleEdit: function (index, row) {
                console.log(index)
                console.log(row)
                id = row.Id
                this.isAdd = false
                this.dialogFormVisible = true
                for (let i of items) {
                    this.ruleForm[i] = row[i]
                }
            },




            //用车数据相关
            searchData: function () {
                if (this.timeRange.length < 2) {
                    this.$message({ type: 'error', message: `请输入时间` });
                    return
                }
                var that = this
                let url = "/CarMananger/QuaryPrintExcel"
                let param = _cloneObj(this.searchParam)
                if (!param.key) {
                    delete param.key
                }
                param.pageSize = '9999'
                //const loading = this.$loading({
                //    lock: true,
                //    text: 'Loading',
                //    spinner: 'el-icon-loading',
                //    background: 'rgba(0, 0, 0, 0.7)'
                //});
                let handle = function (data) {
                    that.totalRows2 = data.length
                    that.data2 = data
                    that.getData2()
                    //loading.close()
                }
                this.GetData(url + _formatQueryStr(param), handle )
                
                //this._getData(url, handle, param)
            },
            printData: function () {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                let url = "/CarMananger/QuaryPrintExcel"
                let param = _cloneObj(this.searchParam)
                param.IsSend = true
                this._getData(url, function (result) {
                    loading.close()
                }, param)
            },
            //选操作
            selectTime(value) {
                if (!value[0]) return
                this.searchParam.startTime = _timeToString(value[0])
                this.searchParam.endTime = _timeToString(value[1])
            },
            selectCarType(value) {
                this.data2 = []
                this.tableData2 = []
            },
            //翻頁相關事件
            getData2() {
                var start = this.searchParam.pageSize * (this.searchParam.pageIndex - 1)
                this.tableData2 = this.data2.slice(start, start + this.searchParam.pageSize)
            },
            handleSizeChange2: function (val) {
                this.searchParam.pageIndex = 1
                this.searchParam.pageSize = val
                this.getData2()
            },
            handleCurrentChange2: function (val) {
                this.searchParam.pageIndex = val
                this.getData2()
            },
        },
        created: function () {
            this.getCar()
            loadHtml("mainPage", "partPage")
        }
    })
    document.onkeydown = function (e) { // 回车提交表单
        // 兼容FF和IE和Opera
        var theEvent = window.event || e;
        var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
        if (code == 13) {
            console.log('click control')
            return
        }
    }

</script>