@{
    Layout = null;
}

<!--右侧实体内容-->
<div id="partPage">
    <!--标题-->
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}-{{nodeInfo.NodeName}}
    </div>
    <!--创建项目表单-->
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" :inline="false" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        @RenderPage("~/Views/Shared/startForm.cshtml")
    </el-form>
    <el-form v-on:submit.native.prevent :model="tableForm" :rules="rules" ref="tableForm" label-width="130px" class="demo-ruleForm"
             enctype="multipart/form-data">
        <el-form-item label="项目名称" prop="ProjectName">
            <sam-input :value.sync="tableForm.ProjectName" :required="true"></sam-input>
        </el-form-item>
        <el-form-item label="承担部门">
            <el-select v-model="tableForm.DeptName" style="width:300px;">
                <el-option v-for="(s,i) of DeptNames" :label="s" :value="s" :key="i"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="合作单位" prop="Customer">
            <sam-input :value.sync="tableForm.Customer" placeholder="没有填'无'"></sam-input>
        </el-form-item>
        <el-form-item label="项目类型" required="required">
            <div class="block">
                <el-cascader v-model="ptypes"
                             :options="PTypes"
                             :props="{ expandTrigger: 'hover' }"
                             v-on:change="handleChange"></el-cascader>
            </div>
        </el-form-item>
        <el-form-item label="项目负责人">
            <el-input v-model="tableForm.ApplyMan" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="项目组成员" prop="TeamMembersId">
            <sam-group :names.sync="tableForm.TeamMembers" :ids.sync="tableForm.TeamMembersId"></sam-group>
        </el-form-item>
        <el-form-item label="项目周期" prop="StartTime" v-if="doneloadTmp">
            <sam-timerange :value1.sync="tableForm.StartTime" :value2.sync="tableForm.EndTime"></sam-timerange>
        </el-form-item>
    </el-form>
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="130px" class="demo-ruleForm"
             enctype="multipart/form-data">
        <el-form-item label="项目立项书和项目答辩PPT，测试项目上传方案" required="required">
            <el-upload class="upload-demo"
                       drag
                       :file-list="fileList"
                       action="/drawingupload/Upload"
                       :on-remove="HandleFileRemove"
                       :before-upload="BeforeFileUpload"
                       :on-success="HandleFileSuccess" :on-exceed="HandleFileExceed"
                       multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                <div class="el-upload__tip" slot="tip">单个文件不超过9M</div>
            </el-upload>
        </el-form-item>
        @RenderPage("~/Views/Shared/startButton.cshtml")
    </el-form>
</div>

<script>
    var Index = 0
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                isTrue: true,
                text: '',
                textarea: '',
                status: ['在研', '已完成', '终止'],
                ptypes: [PTypes[0].label, PTypes[0].children[0].label],
                //CompanyNames: CompanyNames,
                rules: {
                    TeamMembersId: [
                        { required: true, message: '项目组成员不能为空', trigger: 'blur' },
                    ],
                }
            }
        },
        methods: {
            //添加项目
            onSubmit() {
                var that = this
                //this.fileListToUrl()
                this.$refs['tableForm'].validate((valid) => {
                    if (valid &&  this.fileList.length > 0) {
                        that.disablePage = true
                        var param = {
                            "CreateTime": _getTime(),
                            "IsEnable": true,
                            "ProjectState": '在研',//TeamMembersId
                            "IsFinish": false,
                            "ApplyMan": DingData.nickName,
                            "ApplyManId": DingData.userid,
                            "StartTime": this.tableForm.StartTime,
                            "EndTime": this.tableForm.EndTime,
                            "TeamMembers": this.tableForm.TeamMembers,
                            "TeamMembersId": this.tableForm.TeamMembersId,
                            "CreateManId": DingData.userid,
                            "CreateMan": DingData.nickName,
                            "ProjectName": this.tableForm.ProjectName,
                            "ProjectId": this.tableForm.inputProjectId,
                            "CompanyName": this.tableForm.CompanyName,
                            "Customer": this.tableForm.Customer,
                            "DeptName": this.tableForm.DeptName,
                            "ProjectType": this.ptypes[0],
                            "ProjectSmallType": this.ptypes[1],
                            "ResponsibleMan": this.ruleForm.ApplyMan,
                            "ResponsibleManId": this.ruleForm.ApplyManId,
                            "ProjectFileUrl": this.ruleForm.FileUrl
                        }
                        let callBack = function (taskId) {
                            param['TaskId'] = taskId
                            that.PostData('CreateProject/Save', param, function (data) {
                                that.$alert('恭喜提交成功', '提示信息', {
                                    confirmButtonText: '确定',
                                    callback: action => {
                                        goHome()
                                    }
                                })
                            })
                        }
                        that.approvalSubmit(callBack)
                    }
                    else {
                        that.$alert('表单信息不全或有误', '提示信息', {
                            confirmButtonText: '确定'
                        })
                    }
                })
            },
            handleChange(value) {
                console.log(value)
                this.tableForm['ProjectType'] = value[0]
                this.tableForm['ProjectSmallType'] = value[1]
                this.ptypes = value
            }
        },
        created: function () {
            //设置初始值
            this.initStart(() => {
                this.tableForm = {
                    ApplyMan: DingData.nickName,
                    ApplyManId: DingData.userid,
                    CompanyName: '泉州华中科技大学智能制造研究院',
                    ProjectName: '',
                    inputProjectId: '',
                    DeptName: '',
                    Customer: '',
                    TeamMembersId: '',
                    TeamMembers: '',
                    ProjectId: null,
                    StartTime: '',
                    EndTime: ''
                }
                //重新发起、临时保存数据处理
                if (this.tableForm.ProjectType) this.ptypes[0] = this.tableForm.ProjectType
                if (this.tableForm.ProjectSmallType) this.ptypes[1] = this.tableForm.ProjectSmallType
            })
        }
    })


</script>