@{
                /**/

                Layout = null;
}

<!--右侧实体内容-->
<div id="partPage">
    <!--标题-->
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        添加项目
    </div>
    <!--创建项目表单-->
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="110px" class="demo-ruleForm"
             enctype="multipart/form-data">
        <template>
            <el-form-item label="标题" prop="Title">
                <el-input v-model="ruleForm.Title"></el-input>
            </el-form-item>
            <el-form-item label="申请人">
                <el-input v-model="ruleForm.ApplyMan"></el-input>
            </el-form-item>
            <el-form-item label="项目名称" prop="inputProjectName">
                <el-input v-model="ruleForm.inputProjectName"></el-input>
            </el-form-item>
            <el-form-item label="项目编号" prop="inputProjectId">
                <el-input v-model="ruleForm.inputProjectId"></el-input>
            </el-form-item>
            <el-form-item label="承担部门">
                <el-select v-model="ruleForm.DeptName" style="width:300px;">
                    <el-option v-for="s of DeptNames" :label="s" :value="s" key="s"></el-option>
                </el-select>
            </el-form-item>
            @*<el-form-item label="承担部门">
            <el-input v-model="ruleForm.DeptName"></el-input>
        </el-form-item>*@
            <el-form-item label="状态" required="required">
                <el-select v-model="ruleForm.ProjectState">
                    <el-option v-for="s of status" :label="s" :value="s" key="s"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="公司名称" required="required">
                <el-select v-model="ruleForm.CompanyName" style="width:300px;">
                    <el-option v-for="s of CompanyNames" :label="s" :value="s" key="s"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="项目类型" required="required">
                <el-select v-model="ruleForm.ProjectType">
                    <el-option v-for="s of ProjectTypes" :label="s" :value="s" key="s"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="项目负责人" required="required">
                <span>{{ResponsibleMan[0].name}} &nbsp;</span>
                <el-button class="button-new-tag" size="small" v-on:click="addMan">+ 选择</el-button>
            </el-form-item>
            <el-form-item label="项目组成员" required="required">
                <span v-for="p in groupPeople">{{p.name}} &nbsp;</span>
                <el-button class="button-new-tag" size="small" v-on:click="addGroup">+ 选择</el-button>
            </el-form-item>
            <el-form-item label="项目周期" required="required">
                <el-date-picker v-model="ruleForm.Time"
                                type="daterange"
                                :picker-options="pickerOptions"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="上传立项文件" required="required">
                <el-upload class="upload-demo"
                           drag
                           :file-list="fileList"
                           action="/drawingupload/Upload"
                           :on-remove="HandleFileRemove"
                           :before-upload="BeforeFileUpload"
                           :on-success="HandleFileSuccess"
                           multiple>
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                    <div class="el-upload__tip" slot="tip">不超过30M</div>
                </el-upload>
            </el-form-item>
            <el-form-item label="备注" prop="remark">
                <el-input v-model="ruleForm.remark"></el-input>
            </el-form-item>
            <!--添加审批人-->
            <sam-approver-list :nodeList="nodeList" :nodedata="nodeInfo" :single="true">
            </sam-approver-list>
            <el-form-item>
                <el-button type="primary" v-on:click="addProject('ruleForm')" :disabeld="disablePage">提交</el-button>
            </el-form-item>
        </template>
    </el-form>
</div>


<script>
    var Index = 0
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                status: ['在研', '已完成', '终止'],
                ResponsibleMan: [{ name: '', emplId: '' }],
                groupPeople: [{ name: '', emplId: '' }],
                ProjectTypes: ProjectTypes,
                DeptNames: DeptNames,
                CompanyNames: CompanyNames,
                ruleForm: {
                    ApplyMan: DingData.nickName,
                    ApplyManId: DingData.userid,
                    inputProjectName: '',
                    inputProjectId: '',
                    DeptName: '',
                    ProjectState: '',
                    ProjectName: '',
                    ProjectId: null,
                    Time: '',
                    ProjectType: ProjectTypes[0],
                    CompanyName: CompanyNames[0]
                }
            }
        },
        methods: {
            //添加项目
            addProject(formName) {
                var that = this
                this.fileListToUrl()
                this.$refs['ruleForm'].validate((valid) => {
                    if (valid && this.ResponsibleMan[0].name && this.ruleForm.ProjectState && this.groupPeople[0].name && this.ruleForm.Time[0] && this.ruleForm.FileUrl) {
                        that.disablePage = true
                        let names = []
                        let ids = []
                        for (let p of this.groupPeople) {
                            names.push(p.name)
                            ids.push(p.emplId)
                        }
                        var param = {
                            "ProjectName": this.ruleForm.inputProjectName,
                            "CreateTime": _getTime(),
                            "IsEnable": true,
                            "ProjectState": this.ruleForm.ProjectState,
                            "IsFinish": false,
                            "DeptName": this.ruleForm.DeptName,
                            "ApplyMan": DingData.nickName,
                            "ApplyManId": DingData.userid,
                            "StartTime": this.ruleForm.Time[0]?_dateToString(this.ruleForm.Time[0]):'',
                            "EndTime": this.ruleForm.Time[1]?_dateToString(this.ruleForm.Time[1]):'',
                            "ProjectId": this.ruleForm.inputProjectId,
                            "ResponsibleMan": this.ResponsibleMan[0].name,
                            "ResponsibleManId": this.ResponsibleMan[0].emplId,
                            "TeamMembers": names.join(','),
                            "TeamMembersId": ids.join(','),
                            "CompanyName": this.ruleForm.CompanyName,
                            "ProjectType": this.ruleForm.ProjectType,
                            "CreateManId": DingData.userid,
                            "CreateMan": DingData.nickName,
                            "ProjectFileUrl": this.ruleForm.FileUrl
                        }
                        let callBack = function (taskId) {
                            param['TaskId'] = taskId
                            that.PostData('CreateProject/Save', param , function (data) {
                                that.$alert('恭喜提交成功', '提示信息', {
                                    confirmButtonText: '确定',
                                    callback: action => {
                                        goHome()
                                    }
                                })
                            })
                        }
                        that.approvalSubmit(formName, {
                            Title: that.ruleForm.Title,
                            Remark: that.ruleForm.remark,
                            FileUrl: that.ruleForm.FileUrl,
                            MediaId: that.ruleForm.MediaId,
                            OldFileUrl: that.ruleForm.OldFileUrl,
                        }, callBack)
                    }
                    else {
                        that.$alert('表单信息不全或有误', '提示信息', {
                            confirmButtonText: '确定'
                        })
                    }
                })

            }
        },
        created: function () {
            this.getNodeInfo()
            this.getApproInfo()
            loadHtml("mainPage", "partPage")
        }
    })


</script>