@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}-{{nodeInfo.NodeName}}
    </div>

    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        @RenderPage("~/Views/Shared/startForm.cshtml")
    </el-form>
    <el-form v-on:submit.native.prevent :model="tableForm" :rules="rules" ref="tableForm" label-width="130px" class="demo-ruleForm"
             enctype="multipart/form-data">
        <el-form-item label="协作部门" prop="CooperateDept">
            <el-select v-model="tableForm.CooperateDept" style="width:300px;">
                <el-option v-for="s of DeptNames" :label="s" :value="s" key="s"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="协作人" required="required">
            <sam-group :names.sync="tableForm.CooperateMan" :ids.sync="tableForm.CooperateManId"></sam-group>
        </el-form-item>

        <el-form-item label="协作内容" prop="CooperateContent">
            <sam-input :value.sync="tableForm.CooperateContent" type="textarea" maxlength="140" :required="true"></sam-input>
        </el-form-item>
        <el-form-item label="协作周期" prop="PlanBeginTime" v-if="doneloadTmp">
            <sam-timerange :date="true" :onchange="selectTime" :value1.sync="tableForm.PlanBeginTime" :value2.sync="tableForm.PlanEndTime"></sam-timerange>
        </el-form-item>

        <el-form-item label="计划天数" prop="PlanDays">
            <sam-input :value.sync="tableForm.PlanDays" :required="true"></sam-input>
        </el-form-item>
    </el-form>

    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        <el-form-item label="上传相关文件">
            <el-upload class="upload-demo"
                       drag
                       :file-list="fileList"
                       action="/drawingupload/Upload"
                       :on-remove="HandleFileRemove"
                       :before-upload="BeforeFileUpload"
                       :on-success="HandleFileSuccess" :on-exceed="HandleFileExceed"
                       multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                <div class="el-upload__tip" slot="tip">单个文件不超过9M</div>
            </el-upload>
        </el-form-item>
        @RenderPage("~/Views/Shared/startButton.cshtml")
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                useTimeList: [],
                DeptNames: DeptNames,
                addPeopleNodes: [4, 6], //额外添加审批人节点数组
                tableForm: {
                    CooperateDept: "",
                    CooperateMan: "",
                    CooperateManId: "",
                    PlanBeginTime: "",
                    PlanEndTime: "",
                    CooperateContent: "",
                    PlanDays: "",
                },
                rules: {
                    CooperateDept: { required: true, message: '协作部门不能为空', trigger: 'blur' },
                    CooperateMan: { required: true, message: '协作人不能为空', trigger: 'blur' },
                    CooperateContent: { required: true, message: '协作内容不能为空', trigger: 'blur' },
                    PlanDays: { required: true, message: '计划天数不能为空', trigger: 'blur' },
                    PlanBeginTime: { required: true, message: '计划开始时间不能为空', trigger: 'blur' }
                }
            }
        },
        methods: {
            onSubmit(formName) {
                this.$refs['tableForm'].validate((valid) => {
                    if (valid) {
                        this.fileListToUrl()
                        let callBack = (taskId) => {
                            this.tableForm['TaskId'] = taskId
                            this.PostData('Cooperate/Save', this.tableForm, () => {
                                this.$alert('恭喜提交成功', '提示信息', {
                                    confirmButtonText: '确定',
                                    callback: action => {
                                        goHome()
                                    }
                                })
                            })
                        }
                        this.nodeList[4].AddPeople = this.nodeList[2].AddPeople
                        this.nodeList[6].AddPeople = [...this.nodeList[1].AddPeople, ...this.nodeList[2].AddPeople]
                        this.approvalSubmit(callBack)
                    }
                    else {
                        this.$alert('表单信息不全或有误', '提示信息', {
                            confirmButtonText: '确定'
                        })
                    }
                })
            },
            //选时间操作
            selectTime(value) {
                console.log('选时间操作')
                console.log(value)
                if (!value[0]) return
                this.tableForm.PlanDays = _computeDurTime(value[0], value[1], 'd2') + ''
            },
        },
        created: function () {
            this.initStart()
        },

    })


</script>



