@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}-{{nodeInfo.NodeName}}
    </div>

    <el-form :model="tableForm" :rules="rules" ref="tableForm" label-width="130px" class="demo-ruleForm"
             enctype="multipart/form-data">
        @RenderPage("~/Views/Shared/startForm.cshtml")
        <el-form-item label="协作部门" prop="CooperateDept">
            <el-select v-model="tableForm.CooperateDept" style="width:300px;">
                <el-option v-for="s of DeptNames" :label="s" :value="s" key="s"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="协作人" prop="CooperateMan">
            <el-input v-model="tableForm.CooperateMan" style="width:500px;" :disabled="true"></el-input>
            <el-button class="button-new-tag" size="small" v-on:click="addPeerNumber()">+ 选人</el-button>
        </el-form-item>

        <el-form-item label="协作内容" prop="CooperateContent">
            <el-input v-model="tableForm.CooperateContent" style="width:550px;" type="textarea"></el-input>
        </el-form-item>

        <el-form-item label="协作时间" prop="PlanBeginTime">
            <el-date-picker v-model="timeRange"
                            type="daterange"
                            v-on:change="selectTime" :editable="false"
                            range-separator="至"
                            start-placeholder="开始时间"
                            end-placeholder="结束时间">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="计划天数" prop="PlanDays">
            <el-input v-model="tableForm.PlanDays" style="width:200px;"></el-input>
        </el-form-item>
    </el-form>

    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        <el-form-item label="上传相关文件">
            <el-upload class="upload-demo"
                       drag
                       :file-list="fileList"
                       action="/drawingupload/Upload"
                       :on-remove="HandleFileRemove"
                       :before-upload="BeforeFileUpload"
                       :on-success="HandleFileSuccess" :on-exceed="HandleFileExceed"
                       multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                <div class="el-upload__tip" slot="tip">不超过30M</div>
            </el-upload>
        </el-form-item>
        @RenderPage("~/Views/Shared/startButton.cshtml")
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                timeRange: [],
                useTimeList: [],
                DeptNames: DeptNames,
                addPeopleNodes: [4, 6], //额外添加审批人节点数组
                tableForm: {
                    CooperateDept: "",
                    CooperateMan: "",
                    CooperateManId: "",
                    PlanBeginTime: "",
                    PlanEndTime: "",
                    CooperateContent: "",
                    PlanDays: "",
                },
                rules: {
                    CooperateDept: { required: true, message: '协作部门不能为空', trigger: 'blur' },
                    CooperateMan: { required: true, message: '协作人不能为空', trigger: 'blur' },
                    CooperateContent: { required: true, message: '协作内容不能为空', trigger: 'blur' },
                    PlanDays: { required: true, message: '计划天数不能为空', trigger: 'blur' },
                    PlanBeginTime: { required: true, message: '计划开始时间不能为空', trigger: 'blur' }
                }
            }
        },
        methods: {
            onSubmit(formName) {
                this.$refs['tableForm'].validate((valid) => {
                    if (!valid) {
                        this.fileListToUrl()
                        let callBack = (taskId) => {
                            this.tableForm['TaskId'] = taskId
                            this.PostData('Cooperate/Save', this.tableForm, () => {
                                this.$alert('恭喜提交成功', '提示信息', {
                                    confirmButtonText: '确定',
                                    callback: action => {
                                        goHome()
                                    }
                                })
                            })
                        }
                        this.nodeList[4].AddPeople = this.nodeList[2].AddPeople
                        this.nodeList[6].AddPeople = [...this.nodeList[1].AddPeople, ...this.nodeList[2].AddPeople]
                        this.approvalSubmit(callBack)
                    }
                    else {
                        that.$alert('表单信息不全或有误', '提示信息', {
                            confirmButtonText: '确定'
                        })
                    }
                })
            },
            //选时间操作
            selectTime(value) {
                console.log(value)
                if (!value[0]) return
                let days = (value[1] - value[0])/(3600*24*1000) + 1
                this.tableForm.PlanBeginTime = _timeToString(value[0]).substring(0,10)
                this.tableForm.PlanEndTime = _timeToString(value[1]).substring(0, 10)
                this.tableForm.PlanDays = days - parseInt(days/7) * 2
            },
            //添加协作人
            addPeerNumber() {
                var that = this
                DingTalkPC.biz.contact.choose({
                    users: [],
                    corpId: DingData.CorpId,
                    max: 10,
                    onSuccess: function (data) {
                        console.log(data)
                        let names = []
                        let ids = []
                        for (let d of data) {
                            names.push(d.name)
                            ids.push(d.emplId)
                        } 
                        that.selectTime.CooperateMan = names.join(',')
                        that.selectTime.CooperateManId = ids.join(',')
                    },
                    onFail: function (err) { }
                });
            }
        },
        created: function () {
            this.initStart()
        },

    })


</script>



