@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        跨部门协作申请-{{nodeInfo.NodeName}}
    </div>

    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">

        <el-form-item label="标题" prop="Title">
            <el-input v-model="ruleForm.Title"></el-input>
        </el-form-item>
        <el-form-item label="申请人">
            <el-input v-model="applyMan" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="申请部门">
            <el-input v-model="dept" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="协作部门" prop="CooperateDept">
            <el-select v-model="ruleForm.CooperateDept" style="width:300px;">
                <el-option v-for="s of DeptNames" :label="s" :value="s" key="s"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="协作人" prop="CooperateMan">
            <el-input v-model="ruleForm.CooperateMan" style="width:500px;" :disabled="true"></el-input>
            <el-button class="button-new-tag" size="small" v-on:click="addPeerNumber()">+ 选人</el-button>
        </el-form-item>

        <el-form-item label="协作内容" prop="CooperateContent">
            <el-input v-model="ruleForm.CooperateContent" style="width:550px;" type="textarea"></el-input>
        </el-form-item>

        <el-form-item label="协作时间" prop="PlanBeginTime">
            <el-date-picker v-model="timeRange"
                            type="daterange"
                            v-on:change="selectTime" :editable="false"
                            range-separator="至"
                            start-placeholder="开始时间"
                            end-placeholder="结束时间">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="计划天数" prop="PlanDays">
            <el-input v-model="ruleForm.PlanDays" style="width:200px;"></el-input>
        </el-form-item>
        <el-form-item label="上传相关文件">
            <el-upload class="upload-demo"
                       drag
                       :file-list="fileList"
                       action="/drawingupload/Upload"
                       :on-remove="HandleFileRemove"
                       :before-upload="BeforeFileUpload"
                       :on-success="HandleFileSuccess"
                       multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                <div class="el-upload__tip" slot="tip">不超过30M</div>
            </el-upload>
        </el-form-item>
        <hr />
        <el-form-item label="建议" prop="remark">
            <el-input v-model="ruleForm.remark" type="textarea" autosize style="width:500px;"></el-input>
        </el-form-item>
        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>
        <el-form-item>
            <el-button type="primary" v-on:click="onSubmit('ruleForm')" :disabled="disablePage">提交</el-button>
            <el-button type="primary" v-on:click="saveTempData">临时保存</el-button>
        </el-form-item>
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                applyMan: DingData.nickName,
                dept: DingData.departName,
                nodeList: [],
                nodeInfo: {},
                timeRange: [],
                useTimeList: [],
                date: _getDate(),
                activeNames: [],
                DeptNames: DeptNames,
                addPeopleNodes: [4, 6], //额外添加审批人节点数组
                ruleForm: {
                    remark: '',
                    CooperateDept: "",
                    CooperateMan: "",
                    CooperateManId: "",
                    PlanBeginTime: "",
                    PlanEndTime: "",
                    CooperateContent: "",
                    PlanDays: "",
                    Title: "跨部门协作申请"
                },
                rules: {
                    CooperateDept: { required: true, message: '协作部门不能为空', trigger: 'blur' },
                    CooperateMan: { required: true, message: '协作人不能为空', trigger: 'blur' },
                    CooperateContent: { required: true, message: '协作内容不能为空', trigger: 'blur' },
                    PlanDays: { required: true, message: '计划天数不能为空', trigger: 'blur' },
                    PlanBeginTime: { required: true, message: '计划开始时间不能为空', trigger: 'blur' }
                }
            }
        },
        methods: {
            onSubmit(formName) {
                this.fileListToUrl()
                let callBack = (taskId) => {
                    this.ruleForm['TaskId'] = taskId
                    this.PostData('Cooperate/Save', this.ruleForm, () => {
                        this.$alert('恭喜提交成功', '提示信息', {
                            confirmButtonText: '确定',
                            callback: action => {
                                goHome()
                            }
                        })
                    })
                }
                this.nodeList[4].AddPeople = this.nodeList[2].AddPeople
                this.nodeList[6].AddPeople = [...this.nodeList[1].AddPeople, ...this.nodeList[2].AddPeople]
                this.approvalSubmit(formName, {
                    Title: this.ruleForm.Title,
                    Remark: this.ruleForm.remark,
                    FileUrl: this.ruleForm.FileUrl,
                    MediaId: this.ruleForm.MediaId,
                    OldFileUrl: this.ruleForm.OldFileUrl
                }, callBack)
            },
            //选时间操作
            selectTime(value) {
                console.log(value)
                if (!value[0]) return
                let days = (value[1] - value[0])/(3600*24*1000) + 1
                this.ruleForm.PlanBeginTime = _timeToString(value[0]).substring(0,10)
                this.ruleForm.PlanEndTime = _timeToString(value[1]).substring(0, 10)
                this.ruleForm.PlanDays = days - parseInt(days/7) * 2
            },
            //添加协作人
            addPeerNumber() {
                var that = this
                DingTalkPC.biz.contact.choose({
                    users: [],
                    corpId: DingData.CorpId,
                    max: 10,
                    onSuccess: function (data) {
                        console.log(data)
                        let names = []
                        let ids = []
                        for (let d of data) {
                            names.push(d.name)
                            ids.push(d.emplId)
                        } 
                        that.ruleForm.CooperateMan = names.join(',')
                        that.ruleForm.CooperateManId = ids.join(',')
                    },
                    onFail: function (err) { }
                });
            }
        },
        created: function () {
            this.getNodeInfo()
            this.getApproInfo()
            this.loadTempData()
            this.loadReApprovalData()
            loadHtml("mainPage", "partPage")
        },

    })


</script>



