@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <!--标题-->
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        文件管理
    </div>
    <!--文件夹树状图-->
    @*<el-tree :data="lineTree"
             default-expand-all
             :expand-on-click-node="ifExtend"
             v-on:node-click="clickNode"
             node-key="id"
             ref="tree"
             highlight-current
             style="width:20%;float:left;"
             :props="defaultProps">
    </el-tree>*@
    @*<div style="width:20%;float:left;">
        <el-menu :default-openeds="['1']"
                 :default-active="'1-1'" class="el-menu-vertical-demo">
            <el-submenu index="1">
                <template slot="title">
                    <i class="el-icon-message"></i>
                    <span slot="title">项目列表</span>
                </template>
                <el-menu-item-group>
                    <el-menu-item index="1-1" onclick="loadPage('/Main/Main5')">张三</el-menu-item>
                    <el-menu-item index="1-2" onclick="loadPage('/Main/Main6')">李四</el-menu-item>
                    <el-menu-item index="1-3" onclick="loadPage('/Main/Main7')">王五</el-menu-item>
                    <el-menu-item index="1-4" onclick="loadPage('/Main/Main8')">赵六</el-menu-item>
                </el-menu-item-group>
            </el-submenu>
        </el-menu>
    </div>*@
    

    @*<div style="width:80%;float:left;">*@
    <div>
        <!--项目信息表格-->
        @*<h3>项目信息表格</h3><el-button v-on:click="addProjectFormVisible = true" size="small" type="primary">添加项目</el-button>
        <el-table :data="tableData" stripe border>
            <el-table-column prop="ProductLineId" label="产线编号"></el-table-column>
            <el-table-column prop="ProductLineName" label="产线名称"></el-table-column>
        </el-table>*@
        <!--文件夹列表-->
        <el-breadcrumb separator="/">
            <el-breadcrumb-item v-for="(p,i) in pathList" :key="i" v-show="i < pathList.length - 1">
                <span v-on:click="clickPath(i)">{{p}}</span>
            </el-breadcrumb-item>
            <el-breadcrumb-item>{{pathList[pathList.length - 1]}}</el-breadcrumb-item>
        </el-breadcrumb>
        <br />
        <div>
            <span style="font-size:1.2rem;">文件夹列表</span>
            <el-button v-on:click="dialogFormVisible = true" size="small" type="primary">新建文件夹</el-button>
        </div>
        <div v-for="f in folderList" class="folder-box" v-on:click="openFolder(f)" style="cursor:pointer;">
            <div class="approval-box-img" style="backgroundPosition:-414px -47px;"></div>
            <p>{{f}}</p>
        </div>
        <!--文件列表-->
        <div style="clear:left;">
            <span style="font-size:1.2rem;">文件列表</span>
        </div>

        <el-table :data="tableData" stripe border>
            <el-table-column prop="name" label="文件名"></el-table-column>
            <el-table-column label="操作" width="150">
                <template slot-scope="scope">
                    <el-button size="mini" v-on:click="downloadFile(scope.$index, scope.row)">下载</el-button>
                    <el-button size="mini" type="danger" v-on:click="deleteFile(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <!--底部翻頁-->
        <div style="text-align:right">
            <el-pagination v-on:size-change="handleSizeChange"
                           v-on:current-change="handleCurrentChange"
                           :current-page="currentPage"
                           :page-sizes="[1, 3, 5, 10]"
                           :page-size="5"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="totalRows">
            </el-pagination>
        </div>
        <!--上传文件-->
        <el-upload class="upload-demo"
                   drag
                   :file-list="fileList"
                   :action="uploadUrl"
                   :on-remove="handleFileRemove"
                   :before-upload="beforeFileUpload"
                   :on-success="handleFileCardSuccess"
                   multiple>
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            <div class="el-upload__tip" slot="tip">不超过30M</div>
        </el-upload>

    </div>

    <!--新建文件夹表单-->
    <el-dialog title="新建文件夹" :visible.sync="dialogFormVisible">
        <el-form :model="formInline" class="demo-form-inline" :rules="rules" ref="formInline"
                 size="medium" >
            <el-form-item label="名称" prop="name">
                <el-input v-model="formInline.name"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" v-on:click="createFolder">创 建</el-button>
        </div>
    </el-dialog>
    <!--新建项目表单-->
    <el-dialog title="添加项目" :visible.sync="addProjectFormVisible">
        <el-form :model="formProject" class="demo-form-inline" :rules="rules"
                 size="medium">
            <el-form-item label="项目名称" prop="inputProjectName">
                <el-input v-model="formProject.inputProjectName"></el-input>
            </el-form-item>
            <el-form-item label="项目编号" prop="inputProjectId">
                <el-input v-model="formProject.inputProjectId"></el-input>
            </el-form-item>
            <el-form-item label="开始日期">
                <el-date-picker v-model="formProject.Time"
                                type="daterange"
                                :picker-options="pickerOptions"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                </el-date-picker>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-on:click="addProjectFormVisible = false">取 消</el-button>
            <el-button type="primary" v-on:click="addProject">创 建</el-button>
        </div>
    </el-dialog>
</el-main>

<script>
    var vue = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                data: [],
                tableData: [],
                folderList: [],
                dialogFormVisible: false,
                addProjectFormVisible: false,
                isRoot: true,
                pathList: ['ProjectFile'],
                fileList: [],
                lineTree: [],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
                formInline: {
                    name: ''
                },
                formProject: {
                    inputProjectName: '',
                    inputProjectId: '',
                    Time: ''
                },
                ifExtend: false,
                uploadUrl: ''
            }
        },
        methods: {
            //获取文件数据
            getFileData: function () {
                var that = this
                var url = "/Project/GetFileMsg?path=\\UploadFile"
                this.uploadUrl = "/drawingupload/Upload?path=\\UploadFile"
                for (let p of this.pathList) {
                    url = url + '\\' + p
                    this.uploadUrl = this.uploadUrl + '\\' + p
                }
                $.ajax({
                    url: url,
                    success: function (data) {
                        data = JSON.parse(data)
                        console.log('/获取文件数据')
                        console.log(url)
                        console.log(data)
                        let folderArr = []
                        let fileArr = []
                        for (let d of data) {
                            d.indexOf('.') > 0 ? fileArr.push({ name: d }) : folderArr.push(d)
                        }
                        that.folderList = folderArr
                        that.data = fileArr
                        that.totalRows = fileArr.length
                        that.getData()
                    },
                    error: function (err) {
                        console.error(err)
                    }
                })
            },
            //打开某文件夹相关操作
            openFolder: function (folderName) {
                //改变路径，加载新的文件夹、表单数据、切换相关变量
                this.pathList.push(folderName)
                this.getFileData()
                console.log(this.pathList)
            },
            //点击路径跳转
            clickPath: function (index) {
                this.pathList.splice(index + 1)
                this.getFileData()
                console.log(this.pathList)
                return
                this.$alert('这是一段内容', '标题名称', {
                    confirmButtonText: '确定',
                    callback: action => {

                    }
                });
            },
            //下载文件
            downloadFile: function (index, row) {

            },
            //删除文件
            deleteFile: function (index, row) {
                var that = this
                var url = "/Project/ChangeFile?&ApplyManId=" + DingData.userid + "&ApplyMan=" + DingData.nickName + "&ChangeType=1&Path=\\UploadFile"
                for (let p of this.pathList) {
                    url = url + '\\' + p
                }
                url = url + '\\' + row.name
                $.ajax({
                    url: url,
                    success: function (data) {
                        data = JSON.parse(data)
                        console.log('/删除文件')
                        console.log(url)
                        console.log(data)
                        that.getFileData()
                    },
                    error: function (err) {
                        console.error(err)
                    }
                })
            },
            //上传文件
            handleChange: function () {

            },
            //新建文件夹
            createFolder: function () {
                this.$refs['formInline'].validate((valid) => {
                    if (valid) {
                        var that = this
                        var url = "/Project/ChangeFile?&ApplyManId=" + DingData.userid + "&ApplyMan=" + DingData.nickName + "&ChangeType=0&Path=\\UploadFile"
                        for (let p of this.pathList) {
                            url = url + '\\' + p
                        }
                        url = url + '\\' + this.formInline.name
                        $.ajax({
                            url: url,
                            success: function (data) {
                                data = JSON.parse(data)
                                console.log('/新建文件夹')
                                console.log(url)
                                console.log(data)
                                that.getFileData()
                                that.dialogFormVisible = false
                            },
                            error: function (err) {
                                console.error(err)
                            }
                        })
                    }
                })
            },
            //新建项目
            createProject: function () {

            },
            //点击节点跳转文件夹
            clickNode: function (obj) {
                console.log(obj)
            }
        },
        created: function () {
            this.getFileData()
            loadHtml("mainPage", "partPage")
        }
    })

</script>



