@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}-{{nodeInfo.NodeName}}
    </div>
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        @RenderPage("~/Views/Shared/startForm.cshtml")
    </el-form>
    <el-form v-on:submit.native.prevent :model="tableForm" :rules="rules" ref="tableForm" label-width="130px" class="demo-ruleForm"
             enctype="multipart/form-data">
        <el-form-item label="同行人">
            <sam-group :names.sync="tableForm.EvectionMan" :ids.sync="tableForm.EvectionManId"></sam-group>
        </el-form-item>
        <el-form-item label="外出地点" prop="Place">
            <el-input type="textarea" v-model="tableForm.Place" :value="placeStr" style="width:400px;" :disabled="true"></el-input>
            <el-button type="primary" v-on:click="dialogFormVisible = true">添加地点</el-button>
            <el-button type="danger" v-on:click="removePlace">删除地点</el-button>
        </el-form-item>
        <el-form-item label="外出事由" prop="Content">
            <sam-input :value.sync="tableForm.Content" :required="true" :maxlength="120"></sam-input>
        </el-form-item>
        <el-form-item label="外出时间" prop="BeginTime" v-if="doneloadTmp">
            <sam-timerange :value1.sync="tableForm.BeginTime" :value2.sync="tableForm.EndTime" :onchange="selectTime"></sam-timerange>
        </el-form-item>
        <el-form-item label="时长/小时" prop="Duration">
            <el-input v-model="tableForm.Duration" style="width:200px;"></el-input>
        </el-form-item>
    </el-form>
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        <el-form-item label="上传相关文件">
            <el-upload class="upload-demo"
                       drag
                       :file-list="fileList"
                       action="/drawingupload/Upload"
                       :on-remove="HandleFileRemove"
                       :before-upload="BeforeFileUpload"
                       :on-success="HandleFileSuccess" :on-exceed="HandleFileExceed"
                       multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                <div class="el-upload__tip" slot="tip">单个文件不超过9M</div>
            </el-upload>
        </el-form-item>
        <hr />
        <!--添加审批人-->
        @RenderPage("~/Views/Shared/startButton.cshtml")
    </el-form>

    <el-dialog title="添加外出地点" :visible.sync="dialogFormVisible">
        <el-form v-on:submit.native.prevent :model="form" :rules="rules" ref="form">
            <el-form-item label="外出地点" prop="Place">
                <sam-input :value.sync="form.Place" :required="true"></sam-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" v-on:click="addPlace('form')">确 定</el-button>
        </div>
    </el-dialog>


</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                timeRange: [],
                placeArr: [],
                placeStr: '',
                tableForm: {
                    Duration: "",
                    EvectionMan: '',
                    EvectionManId: '',
                    BeginTime: "",
                    EndTime: "",
                    Content: "",
                    Place: "",
                    LocationPlace: '',
                },
                form: {
                    Place: "",
                },
                rules: {
                    Content: [{ required: true, message: '外出事由不能为空', trigger: 'blur' },
                    { min: 0, max: 120, message: '长度在 120 个字符以内', trigger: 'blur' }
                    ],
                    Place: [{ required: true, message: '外出地点不能为空', trigger: 'blur' },
                    { min: 0, max: 30, message: '长度在 30 个字符以内', trigger: 'blur' }
                    ],
                    startAddress: [{ required: true, message: '始发地点不能为空', trigger: 'blur' },
                    { min: 0, max: 30, message: '长度在 30 个字符以内', trigger: 'blur' }
                    ],
                    BeginTime: [{ required: true, message: '外出时间不能为空', trigger: 'blur' },
                    { min: 0, max: 30, message: '长度在 30 个字符以内', trigger: 'blur' }
                    ],
                    Duration: [{ required: true, message: '外出时长不能为空', trigger: 'blur' },
                    { min: 0, max: 30, message: '长度在 30 个字符以内', trigger: 'blur' }
                    ],
                },
                dayPickerOptions: {
                    shortcuts: [
                        {
                            text: '今天',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        }, {
                            text: '明天',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() + 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        }]
                }
            }
        },
        methods: {
            onSubmit(formName) {
                var that = this
                let url = '/Evection/Save'
                var param = _cloneObj(this.tableForm)
                console.log(param)
                let callBack = function (taskId) {
                    param.TaskId = taskId
                    that._postData(url, function (data) {
                        that.$alert('恭喜提交成功', '提示信息', {
                            confirmButtonText: '确定',
                            callback: action => {
                                goHome()
                            }
                        })
                    }, param)
                }

                this.$refs['tableForm'].validate((valid) => {
                    if (valid) {
                        if (this.nodeList[1].AddPeople[0].emplId == DingData.userid) {
                            this.$message({ type: 'error', message: `主管审核无法选择自己，请重选` })
                            return
                        }
                        this.approvalSubmit(callBack)
                        
                    }
                    else {
                        this.$alert('表单信息不全或有误', '提示信息', {
                            confirmButtonText: '确定'
                        })
                    }
                })
            },
            addPlace(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.placeArr.push(this.form.Place)
                        this.tableForm.Place = this.placeArr.join(',')
                        this.dialogFormVisible = false
                        this.form.Place = ''
                    }
                })
            },
            removePlace() {
                this.placeArr.pop()
                this.tableForm.Place = this.placeArr.join(',')
            },
            //选时间操作
            selectTime(value) {
                console.log('选时间操作')
                console.log(value)
                if (!value[0]) return
                this.tableForm.Duration = _computeDurTime(value[0], value[1], 'h') + ''
                this.tableForm.BeginTime = _timeToString(value[0])
                this.tableForm.EndTime = _timeToString(value[1])
            },
        },
        created: function () {
            this.initStart()
        }
    })
</script>



