@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}-{{nodeInfo.NodeName}}
    </div>
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        @RenderPage("~/Views/Shared/startForm.cshtml")
    </el-form>

    <el-form v-on:submit.native.prevent :model="TableForm" :rules="rules" ref="TableForm" label-width="130px" class="demo-ruleForm"
             enctype="multipart/form-data">
        <el-form-item label="申请名称" prop="Name">
            <el-input v-model="TableForm.Name" style="width:550px;"></el-input>
        </el-form-item>
        <el-form-item label="申请类别" prop="Type">
            <el-select v-model="TableForm.Type" style="width:300px;">
                <el-option v-for="s of ['发明','实用新型','外观','软件著作权']" :label="s" :value="s" key="s"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="项目名称" prop="ProjectId">
            <el-select v-model="TableForm.ProjectNo" placeholder="请选择" style="width:400px;" v-on:change="selectProject">
                <el-option v-for="item in projectList"
                           :key="item.ProjectId"
                           :label="item.ProjectId + '-' + item.ProjectName"
                           :value="item.ProjectId">
                    <span style="float: left"> {{item.ProjectId}}-{{ item.ProjectName }} </span>
                    <span style="float: right; color: #8492a6; font-size: 13px"></span>
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="申请发明人" prop="Inventor">
            <el-input v-model="TableForm.Inventor" placeholder="按贡献大小排序" style="width:550px;" type="textarea" :disabled="true"></el-input>
            <el-button class="button-new-tag" size="small" v-on:click="addPeerNumber()">+ 选人</el-button>
        </el-form-item>
    </el-form>
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        @RenderPage("~/Views/Shared/startButton.cshtml")
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                status: status,
                CompanyNames: CompanyNames,
                date: _getDate(),
                addPeopleNodes: [2,5], //额外添加审批人节点数组
                //阿法迪id
                //managers: [{
                //    name: '徐丽华',
                //    emplId: '0532310824152129'
                //}, {
                //    name: '陈思杨',
                //    emplId: '013623174137759543'
                //}],
                //研究院id
                managers: [{
                    name: '徐丽华',
                    emplId: '15543527578095619'
                }, {
                    name: '陈思杨',
                    emplId: '15545554432996107'
                }],

                TableForm: {
                    Company: "",
                    Name: '',
                    Type: "",
                    Inventor: "",
                },
                rules: {
                    Company: [{ required: true, message: '申报单位不能为空', trigger: 'blur' }, { min: 0, max: 30, message: '长度在 30 个字符以内', trigger: 'blur' }],
                    Name: [{ required: true, message: '申请名称不能为空', trigger: 'blur' },{ min: 0, max: 30, message: '长度在 30 个字符以内', trigger: 'blur' }],
                    Type: [{ required: true, message: '申请类别不能为空', trigger: 'blur' }, { min: 0, max: 30, message: '长度在 30 个字符以内', trigger: 'blur' }],
                    Inventor: [{ required: true, message: '申请发明人不能为空', trigger: 'blur' }, { min: 0, max: 30, message: '长度在 30 个字符以内', trigger: 'blur' }],
                    ProjectId: [{ required: true, message: '项目不能为空', trigger: 'blur' }, { min: 0, max: 30, message: '长度在 30 个字符以内', trigger: 'blur' }],
                }
            }
        },
        methods: {
            onSubmit(formName) {
                this.TableForm['Project'] = this.ruleForm.ProjectName
                //根据类型添加审批人
                this.TableForm['Type'] == '软件著作权' ? this.nodeList[5].AddPeople = [this.managers[1]] : this.nodeList[5].AddPeople = [this.managers[0]]
                let callBack = (taskId) => {
                    this.TableForm['TaskId'] = taskId
                    this.PostData('IntellectualProperty/Save', this.TableForm, () => {
                        this.$alert('恭喜提交成功', '提示信息', {
                            confirmButtonText: '确定',
                            callback: action => {
                                goHome()
                            }
                        })
                    })
                }
                this.approvalSubmit(callBack)
            },
            //添加负责人
            addPeerNumber() {
                var that = this
                DingTalkPC.biz.contact.choose({
                    users: [],
                    corpId: DingData.CorpId,
                    max: 10,
                    onSuccess: function (data) {
                        console.log(data)
                        let names = []
                        let ids = []
                        for (let d of data) {
                            names.push(d.name)
                            ids.push(d.emplId)
                        }
                        that.TableForm.Inventor = names.join(',')
                        that.TableForm.InventorId = ids.join(',')
                        that.TableForm.ActualInventor = names.join(',')
                        that.TableForm.ActualInventorId = ids.join(',')
                    },
                    onFail: function (err) { }
                });
            },
        },
        created: function () {
            this.initStart()
        },

    })


</script>



