@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        技术支持申请-{{nodeInfo.NodeName}}
    </div>
    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">

        <el-form-item label="标题" prop="Title">
            <el-input v-model="ruleForm.Title"></el-input>
        </el-form-item>
        <el-form-item label="申请人">
            <el-input v-model="applyMan" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="公司名称" prop="DeptName">
            <el-checkbox-group v-model="ruleForm.DeptName"
                               :min="1">
                <el-checkbox v-for="s in CompanyNames" :label="s"></el-checkbox>
            </el-checkbox-group>
        </el-form-item>

        <el-form-item label="车牌号">
            <el-input v-model="ruleForm.Customer" style="width:200px;"></el-input>
        </el-form-item>
        <el-form-item label="联系方式">
            <el-input v-model="ruleForm.Customer" style="width:200px;"></el-input>
        </el-form-item>
        <el-form-item label="物品名称">
            <el-input v-model="ruleForm.Customer" style="width:200px;"></el-input>
        </el-form-item>
        <el-form-item label="数量">
            <el-input v-model="ruleForm.Customer" style="width:200px;"></el-input>
        </el-form-item>
        <el-form-item label="单位">
            <el-input v-model="ruleForm.Customer" style="width:200px;"></el-input>
        </el-form-item>
        <el-form-item label="放行理由">
            <el-input v-model="ruleForm.Customer" type="textarea" style="width:500px;"></el-input>
        </el-form-item>
        <el-form-item label="放行日期" prop="TimeRequired">
            <el-date-picker v-model="ruleForm.TimeRequired"
                            type="date"
                            value-format="yyyy-MM-dd"
                            @*v-on:change="selectTime"*@
                            placeholder="选择日期">
            </el-date-picker>
        </el-form-item>
        <hr />
        <el-form-item label="建议" prop="remark">
            <el-input v-model="ruleForm.remark" type="textarea" autosize style="width:500px;"></el-input>
        </el-form-item>
        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>
        <el-form-item>
            <el-button type="primary" v-on:click="onSubmit('ruleForm')" :disabled="disablePage">提交</el-button>
        </el-form-item>
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                applyMan: DingData.nickName,
                depts: DeptNames.slice(1,DeptNames.length),
                status: status,
                CompanyNames: CompanyNames,
                nodeList: [],
                nodeInfo: {},
                date: _getDate(),
                addPeopleNodes: [1], //额外添加审批人节点数组
                ruleForm: {
                    DeptName: [],
                    ResponsibleMan: "",
                    ResponsibleManId: '',
                    OtherEngineers: "",
                    OtherEngineersId: "",
                    Customer: "",
                    EmergencyLevel : "中",
                    TimeRequired: "",
                    ProjectOverview: "",
                    MainPoints: "",
                    Title: "物资放行条"
                },
                rules: {
                    ResponsibleMan: { required: true, message: '联系方式不能为空', trigger: 'blur' },
                    Customer: { required: true, message: '物品名称不能为空', trigger: 'blur' },
                    TimeRequired: { required: true, message: '数量不能为空', trigger: 'blur' },
                    ProjectOverview: { required: true, message: '单位不能为空', trigger: 'blur' },
                    MainPoints: { required: true, message: '放行事由不能为空', trigger: 'blur' },
                    MainPoints: { required: true, message: '放行日期不能为空', trigger: 'blur' }
                }
            }
        },
        methods: {
            onSubmit(formName) {
                //console.log(this.ruleForm)
                //return
                let callBack = (taskId) => {
                    this.ruleForm['TaskId'] = taskId
                    this.ruleForm.DeptName = this.ruleForm.DeptName.join(',')
                    this.PostData('TechnicalSupport/Save', this.ruleForm, () => {
                        this.$alert('恭喜提交成功', '提示信息', {
                            confirmButtonText: '确定',
                            callback: action => {
                                goHome()
                            }
                        })
                    })
                }
                this.approvalSubmit(formName, {
                    Title: this.ruleForm.Title,
                    Remark: this.ruleForm.remark
                }, callBack)
            }
        },
        created: function () {
            this.getNodeInfo()
            this.getApproInfo()
            loadHtml("mainPage", "partPage")
        },
    })
</script>



