@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}-{{nodeInfo.NodeName}}
    </div>
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        @RenderPage("~/Views/Shared/startForm.cshtml")
    </el-form>
    <el-form v-on:submit.native.prevent :model="tableForm" :rules="rules" ref="tableForm" label-width="130px" class="demo-ruleForm"
             enctype="multipart/form-data">
        @*<el-form-item label="部门" prop="Dept">
            <el-select v-model="tableForm.Dept" style="width:300px;">
                <el-option v-for="(s,i) of DeptNames" :label="s" :value="s" :key="i"></el-option>
            </el-select>
        </el-form-item>*@
        @*<el-form-item label="同行人">
            <sam-group :names.sync="tableForm.PeerNumber" :ids.sync="tableForm.PeerNumberId"></sam-group>
        </el-form-item>*@
        <el-form-item label="领用数量" prop="PickCount">
            <el-input-number v-model="tableForm.PickCount" :precision="1" :step="1" :max="200" :min="1"></el-input-number>
            
        </el-form-item>
        <el-form-item label="领用人数" prop="PickPeopleCount">
            <el-input-number v-model="tableForm.PickPeopleCount" :precision="1" :step="1" :max="200" :min="1"></el-input-number>
        </el-form-item>
        <el-form-item label="使用时间" prop="BeginTime" v-if="doneloadTmp">
            <sam-timerange :onchange="selectTime" :value1.sync="tableForm.BeginTime" :value2.sync="tableForm.EndTime" :date="true"></sam-timerange>
            <h3>1.口罩每人每日限领两个，各部门指派1人按出勤实际人数领用，不得多领。</h3>
            <h3>2.严格按照《口罩使用说明》正确使用口罩。</h3>
            <h3>3.因口罩资源短缺，希望员工尽量考虑自行准备医用口罩。</h3>
        </el-form-item>
    </el-form>
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        @RenderPage("~/Views/Shared/startButton.cshtml")
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                duringTime:1,
                rules: {
                    Dept: [{ required: true, message: '部门名称不能为空', trigger: 'blur' }],
                    BeginTime: { required: true, message: '使用时间不能为空', trigger: 'blur' },
                },
            }
        },
        methods: {
            onSubmit(formName) {
                var that = this
                let url = '/PickMask/Save'
                this.tableForm['Dept'] = this.ruleForm.Dept
                this.tableForm['Remark'] = this.ruleForm.remark
                var param = [_cloneObj(this.tableForm)]
                let callBack = function (taskId) {
                    console.log(taskId)
                    param[0].TaskId = taskId
                    console.log(JSON.stringify(param))
                    that.PostData(url, param, function (data) {
                        that.$alert('恭喜提交成功', '提示信息', {
                            confirmButtonText: '确定',
                            callback: action => {
                                goHome()
                            }
                        })
                    })
                }
                this.$refs['tableForm'].validate((valid) => {
                    if (valid) {
                        console.log(this.tableForm.BeginTime)
                        console.log(this.tableForm.EndTime)
                        console.log(this.duringTime)
                        if (this.tableForm.PickCount > this.duringTime * 2 * this.tableForm.PickPeopleCount) {
                            this.$message({ type: 'error', message: `超过可领用数量，工作日每人每天限两个` })
                            return
                        }
                        that.approvalSubmit(callBack)
                    } 
                    else {
                        that.$alert('表单信息不全或有误', '提示信息', {
                            confirmButtonText: '确定'
                        })
                    }
                })
            },
            //选时间操作
            selectTime(value) {
                if (!value[0]) return
                this.duringTime = _computeDurTime(value[0], value[1], 'd2') 
            },
        },

        created: function () {
            this.initStart((res) => {
                //this.tableForm['Dept'] = DingData.dept[0]
            })
        }
    })


</script>



