@{
    Layout = null;
}
<script>
    // :minlength="{{min||0}}" :maxlength="{{max||12}}" :type="{{type||'input'}}"
    Vue.component('sam-input', {
        props: ['value', 'required', 'type', 'min', 'max', 'callBack', 'placeholder'],
        template: `<el-input :value=value show-word-limit  :type="type||'input'" :placeholder="placeholder||''"
                        :minlength = min||0 :maxlength = max||30 v-on:blur="onBlur"
                        :class="{ redborder:(value =='' && required)}">
                   </el-input>`,
        data: function () {
            return {
                
            }
        },
        methods: {
            onBlur(e) {
                let value = e.target.value.replace(/(^\s*)|(\s*$)/g, '')
                if (this.required && value == '') {
                    this.$message({ type: 'error', message: `请输入正确值` });
                }
                this.$emit('update:value', value)
            }
        },
    })
</script>

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <!--标题-->
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        办公用品申请-{{nodeInfo.NodeName}}
    </div>
    <!--物料搜索-->
    <div>
        <span style="color:red">*</span><span style="padding:3px;">关键字</span>
        <sam-input :value.sync="searchForm.name" style="width:200px;" placeholder="请输入搜索关键字"></sam-input>
        <el-button type="primary" v-on:click="searchCode">搜索</el-button>
    </div>
    <!--物料列表表格實體-->
    <el-table :data="tableData" stripe border>
        <el-table-column prop="fNumber" label="物料编码"></el-table-column>
        <el-table-column prop="fName" label="物料名称"></el-table-column>
        <el-table-column prop="fModel" label="规格型号"></el-table-column>
        <el-table-column prop="unitName" label="单价"></el-table-column>
        <el-table-column prop="fNote" label="预计单价"></el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <p v-if="noList.indexOf(scope.row.fNumber) >= 0">已选择</p>
                <el-button v-else size="mini" v-on:click="addGood(scope.$index, scope.row)">选择</el-button>
            </template>
        </el-table-column>
    </el-table>
    <!--底部翻頁-->
    <div style="text-align:right">
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[1, 3, 5, 10]"
                       :page-size="pageSize"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="totalRows">
        </el-pagination>
    </div>
    <hr />
    <h3>已选办公用品</h3>
    <!--采购列表表格實體-->
    <el-table :data="purchaseList" stripe border>
        <el-table-column prop="CodeNo" label="物料编码"></el-table-column>
        <el-table-column prop="Name" label="物料名称"></el-table-column>
        <el-table-column prop="Standard" label="规格型号"></el-table-column>
        <el-table-column prop="Unit" label="单位"></el-table-column>
        <el-table-column prop="ExpectPrice" label="预计单价" width="100"></el-table-column>
        <el-table-column prop="Count" label="数量" width="100">
            <template slot-scope="scope">
                <sam-input :value.sync="scope.row.Count" type="number" :required="true"></sam-input>
            </template>
        </el-table-column>
        <el-table-column prop="Purpose" label="用途">
            <template slot-scope="scope">
                <sam-input :value.sync="scope.row.Purpose"></sam-input>
            </template>
        </el-table-column>
        <el-table-column prop="Mark" label="备注">
            <template slot-scope="scope">
                <sam-input :value.sync="scope.row.Mark"></sam-input>
            </template>
        </el-table-column>
        <el-table-column label="操作" width="80">
            <template slot-scope="scope">
                <el-button size="mini" type="danger" v-on:click="deleteGood(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"
             id="uploadForm" enctype="multipart/form-data">
        <el-form-item label="预计总价">
            <el-input v-model="totalPrice" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="标题" prop="Title">
            <el-input v-model="ruleForm.Title"></el-input>
        </el-form-item>
        <el-form-item label="申请人" prop="ApplyMan">
            <el-input v-model="ruleForm.ApplyMan" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="备注" prop="remark">
            <el-input v-model="ruleForm.remark"></el-input>
        </el-form-item>
        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>
        <el-form-item>
            <el-button type="primary" v-on:click="onSubmit('ruleForm')" :disabled="disablePage">提交申请</el-button>
            <el-button type="primary" v-on:click="saveTempData">临时保存</el-button>
            @*<el-button v-on:click="resetForm('ruleForm')">重置</el-button>*@
        </el-form-item>
    </el-form>
</el-main>

<script>
    NodeId = '0'
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                data: [],
                tableData: [],
                purchaseList: [],
                noList:[],
                projectList: [],
                good: {
                    ExpectPrice: '',
                    Unit: '',
                    Count: ''
                },
                preApprove: false,
                nodeList: [],
                nodeInfo: {},
                dialogFormVisible: false,
                searchForm: {
                    name: '',
                },
                ruleForm: {
                    ApplyMan: DingData.nickName,
                    remark: '',
                    ProjectName: '',
                    Title: '办公用品申请',
                    ProjectId: null,
                    inputProjectName: '',
                    inputProjectId: '',
                    Time: ''
                },
                preApprover: false
            }
        },
        methods: {
            onSubmit(formName) {
                if (!this.purchaseList.length) {
                    this.elementAlert('提交失败', '请选择办公用品！')
                    return
                }
                for (let p of this.purchaseList) {
                    if (p.Count == '') {
                        this.elementAlert('提交失败', '请填写已选用品信息！')
                        return
                    }
                }
                var that = this
                let url = '/OfficeSupplies/SaveTable'
                let callBack = function (taskId) {
                    console.log(taskId)
                    var param = []
                    for (let p of that.purchaseList) {
                        p.TaskId = taskId
                        param.push(p)
                    }
                    console.log(JSON.stringify(param))
                    that._postData(url, function (data) {
                        that.$alert('恭喜提交审批成功', '提示信息', {
                            confirmButtonText: '确定',
                            callback: action => {
                                goHome()
                            }
                        })
                    }, param)
                }
                that.approvalSubmit(formName, {
                    Title: that.ruleForm.Title,
                    Remark: that.ruleForm.remark
                }, callBack)
            },
            
            //搜索物料列表
            searchCode(formName) {
                this.searchForm.name = this.searchForm.name.replace(/\s/g,'')
                if (!this.searchForm.name) {
                    //success / info / warning / error
                    this.$message({type: 'error',message: `输入错误` });
                    return
                }
                var url = jinDomarn + 'OfficeSupply/GetOfficeInfo?Key=' + this.searchForm.name
                this._getData(url, (res) => {
                    this.data = res.data
                    this.totalRows = res.length
                    this.getData()
                })
            },
            //添加申请物料
            addGood(index, good) {
                for (let p of this.purchaseList) {
                    if (p.CodeNo == good.FNumber) return
                }
                //if (!checkRate(good.FNote)) good.FNote = 0
                console.log(good.FNote)
                this.purchaseList.push({
                    CodeNo: good.fNumber,
                    Name: good.fName,
                    Standard: good.fModel,
                    Unit: good.unitName,
                    ExpectPrice: good.fNote,// == '0' ? '' : good.FNote,
                    Count: '',
                    Purpose: '',
                    UrgentDate: '',
                    Mark: ''
                })
                this.noList.push(good.fNumber)
            },
            //删除申请物料
            deleteGood(index, good) {
                this.purchaseList.splice(index, 1)
                this.noList.splice(index, 1)
            },
            //编辑审批物料
            showEditGood(index, good) {
                this.dialogFormVisible = true
                this.good = $.extend({}, good)
                this.good.index = index
            },
            editGood() {
                this.dialogFormVisible = false
                let tmpGood = $.extend({}, this.good)
                if (tmpGood.UrgentDate) tmpGood.UrgentDate = _dateToString(tmpGood.UrgentDate)
                this.purchaseList[this.good.index] = tmpGood
                let tmpArr = _cloneArr(this.purchaseList)
                this.purchaseList = tmpArr
                console.log('done eidt')
                console.log(this.good.index)
                console.log(this.purchaseList)
            },
      
            //显示临时保存数据
            saveTempData() {
                setLocalObj('officeSupplies', this.purchaseList)
                this.elementAlert('提示信息','临时保存成功，支持下次继续')
            },
            loadTempData() {
                var data = getLocalObj('officeSupplies')
                console.log('load officeSupplies')
                console.log(data)
                if (data && data.length && data.length > 0) this.purchaseList = data
                localStorage.removeItem('officeSupplies')
            }
        },
        computed: {
            totalPrice: function () {
                var totalPrice = 0
                for (let p of this.purchaseList) {
                    totalPrice = parseFloat(totalPrice + p.ExpectPrice * p.Count).toFixed(2)
                }
                return totalPrice
            }
        },
        created: function () {
            //FlowId = 6
            this.getNodeInfo()
            this.getProjects()
            this.getApproInfo()
            this.loadTempData()
            this.loadReApprovalData()
            loadHtml("mainPage", "partPage")
           
        }
    })
    document.onkeydown = function (e) { // 回车提交表单
        // 兼容FF和IE和Opera
        var theEvent = window.event || e;
        var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
        if (code == 13) {
            demo.searchCode()
        }
    }
</script>



