@{
    Layout = null;
}

<!--右侧实体内容-->
<div id="partPage">
    <!--标题-->
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        领料管理
    </div>
    @*用车数据*@
    <!--检索项目表单-->
    <el-form v-on:submit.native.prevent :model="searchParam" class="demo-form-inline"
             size="medium">
        <el-form-item label="关键字">
            <sam-input :value.sync="searchParam.key" style="width:200px;" placeholder="申请人、申请部门、物料名称"></sam-input>
        </el-form-item>
        <el-form-item label="领料时间" required="required">
            <el-date-picker v-model="timeRange"
                            type="datetimerange"
                            v-on:change="selectTime" :editable="false"
                            @*:picker-options="dayPickerOptions"*@
                            range-separator="至"
                            start-placeholder="开始时间"
                            end-placeholder="结束时间">
            </el-date-picker>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" v-on:click="searchData">搜索</el-button>
            <el-button v-if="tableData.length>0" v-on:click="printData" type="primary">打印表单</el-button>
        </el-form-item>
    </el-form>
    <!--表格實體-->
    <el-table :data="tableData" stripe border>
        <el-table-column prop="ApplyMan" label="申请人"></el-table-column>
        <el-table-column prop="fName" label="物料名称"></el-table-column>
        <el-table-column prop="fNumber" label="物料编码"></el-table-column>
        <el-table-column prop="fPrice" label="单价"></el-table-column>
        <el-table-column prop="fQty" label="数量"></el-table-column>
        <el-table-column prop="unitName" label="单位"></el-table-column>
        <el-table-column prop="fModel" label="规格型号"></el-table-column>
        <el-table-column prop="fFullName" label="供应商"></el-table-column>
        <el-table-column prop="ProjectName" label="项目名称"></el-table-column>
        <el-table-column prop="TaskId" label="流水号"></el-table-column>
        <el-table-column prop="Remark" label="备注"></el-table-column>
    </el-table>
    <!--底部翻頁-->
    <div style="text-align:right">
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="searchParam.pageIndex"
                       :page-sizes="[1, 3, 5, 10]"
                       :page-size="5"
                       layout="total, prev, pager, next, jumper"
                       :total="totalRows">
        </el-pagination>
    </div>
</div>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                data: [],
                searchParam: {
                    startTime: '',
                    endTime: '',
                    pageIndex: 1,
                    pageSize: 5,
                    applyManId: DingData.userid,
                    key: '',
                    IsSend: false
                },
                timeRange: [],
                totalRows: 0,
                data: [],
                tableData:[],
            }
        },
        methods: {
            //领料数据相关
            searchData: function () {
                if (!this.searchParam.startTime) {
                    this.$message({ type: 'error', message: `请填写时间！` });
                    return
                }
                var that = this
                let param = _cloneObj(this.searchParam)
                let handle = function (data) {
                    that.totalRows = data.length
                    that.data = data
                    that.getData()
                }
                this.GetData("/Pick/Query" + _formatQueryStr(param), handle)
            },
            printData: function () {
                let param = _cloneObj(this.searchParam)
                param.IsSend = true
                this.GetData("/Pick/Query" + _formatQueryStr(param), (res) => {
                    this.$message({ type: 'success', message: `文件已推送到钉钉，请查收` });
                })
                
            },
            //选操作
            selectTime(value) {
                if (!value || !value[0]) {
                    this.searchParam.startTime = ''
                    this.searchParam.endTime = ''
                    return
                }
                this.searchParam.startTime = _timeToString(value[0])
                this.searchParam.endTime = _timeToString(value[1])
            },
        },
        created: function () {
            loadHtml("mainPage", "partPage")
        }
    })


</script>