@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <!--标题-->
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        零部件采购申请-{{nodeInfo.NodeName}}
    </div>
    <!--物料搜索-->
    @*<el-form :inline="true" :model="searchForm" class="demo-form-inline" autocomplete="off" v-on:submit.prevent="searchCode('searchForm')"
             size="medium" :rules="rules">
        <el-form-item label="关键字" prop="name">
            <el-input v-model="searchForm.name" style="width:200px;"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" v-on:click="searchCode('searchForm')">搜索</el-button>
        </el-form-item>
    </el-form>*@
    <div>
        <span style="color:red">*</span><span style="padding:3px;">关键字</span><el-input v-model="searchForm.name" style="width:200px;"></el-input>
        <el-button type="primary" v-on:click="searchCode">搜索</el-button>
    </div>
    <!--物料列表表格實體-->
    <el-table :data="tableData" stripe border>
        <el-table-column prop="FNumber" label="物料编码"></el-table-column>
        <el-table-column prop="FName" label="物料名称"></el-table-column>
        <el-table-column prop="FModel" label="规格型号"></el-table-column>
        @*<el-table-column prop="FOrderPrice" label="单价"></el-table-column>*@
        <el-table-column prop="FNote" label="预计单价"></el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button size="mini"
                           v-on:click="addGood(scope.$index, scope.row)">选择</el-button>
            </template>
        </el-table-column>
    </el-table>
    <!--底部翻頁-->
    <div style="text-align:right">
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[1, 3, 5, 10]"
                       :page-size="pageSize"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="totalRows">
        </el-pagination>
    </div>
    <hr />
    <h3>已选物料</h3>
    <!--采购列表表格實體-->
    <el-table :data="purchaseList" stripe border>
        <el-table-column prop="CodeNo" label="物料编码"></el-table-column>
        <el-table-column prop="Name" label="物料名称"></el-table-column>
        <el-table-column prop="Standard" label="规格型号"></el-table-column>
        <el-table-column prop="Unit" label="单位">
            <template slot-scope="scope">
                <el-input v-model="scope.row.Unit" prop="Unit" :class="{ redborder:scope.row.Unit ==''}">
                </el-input>
            </template>
        </el-table-column>
        <el-table-column prop="Price" label="单价" width="100">
            <template slot-scope="scope">
                <el-input v-model="scope.row.Price" >
                </el-input>
            </template>
        </el-table-column>
        <el-table-column prop="Count" label="数量" width="100">
            <template slot-scope="scope">
                <el-input v-model="scope.row.Count" prop="Count" :class="{ redborder:scope.row.Count ==''}"></el-input>
            </template>
        </el-table-column>
        <el-table-column prop="Purpose" label="用途">
            <template slot-scope="scope">
                <el-input v-model="scope.row.Purpose"></el-input>
            </template>
        </el-table-column>
        <el-table-column prop="UrgentDate" label="需用日期" width="140">
            <template slot-scope="scope">
                <el-date-picker v-model="scope.row.UrgentDate" :class="{ redborder:scope.row.UrgentDate ==''}" class="repadding" 
                                type="date" prefix-icon="el-icon-minus" clear-icon="el-icon-minus"
                                >
                </el-date-picker>
            </template>
        </el-table-column>
        <el-table-column prop="Mark" label="备注">
            <template slot-scope="scope">
                <el-input v-model="scope.row.Mark"></el-input>
            </template>
        </el-table-column>
        <el-table-column label="操作" width="80">
            <template slot-scope="scope">
                @*<el-button size="mini" v-on:click="showEditGood(scope.$index, scope.row)">编辑</el-button>*@
                <el-button size="mini" type="danger" v-on:click="deleteGood(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <!--编辑物料表單-->
    <el-dialog title="编辑物料" :visible.sync="dialogFormVisible">
        <el-form :model="good" class="demo-form-inline" :rules="rules" ref="good"
                 size="medium">
            <el-form-item label="物料编码">
                <el-input v-model="good.CodeNo" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="物料名称">
                <el-input v-model="good.Name" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="规格型号">
                <el-input v-model="good.Standard" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="单价">
                <el-input v-model="good.Price"></el-input>
            </el-form-item>
            <el-form-item label="单位">
                <el-input v-model="good.Unit" prop="Unit"></el-input>
            </el-form-item>
            <el-form-item label="数量">
                <el-input v-model="good.Count" prop="Count"></el-input>
            </el-form-item>
            <el-form-item label="用途">
                <el-input v-model="good.Purpose"></el-input>
            </el-form-item>
            <el-form-item label="需用日期">
                <el-date-picker v-model="good.UrgentDate"
                                type="date"
                                placeholder="选择日期">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="备注">
                <el-input v-model="good.Mark"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" v-on:click="editGood">完 成</el-button>
        </div>
    </el-dialog>

    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"
             id="uploadForm" enctype="multipart/form-data">
        <el-form-item label="预计总价">
            <el-input v-model="totalPrice" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="项目名" prop="ProjectId">
            <el-select v-model="ruleForm.ProjectId" placeholder="请选择" style="width:400px;">
                <el-option v-for="item in projectList"
                           :key="item.ProjectId"
                           :label="item.ProjectName"
                           :value="item.ProjectId">
                    <span style="float: left">{{ item.ProjectName }}  -编号: {{item.ProjectId}}</span>
                    <span style="float: right; color: #8492a6; font-size: 13px"></span>
                </el-option>
            </el-select>
            @*<el-button class="button-new-tag" size="small" v-on:click="showAddProject = true">+ 添加项目</el-button>
            <el-button v-show="showAddProject" class="button-new-tag" size="small" v-on:click="showAddProject = false">隐藏</el-button>*@
        </el-form-item>

        <template v-if="showAddProject">
            <el-form-item label="项目名称" prop="inputProjectName">
                <el-input v-model="ruleForm.inputProjectName"></el-input>
            </el-form-item>
            <el-form-item label="项目编号" prop="inputProjectId">
                <el-input v-model="ruleForm.inputProjectId"></el-input>
            </el-form-item>
            <el-form-item label="开始日期">
                <el-date-picker v-model="ruleForm.Time"
                                type="daterange"
                                :picker-options="pickerOptions"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                </el-date-picker>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="addProject">添加</el-button>
            </el-form-item>
        </template>
        <el-form-item label="标题" prop="Title">
            <el-input v-model="ruleForm.Title"></el-input>
        </el-form-item>
        <el-form-item label="申请人" prop="name">
            <el-input v-model="ruleForm.name" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="建议" prop="remark">
            <el-input v-model="ruleForm.remark"></el-input>
        </el-form-item>
        <!--添加审批人-->
        <sam-approver-list :nodedata="nodeInfo" :nodelist="nodeList" :single="true"></sam-approver-list>
        <el-form-item>
            <el-button type="primary" v-on:click="onSubmit('ruleForm')" :disabled="disablePage">提交申请</el-button>
            @*<el-button v-on:click="resetForm('ruleForm')">重置</el-button>*@
        </el-form-item>
    </el-form>
</el-main>

<script>
    NodeId = '0'
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                data: [],
                tableData: [],
                purchaseList: [],
                projectList: [],
                good: {
                    Price: '',
                    Unit: '',
                    Count: ''
                },
                preApprove: false,
                nodeList: [],
                nodeInfo: {},
                dialogFormVisible: false,
                searchForm: {
                    name:'',
                },
                ruleForm: {
                    name: DingData.nickName,
                    remark: '',
                    ProjectName: '',
                    Title: '零部件采购申请',
                    ProjectId: null,
                    inputProjectName: '',
                    inputProjectId: '',
                    Time: ''
                },
                preApprover: false
            }
        },
        methods: {
            onSubmit(formName) {
                var that = this
                for (let p of this.purchaseList) {
                    if (!p.UrgentDate || !p.Unit || !p.Count) {
                        this.elementAlert('提示信息', '表单未填写完整')
                        return
                    }
                }
                var ProjectName
                for (let p of that.projectList) {
                    if (p.ProjectId == that.ruleForm.ProjectId) {
                        ProjectName = p.ProjectName
                    }
                }
                let callBack = function (taskId) {
                    console.log("提交审批ok!")
                    console.log(taskId)
                    that.bindAll(taskId)
                }
                that.approvalSubmit(formName, {
                    Title: that.ruleForm.Title,
                    Remark: that.ruleForm.remark,
                    ProjectName: ProjectName,
                    ProjectId: that.ruleForm.ProjectId
                }, callBack, {
                        ProjectId: that.ruleForm.ProjectId
                    })
            },
            bindAll(taskId) {
                var that = this
                var paramArr = []
                for (let p of this.purchaseList) {
                    p.TaskId = taskId
                    paramArr.push(p)
                }
                console.log("采购表单批量保存 paramArr ")
                console.log(paramArr)
                $.ajax({
                    url: '/Purchase/SavePurchaseTable',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(paramArr),
                    success: function (data) {
                        console.log(data)
                        var alertStr = '采购表单批量保存成功'
                        if (data.errorCode != 0) alertStr = data.errorMessage
                        that.doneSubmit(alertStr)
                    }
                })
            },
            //搜索物料列表
            searchCode(formName) {
                var that = this
                if (!this.searchForm.name) return
                //this.$refs[formName].validate((valid) => {
                //    if (valid) {
                        var url = '/Purchase/GetICItem?Key=' + that.searchForm.name
                        $.ajax({
                            url: url,
                            success: function (data) {
                                console.log(url)
                                console.log("搜索物料列表ok")
                                data = JSON.parse(data)
                                console.log(data)
                                that.data = data
                                that.totalRows = data.length
                                that.getData()
                            }
                        })
                //    } else {
                //        console.log('搜索物料列表')
                //        return false;
                //    }
                //});
            },
            //添加申请物料
            addGood(index, good) {
                for (let p of this.purchaseList) {
                    if (p.CodeNo == good.FNumber) return
                }
                if (!checkRate(good.FNote)) good.FNote = 0
                console.log(good.FNote)
                this.purchaseList.push({
                    CodeNo: good.FNumber,
                    Name: good.FName,
                    Standard: good.FModel,
                    Unit: '',
                    Price: good.FNote == '0' ? '' : good.FNote,
                    Count: '',
                    Purpose: '',
                    UrgentDate: '',
                    Mark: ''
                })
            },
            //删除申请物料
            deleteGood(index, good) {
                this.purchaseList.splice(index, 1)
            },
            //编辑审批物料
            showEditGood(index, good) {
                this.dialogFormVisible = true
                this.good = $.extend({}, good)
                this.good.index = index
            },
            editGood() {
                this.dialogFormVisible = false
                let tmpGood = $.extend({}, this.good)
                if (tmpGood.UrgentDate) tmpGood.UrgentDate = _dateToString(tmpGood.UrgentDate)
                this.purchaseList[this.good.index] = tmpGood
                let tmpArr = _cloneArr(this.purchaseList)
                this.purchaseList = tmpArr
                console.log('done eidt')
                console.log(tmpGood)
                console.log(this.good.index)
                console.log(this.purchaseList)
            },
            
            //加载重新发起审批传递的数据
            loadReApprovalData() {
                if (!ReApprovalTempData.valid) return
                this.ruleForm.ProjectId = ReApprovalTempData.ProjectId
                ReApprovalTempData.valid = false
                this.purchaseList = ReApprovalTempData.data
            }
        },
        computed: {
            totalPrice: function () {
                var totalPrice = 0
                for (let p of this.purchaseList) {
                    totalPrice = totalPrice + p.Price * p.Count
                }
                return totalPrice
            }
        },
        created: function () {
            //FlowId = 6
            this.getNodeInfo()
            this.getProjects()
            this.getApproInfo()
            this.loadReApprovalData()
            loadHtml("mainPage", "partPage")
            document.onkeydown = function (event) {
                var e = event || window.event;
                if (e && e.keyCode == 13) { //回车键的键值为13
                    return
                }
            }; 
        }
    })

</script>



