@{
    Layout = null;
}

<!--右侧实体内容-->
<div id="partPage">
    <!--标题-->
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        角色管理
    </div>

    <!--表格實體-->
    <el-table :data="tableData" stripe border>
        <el-table-column type="index"></el-table-column>
        <el-table-column prop="RoleName" label="角色名称"></el-table-column>
        <el-table-column prop="CreateTime" label="创建时间"></el-table-column>
        <el-table-column prop="IsEnable" label="是否启用"></el-table-column>
        <el-table-column label="操作" style="width:300px;">
            <template slot-scope="scope" style="width:300px;">
                <el-button size="mini" v-on:click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button size="mini" type="danger" v-on:click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>>
    </el-table>
    <!--底部翻頁-->
    <div style="text-align:right">
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[1, 3, 5, 10]"
                       :page-size="5"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="totalRows">
        </el-pagination>
    </div>
    <!--编辑项目表单-->
    <el-dialog title="编辑项目" :visible.sync="dialogFormVisible">
        <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"
                 enctype="multipart/form-data">
            <template>
                <el-form-item label="角色名称">
                    <sam-input :value.sync="ruleForm.RoleName" placeholder="角色名称"></sam-input>
                </el-form-item>
                <el-form-item label="权限成员">
                    <sam-group :names.sync="ruleForm.UserNames" :ids.sync="ruleForm.UserIds" :onchange=""></sam-group>
                </el-form-item>
                <el-form-item label="是否启用">
                    <el-radio-group v-model="ruleForm.IsEnable">
                        <el-radio :label="true">是</el-radio>
                        <el-radio :label="false">否</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="启用成员">
                    <sam-checkbox :str.sync="ruleForm.IsEnableStr" :arr="ruleForm.IsEnableArr" :onchange="onEditRolemanChange"></sam-checkbox>
                </el-form-item>
                <hr />
                <el-form-item>
                    <el-button type="primary" v-on:click="editProject('ruleForm')">编辑</el-button>
                    <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
                </el-form-item>
            </template>
        </el-form>
    </el-dialog>
    <!--添加角色表单-->
    <el-form v-on:submit.native.prevent :model="addForm" class="demo-form-inline"
             size="medium">
        <el-form-item label="角色名称">
            <sam-input :value.sync="addForm.RoleName" placeholder="角色名称"></sam-input>
        </el-form-item>
        <el-form-item label="权限成员">
            <sam-group :names.sync="addForm.UserNames" :ids.sync="addForm.UserIds" :onchange=""></sam-group>
        </el-form-item>
        <el-form-item label="是否启用">
            <el-radio-group v-model="addForm.IsEnable">
                <el-radio :label="true">是</el-radio>
                <el-radio :label="false">否</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="启用成员">
            <sam-checkbox :str.sync="addForm.IsEnableStr" :arr="addForm.IsEnableArr" :onchange="onAddRolemanChange"></sam-checkbox>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" v-on:click="addRole">添加</el-button>
        </el-form-item>
    </el-form>
</div>


<script>
    var Index = 0
    var id = ''
    let initObj = {
        CreateMan: DingData.nickName,
        CreateManId: DingData.userid,
        RoleName: '',
        UserNames: '',
        UserIds: '',
        IsEnable: true,
        IsEnableArr: [],
        IsEnableStr: ''
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                data: [],
                tableData: [],
                superSearch: false,
                nodeInfo: {},
                addForm: _cloneObj(initObj),
                ruleForm: _cloneObj(initObj),
                dialogFormVisible: false,
            }
        },
        methods: {
            //获取角色数据
            getRoles() {
                this.GetData('Role/GetRole?applyManId=' + DingData.userid, (res) => {
                    this.data = data
                    this.totalRows = data.length
                    this.getData()
                })    
            },
            addRole() {
                let names = this.addForm.UserNames
                let ids = this.addForm.UserIds
                for (let i = 0; i < ids.length; i++) {
                    this.addForm.role.push({
                        CreateMan: names[i],
                        CreateManId: ids[i],
                        IsEnable: this.addForm.IsEnableStr.indexOf(names[i])>0 ? true : false
                    })
                }
                this.PostData('Role/AddRole', this.addForm, (res) => {
                    this.$message({ type: 'success', message: `添加成功` });
                    this.getRoles()
                    this.addForm = _cloneObj(initObj)
                })
            },
            onAddRolemanChange(names, ids) {
                this.addForm.IsEnableArr = names
            },
            onEditRolemanChange(names, ids) {
                this.ruleForm.IsEnableArr = names
            },
            //编辑项目并保存
            editProject(formName) {
                var that = this
                this.$refs[formName].validate((valid) => {
                    if (valid && this.ResponsibleMan[0].name && this.groupPeople[0].name) {
                        console.log(valid)
                        that.disablePage = true
                        let names = []
                        let ids = []
                        for (let p of this.groupPeople) {
                            names.push(p.name)
                            ids.push(p.emplId)
                        }
                        var param = {}
                        for (let r in that.ruleForm) {
                            param[r] = that.ruleForm[r]
                        }
                        param["Id"] = id
                        param["ResponsibleMan"] = this.ResponsibleMan[0].name
                        param["ResponsibleManId"] = this.ResponsibleMan[0].emplId
                        param["TeamMembers"] = names.join(',')
                        param["TeamMembersId"] = ids.join(',')
                        console.log(JSON.stringify(param))
                        that.PostData("/ProjectNew/ProjectInfoModify", param, (res) => {
                            that.$alert(data.errorMessage, '提示信息', {
                                confirmButtonText: '确定',
                                callback: action => {
                                    that.dialogFormVisible = false
                                    that.getProject()
                                }
                            })
                        })
                    }
                    else {
                        that.$alert('表单信息不全或有误', '提示信息', {
                            confirmButtonText: '确定'
                        })
                    }
                })
            },
            //打开编辑表单
            handleEdit(index, row) {
                console.log(index)
                console.log(row)
                let names = []
                let ids = []
                let ables = []
                for (let r of row.roles) {
                    names.push(r.UserName)
                    ids.push(r.UserId)
                    if (r.IsEnable)ables.push(r.UserName)
                }
                this.ruleForm.IsEnableArr = names
                this.ruleForm.UserNames = names.join(',')
                this.ruleForm.UserIds = ids.join(',')
                this.ruleForm.IsEnableStr = ables.join(',')
                this.dialogFormVisible = true
                
            },
            handleDelete(index, row) {
                console.log(index, row);
                
            }
        },
        created: function () {
            this.getRoles()
            loadHtml("mainPage", "partPage")
        }
    })


</script>