@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        文件阅办-{{nodeInfo.NodeName}}
    </div>
    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">

        <el-form-item label="标题" prop="Title">
            <el-input v-model="ruleForm.Title" style="width:300px;"></el-input>
        </el-form-item>
        <el-form-item label="申请人">
            <el-input v-model="ruleForm.ApplyMan" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>

        <el-form-item label="来文单位" prop="ReceivingUnit">
            <el-input v-model="ruleForm.ReceivingUnit" style="width:500px;"></el-input>
        </el-form-item>

        <el-form-item label="文件文号">
            <el-input v-model="ruleForm.FileNo" style="width:500px;"></el-input>
        </el-form-item>

        <el-form-item label="收文时间" prop="ReceivingTime">
            <el-date-picker v-model="ruleForm.ReceivingTime"
                            value-format="yyyy-MM-dd"
                            type="date"
                            placeholder="选择日期">
            </el-date-picker>
        </el-form-item>

        <el-form-item label="主要内容" prop="MainIdea">
            <el-input v-model="ruleForm.MainIdea" type="textarea" row="5" style="width:500px;"></el-input>
        </el-form-item>

        <el-form-item label="上传文件" required="required">
            <el-upload class="upload-demo"
                       drag
                       :file-list="fileList"
                       action="/drawingupload/Upload"
                       :on-remove="HandleFileRemove"
                       :before-upload="BeforeFileUpload"
                       :on-success="HandleFileSuccess"
                       multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                <div class="el-upload__tip" slot="tip">不超过30M</div>
            </el-upload>
        </el-form-item>
        <hr />

        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>

        <el-form-item>
            <el-button type="primary" v-on:click="onSubmit('ruleForm')">提交</el-button>
            <el-button v-on:click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                nodeList: [],
                nodeInfo: {},
                fileList: [],
                mediaList: [],
                ruleForm: {
                    ApplyMan: DingData.nickName,
                    MainContent: "",
                    ReceivingUnit: "",
                    FileNo: "",
                    ReceivingTime: "",
                    MainIdea: "",
                    Title: "文件阅办单",
                    FileUrl: '',
                    OldFileUrl: ''
                }
            }
        },
        methods: {
            onSubmit(formName) {
                console.log('submit!');
                var that = this
                let url = '/Receiving/save'
                var param = _cloneObj(this.ruleForm)
                this.fileListToUrl()
                let callBack = function (taskId) {
                    console.log(taskId)
                    param.TaskId = taskId
                    console.log(JSON.stringify(param))
                    that._postData(url, function (data) {
                        that.$alert('恭喜提交成功', '提示信息', {
                            confirmButtonText: '确定',
                            callback: action => {
                                goHome()
                            }
                        })
                    }, param)
                }
                this.approvalSubmit(formName, {
                    Title: this.ruleForm.Title,
                    FileUrl: that.ruleForm.FileUrl,
                    OldFileUrl: that.ruleForm.OldFileUrl,
                    MediaId: that.mediaList.join(','),
                }, callBack)
            },
           

        },
        created: function () {
            this.getNodeInfo()
            this.getApproInfo()
            loadHtml("mainPage", "partPage")
        }
    })


</script>



