@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}-{{nodeInfo.NodeName}}
    </div>
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        @RenderPage("~/Views/Shared/startForm.cshtml")
    </el-form>
    <el-form v-on:submit.native.prevent :model="tableForm" :rules="rules" ref="tableForm" label-width="130px" class="demo-ruleForm"
             enctype="multipart/form-data">
        <el-form-item label="来文单位" prop="ReceivingUnit">
            <sam-input :value.sync="tableForm.ReceivingUnit" :required="true"></sam-input>
        </el-form-item>
        <el-form-item label="文件文号">
            <sam-input :value.sync="tableForm.FileNo"></sam-input>
        </el-form-item>
        <el-form-item label="收文时间" prop="ReceivingTime">
            <el-date-picker v-model="tableForm.ReceivingTime"
                            value-format="yyyy-MM-dd" :edit-able="false" :editAble="false" :editable="false"
                            type="date" format="yyyy 年 MM 月 dd 日"
                            placeholder="选择日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="主要内容" prop="MainIdea">
            <sam-input :value.sync="tableForm.MainIdea" :maxlength="140" :required="true" style="width:500px;" type="textarea"></sam-input>
        </el-form-item>
    </el-form>
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        <el-form-item label="上传文件" required="required">
            <el-upload class="upload-demo"
                       drag
                       :file-list="fileList"
                       action="/drawingupload/Upload"
                       :on-remove="HandleFileRemove"
                       :before-upload="BeforeFileUpload"
                       :on-success="HandleFileSuccess" :on-exceed="HandleFileExceed"
                       multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                <div class="el-upload__tip" slot="tip">单个文件不超过9M</div>
            </el-upload>
        </el-form-item>
        @RenderPage("~/Views/Shared/startButton.cshtml")
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                editable:false,
                tableForm: {
                    MainContent: "",
                    ReceivingUnit: "",
                    FileNo: "",
                    ReceivingTime: "",
                    MainIdea: "",
                }
            }
        },
        methods: {
            onSubmit(formName) {
                console.log('submit!');
                var that = this
                this.$refs['tableForm'].validate((valid) => {
                    if (valid && this.fileList.length>0 ) {
                        let url = '/Receiving/save'
                        var param = _cloneObj(this.tableForm)
                        let callBack = function (taskId) {
                            param.TaskId = taskId
                            console.log(JSON.stringify(param))
                            that._postData(url, function (data) {
                                that.$alert('恭喜提交成功', '提示信息', {
                                    confirmButtonText: '确定',
                                    callback: action => {
                                        goHome()
                                    }
                                })
                            }, param)
                        }
                        that.approvalSubmit(callBack)
                    }
                    else {
                        that.$alert('表单信息不全或有误', '提示信息', {
                            confirmButtonText: '确定'
                        })
                    }
                })
                
            },
           

        },
        created: function () {
            this.initStart()
        }
    })


</script>



