@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        技术支持申请-{{nodeInfo.NodeName}}
    </div>
    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">

        <el-form-item label="标题" prop="Title">
            <el-input v-model="ruleForm.Title"></el-input>
        </el-form-item>
        <el-form-item label="申请人">
            <el-input v-model="applyMan" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="技术支持部门" prop="DeptName">
            <el-checkbox-group v-model="ruleForm.DeptName"
                               :min="1">
                <el-checkbox v-for="s in depts" :label="s"></el-checkbox>
            </el-checkbox-group>
        </el-form-item>
        <el-form-item label="项目负责人" prop="ResponsibleMan">
            <el-input v-model="ruleForm.ResponsibleMan" style="width:500px;" :disabled="true"></el-input>
            <el-button class="button-new-tag" size="small" v-on:click="addPeerNumber()">+ 选人</el-button>
        </el-form-item>
        <el-form-item label="其他工程师" prop="OtherEngineers">
            <el-input v-model="ruleForm.OtherEngineers" style="width:500px;" :disabled="true"></el-input>
            <el-button class="button-new-tag" size="small" v-on:click="addPeerNumbers()">+ 选人</el-button>
        </el-form-item>
        <el-form-item label="合作单位" prop="Customer">
            <el-input v-model="ruleForm.Customer" style="width:400px;"></el-input>
        </el-form-item>
        <el-form-item label="项目大类">
            <el-select v-model="ruleForm.ProjectType" style="width:300px;">
                <el-option v-for="s of ['研发类','产品类','教育类']" :label="s" :value="s" key="s"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="紧急程度">
            <el-select v-model="ruleForm.EmergencyLevel" style="width:300px;">
                <el-option v-for="s of ['高','中','低']" :label="s" :value="s" key="s"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="要求完成时间" prop="TimeRequired">
            <el-date-picker v-model="ruleForm.TimeRequired"
                            type="date"
                            value-format="yyyy-MM-dd"
                            @*v-on:change="selectTime"*@
                            placeholder="选择日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="客户项目整体情况" prop="ProjectOverview">
            <el-input v-model="ruleForm.ProjectOverview" style="width:550px;" type="textarea"></el-input>
        </el-form-item>
        <el-form-item label="技术支持内容要点" prop="MainPoints">
            <el-input v-model="ruleForm.MainPoints" style="width:550px;" type="textarea"></el-input>
        </el-form-item>

        @*<el-form-item label="状态" prop="ProjectState ">
            <el-select v-model="ruleForm.ProjectState " style="width:300px;">
                <el-option v-for="s of status" :label="s" :value="s" key="s"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="所属公司" prop="CooperateDept">
            <el-select v-model="ruleForm.CooperateDept" style="width:300px;">
                <el-option v-for="s of CompanyNames" :label="s" :value="s" key="s"></el-option>
            </el-select>
        </el-form-item>*@
        <hr />
        <el-form-item label="建议" prop="remark">
            <el-input v-model="ruleForm.remark" type="textarea" autosize style="width:500px;"></el-input>
        </el-form-item>
        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>
        <el-form-item>
            <el-button type="primary" v-on:click="onSubmit('ruleForm')" :disabled="disablePage">提交</el-button>
        </el-form-item>
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                applyMan: DingData.nickName,
                depts: DeptNames.slice(1,DeptNames.length),
                status: status,
                CompanyNames: CompanyNames,
                nodeList: [],
                nodeInfo: {},
                date: _getDate(),
                addPeopleNodes: [1], //额外添加审批人节点数组
                ruleForm: {
                    DeptName: [],
                    ResponsibleMan: "",
                    ResponsibleManId: '',
                    OtherEngineers: "",
                    OtherEngineersId: "",
                    Customer: "",
                    ProjectType: "测试类",
                    EmergencyLevel : "中",
                    TimeRequired: "",
                    ProjectOverview: "",
                    MainPoints: "",
                    Title: "技术支持申请"
                },
                rules: {
                    ResponsibleMan: { required: true, message: '项目负责人不能为空', trigger: 'blur' },
                    Customer: { required: true, message: '客户名称不能为空', trigger: 'blur' },
                    TimeRequired: { required: true, message: '要求完成时间不能为空', trigger: 'blur' },
                    ProjectOverview: { required: true, message: '项目整体概况不能为空', trigger: 'blur' },
                    MainPoints: { required: true, message: '技术支持要点不能为空', trigger: 'blur' }
                }
            }
        },
        methods: {
            onSubmit(formName) {
                //console.log(this.ruleForm)
                //return
                let callBack = (taskId) => {
                    this.ruleForm['TaskId'] = taskId
                    this.ruleForm.DeptName = this.ruleForm.DeptName.join(',')
                    this.PostData('TechnicalSupport/Save', this.ruleForm, () => {
                        this.$alert('恭喜提交成功', '提示信息', {
                            confirmButtonText: '确定',
                            callback: action => {
                                goHome()
                            }
                        })
                    })
                }
                this.approvalSubmit(formName, {
                    Title: this.ruleForm.Title,
                    Remark: this.ruleForm.remark
                }, callBack)
            },
            //添加负责人
            addPeerNumber() {
                var that = this
                DingTalkPC.biz.contact.choose({
                    users: [],
                    multiple: false,
                    corpId: DingData.CorpId,
                    max: 10,
                    onSuccess: function (data) {
                        console.log(data)
                        let names = []
                        let ids = []
                        let addPeoples = []
                        for (let d of data) {
                            names.push(d.name)
                            ids.push(d.emplId)
                            addPeoples.push({
                                name: d.name,
                                emplId: d.emplId
                            })
                        }
                        for (let i = 0; i < that.nodeList.length; i++) {
                            if (that.nodeList[i].NodeName.indexOf('项目负责人') >= 0) {
                                that.nodeList[i].AddPeople = addPeoples
                                $("." + i).remove()
                                $("#" + i).after('<span class="el-tag ' + i + '" style="width: 60px; text-align: center; ">' + addPeoples[0].name.substring(0, 3) + '</span >')
                            }
                        }
                        that.ruleForm.ResponsibleMan = names.join(',')
                        that.ruleForm.ResponsibleManId = ids.join(',')
                    },
                    onFail: function (err) { }
                });
            },
            //添加参与工程师
            addPeerNumbers() {
                var that = this
                DingTalkPC.biz.contact.choose({
                    users: [],
                    corpId: DingData.CorpId,
                    max: 10,
                    onSuccess: function (data) {
                        console.log(data)
                        let names = []
                        let ids = []
                        for (let d of data) {
                            names.push(d.name)
                            ids.push(d.emplId)
                        }
                        that.ruleForm.OtherEngineers = names.join(',')
                        that.ruleForm.OtherEngineersId = ids.join(',')
                    },
                    onFail: function (err) { }
                });
            }
        },
        created: function () {
            this.getNodeInfo()
            this.getApproInfo()
            loadHtml("mainPage", "partPage")
        },

    })


</script>



