@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}-{{nodeInfo.NodeName}}
    </div>
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        @RenderPage("~/Views/Shared/startForm.cshtml")
    </el-form>

    <el-form v-on:submit.native.prevent :model="tableForm" :rules="rules" ref="tableForm" label-width="130px" class="demo-ruleForm"
             enctype="multipart/form-data">
        <el-form-item label="技术支持部门" v-if="doneloadTmp">
            <sam-checkbox :str.sync="tableForm.DeptName" :arr="DeptNames"></sam-checkbox>
        </el-form-item>
        <el-form-item label="项目负责人" prop="ResponsibleMan">
  
            <el-input v-model="tableForm.ResponsibleMan" style="width:500px;" :disabled="true"></el-input>
            <el-button class="button-new-tag" size="small" v-on:click="addPeerNumber()">+ 选人</el-button>
        </el-form-item>
        <el-form-item label="其他工程师" prop="OtherEngineers">
            <sam-group :names.sync="tableForm.OtherEngineers" :ids.sync="tableForm.OtherEngineersId"></sam-group>
        </el-form-item>
        <el-form-item label="合作单位" prop="Customer">
            <sam-input :value.sync="tableForm.Customer" style="width:400px;" :required="true"></sam-input>
        </el-form-item>
        <el-form-item label="项目大类" prop="ProjectType">
            <el-select v-model="tableForm.ProjectType" style="width:300px;">
                <el-option v-for="s of ['研发类','产品类','教育类']" :label="s" :value="s" key="s"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="紧急程度">
            <el-select v-model="tableForm.EmergencyLevel" style="width:300px;">
                <el-option v-for="s of ['高','中','低']" :label="s" :value="s" key="s"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="要求完成时间" prop="TimeRequired">
            <el-date-picker v-model="tableForm.TimeRequired"
                            type="date" :ediTable="false"
                            value-format="yyyy-MM-dd"
                             style="width:140px;"
                            @*v-on:change="selectTime"*@
                            placeholder="选择日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="客户项目整体情况" prop="ProjectOverview">
            <sam-input :value.sync="tableForm.ProjectOverview" :maxlength="140" style="width:550px;" :type="'textarea'" :required="true"></sam-input>
        </el-form-item>
        <el-form-item label="技术支持内容要点" prop="MainPoints">
            <sam-input :value.sync="tableForm.MainPoints" :maxlength="140" style="width:550px;" :type="'textarea'" :required="true"></sam-input>
        </el-form-item>
    </el-form>
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        @RenderPage("~/Views/Shared/startButton.cshtml")
    </el-form>
</el-main>
 
<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                status: status,
                CompanyNames: CompanyNames,
                addPeopleNodes: [1], //额外添加审批人节点数组
                tableForm: {
                    DeptName: "",
                    ResponsibleMan: "",
                    ResponsibleManId: '',
                    OtherEngineers: "",
                    OtherEngineersId: "",
                    Customer: "",
                    ProjectType: "",
                    EmergencyLevel : "中",
                    TimeRequired: "",
                    ProjectOverview: "",
                    MainPoints: "",
                },
                rules: {
                    ProjectType: commonInput,
                    ResponsibleMan: commonInput,
                    Customer: commonInput,
                    TimeRequired: commonInput,
                    ProjectOverview: [{ required: true, message: '该项不能为空', trigger: 'blur' }, { min: 0, max: 140, message: '长度在 140 个字符以内', trigger: 'blur' }],
                    MainPoints: [{ required: true, message: '该项不能为空', trigger: 'blur' }, { min: 0, max: 140, message: '长度在 140 个字符以内', trigger: 'blur' }]
                }
            }
        },
        methods: {
            onSubmit(formName) {
                this.$refs['tableForm'].validate((valid) => {
                    if (valid) {
                        let callBack = (taskId) => {
                            this.tableForm['TaskId'] = taskId
                            this.PostData('TechnicalSupport/Save', this.tableForm, () => {
                                this.$alert('恭喜提交成功', '提示信息', {
                                    confirmButtonText: '确定',
                                    callback: action => {
                                        goHome()
                                    }
                                })
                            })
                        }
                        this.approvalSubmit(callBack)
                    }
                    else {
                        this.$alert('表单数据不全或有误', '提交错误', {
                            confirmButtonText: '确定'
                        });
                        console.log('error submit!!');
                        return false;
                    }
                })
                
            },
            //添加负责人
            addPeerNumber() {
                var that = this
                DingTalkPC.biz.contact.choose({
                    users: [],
                    multiple: false,
                    corpId: DingData.CorpId,
                    max: 10,
                    onSuccess: function (data) {
                        console.log(data)
                        let names = []
                        let ids = []
                        let addPeoples = []
                        for (let d of data) {
                            names.push(d.name)
                            ids.push(d.emplId)
                            addPeoples.push({
                                name: d.name,
                                emplId: d.emplId
                            })
                        }
                        that.tableForm.ResponsibleMan = names.join(',')
                        that.tableForm.ResponsibleManId = ids.join(',')
                        for (let i = 0; i < that.nodeList.length; i++) {
                            if (that.nodeList[i].NodeName.indexOf('项目负责人') >= 0) {
                                that.nodeList[i].AddPeople = []
                                that.nodeList[i].AddPeople = addPeoples
                                $("." + i).remove()
                                $("#" + i).after('<span class="el-tag ' + i + '" style="width: 60px; text-align: center; ">' + addPeoples[0].name.substring(0, 3) + '</span >')
                            }
                        }
                    },
                    onFail: function (err) { }
                });
            },
            //关联项目负责人 的节点
            getNodeInfo_done(nodeList) {
                if (!this.tableForm.ResponsibleManId) return
                let names = this.tableForm.ResponsibleMan.split(',')
                let ids = this.tableForm.ResponsibleManId.split(',')
                let addPeoples = []
                for (let i = 0; i < ids.length; i++) {
                    if (!ids[i])break;
                    addPeoples.push({
                        name: names[i],
                        emplId: ids[i]
                    })
                }
                if (!addPeoples.length) return
                for (let i = 0; i < nodeList.length; i++) {
                    if (nodeList[i].NodeName.indexOf('项目负责人') >= 0) {
                        nodeList[i].AddPeople = addPeoples
                        $("." + i).remove()
                        $("#" + i).after('<span class="el-tag ' + i + '" style="width: 60px; text-align: center; ">' + addPeoples[0].name.substring(0, 3) + '</span >')
                    }
                }
            }
        },
        created: function () {
            this.tableForm = {
                ResponsibleMan: '',
                ResponsibleManId: '',
            }
            this.initStart(() => {
                if (this.tableForm.DeptName) {
                    this.tableForm.DeptName = this.tableForm.DeptName
                    console.log(this.tableForm.DeptName)
                }
            })
        },

    })


</script>



