@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}-{{nodeInfo.NodeName}}
    </div>
    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        @RenderPage("~/Views/Shared/startForm.cshtml")
    </el-form>

    <el-form :model="tableForm" :rules="rules" ref="tableForm" label-width="130px" class="demo-ruleForm"
             enctype="multipart/form-data">
        <el-form-item label="技术支持部门" prop="DeptName">
            <el-checkbox-group v-model="tableForm.DeptName">
                <el-checkbox v-for="s in depts" :label="s"></el-checkbox>
            </el-checkbox-group>
        </el-form-item>
        <el-form-item label="项目负责人" prop="ResponsibleMan">
            <el-input v-model="tableForm.ResponsibleMan" style="width:500px;" :disabled="true"></el-input>
            <el-button class="button-new-tag" size="small" v-on:click="addPeerNumber()">+ 选人</el-button>
        </el-form-item>
        <el-form-item label="其他工程师" prop="OtherEngineers">
            <el-input v-model="tableForm.OtherEngineers" style="width:500px;" :disabled="true"></el-input>
            <el-button class="button-new-tag" size="small" v-on:click="addPeerNumbers()">+ 选人</el-button>
        </el-form-item>
        <el-form-item label="合作单位" prop="Customer">
            <el-input v-model="tableForm.Customer" style="width:400px;"></el-input>
        </el-form-item>
        <el-form-item label="项目大类" prop="ProjectType">
            <el-select v-model="tableForm.ProjectType" style="width:300px;">
                <el-option v-for="s of ['研发类','产品类','教育类']" :label="s" :value="s" key="s"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="紧急程度">
            <el-select v-model="tableForm.EmergencyLevel" style="width:300px;">
                <el-option v-for="s of ['高','中','低']" :label="s" :value="s" key="s"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="要求完成时间" prop="TimeRequired">
            <el-date-picker v-model="tableForm.TimeRequired"
                            type="date" :editable="false"
                            value-format="yyyy-MM-dd"
                            @*v-on:change="selectTime"*@
                            placeholder="选择日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="客户项目整体情况" prop="ProjectOverview">
            <el-input v-model="tableForm.ProjectOverview" style="width:550px;" type="textarea"></el-input>
        </el-form-item>
        <el-form-item label="技术支持内容要点" prop="MainPoints">
            <el-input v-model="tableForm.MainPoints" style="width:550px;" type="textarea"></el-input>
        </el-form-item>
    </el-form>
    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        @RenderPage("~/Views/Shared/startButton.cshtml")
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                depts: DeptNames.slice(1,DeptNames.length),
                status: status,
                CompanyNames: CompanyNames,
                addPeopleNodes: [1], //额外添加审批人节点数组
                tableForm: {
                    DeptName: [],
                    ResponsibleMan: "",
                    ResponsibleManId: '',
                    OtherEngineers: "",
                    OtherEngineersId: "",
                    Customer: "",
                    ProjectType: "",
                    EmergencyLevel : "中",
                    TimeRequired: "",
                    ProjectOverview: "",
                    MainPoints: "",
                },
                rules: {
                    ProjectType: commonInput,
                    ResponsibleMan: commonInput,
                    Customer: commonInput,
                    TimeRequired: commonInput,
                    ProjectOverview: commonInput,
                    MainPoints: commonInput
                }
            }
        },
        methods: {
            onSubmit(formName) {
                //console.log(this.ruleForm)
                //return
                let callBack = (taskId) => {
                    this.tableForm['TaskId'] = taskId
                    this.tableForm.DeptName = this.tableForm.DeptName.join(',')
                    this.PostData('TechnicalSupport/Save', this.tableForm, () => {
                        this.$alert('恭喜提交成功', '提示信息', {
                            confirmButtonText: '确定',
                            callback: action => {
                                goHome()
                            }
                        })
                    })
                }
                this.approvalSubmit(callBack)
            },
            //添加负责人
            addPeerNumber() {
                var that = this
                DingTalkPC.biz.contact.choose({
                    users: [],
                    multiple: false,
                    corpId: DingData.CorpId,
                    max: 10,
                    onSuccess: function (data) {
                        console.log(data)
                        let names = []
                        let ids = []
                        let addPeoples = []
                        for (let d of data) {
                            names.push(d.name)
                            ids.push(d.emplId)
                            addPeoples.push({
                                name: d.name,
                                emplId: d.emplId
                            })
                        }
                        for (let i = 0; i < that.nodeList.length; i++) {
                            if (that.nodeList[i].NodeName.indexOf('项目负责人') >= 0) {
                                that.nodeList[i].AddPeople = addPeoples
                                $("." + i).remove()
                                $("#" + i).after('<span class="el-tag ' + i + '" style="width: 60px; text-align: center; ">' + addPeoples[0].name.substring(0, 3) + '</span >')
                            }
                        }
                        that.tableForm.ResponsibleMan = names.join(',')
                        that.tableForm.ResponsibleManId = ids.join(',')
                    },
                    onFail: function (err) { }
                });
            },
            //添加参与工程师
            addPeerNumbers() {
                var that = this
                DingTalkPC.biz.contact.choose({
                    users: [],
                    corpId: DingData.CorpId,
                    max: 10,
                    onSuccess: function (data) {
                        console.log(data)
                        let names = []
                        let ids = []
                        for (let d of data) {
                            names.push(d.name)
                            ids.push(d.emplId)
                        }
                        that.tableForm.OtherEngineers = names.join(',')
                        that.tableForm.OtherEngineersId = ids.join(',')
                    },
                    onFail: function (err) { }
                });
            }
        },
        created: function () {
            this.initStart()
        },

    })


</script>



