@{
    Layout = null;
}
<style>
    .icon-jine {
        position: absolute;
        top: 0px;
        right: 0;
        font-size: 20px;
        color: #409EFF;
        z-index: 998;
    }

    .el-icon-setting {
        position: absolute;
        margin-left: 20px;
        font-size: 20px;
        color: gray;
        z-index: 1998;
    }

    .el-form-item{
        border: 1px solid white;
    }
    .el-form-item:hover {
        border: 1px dashed #409EFF;
    }

    .clearfloat {
        clear: both
    }
    .el-input.is-disabled .el-input__inner {
        color: black !important;
        background-color: white !important;
        cursor: move !important;
    }
    .el-input.is-disabled .el-input__inner :active {
        cursor: move !important;
    }
    .el-input__prefix, .el-input__suffix{color:black;}
</style>
<!--右侧实体内容-->
<el-main id="partPage" style="margin-top:20px;">
    <!--左侧组件列表-->
    <div style="float:left;width:20%;border:1px solid #F56C6C;height:500px;text-align:center;overflow:scroll;">
        <div style="padding:15px;text-align:center;font-size:20px;border-bottom:4px solid #409EFF;color:#409EFF;">组件库</div>
        <draggable v-model="componentLib" v-on:end="dragFlowEnd">
            <el-input v-for="c of componentLib" :key="c.type" v-model="c.label" :disabled="true"
                      style="width:90%;margin:2px auto;" class="iconfont"
                      :suffix-icon="c.icon">
            </el-input>
        </draggable>
    </div>

    <div style="float:left;width:79%;border:1px solid #67C23A;height:500px;margin-left:1px;overflow:scroll;" class="iconfont">
        <el-form v-on:submit.native.prevent :rules="rules" ref="tableForm" label-width="130px" class="demo-ruleForm"
                 enctype="multipart/form-data">
            <draggable v-model="components" v-on:end="dragMenuEnd">
                <div v-for="p of components" v-on:mouseenter="switchComponent(p)" v-on:mouseleave="moveinComponent = {}">
                    <el-form-item :key="p.name" :label="p.label" style="margin:2%;">
                        <sam-input v-if="p.type == 'Text' || p.type == 'Textarea'" disabled></sam-input>
                        <el-input-number v-else-if="p.type == 'Number'" :precision="1" :step="0.1" :max="100" :min="0.1" disabled></el-input-number>
                        <el-radio v-else-if="p.type == 'Radio'" label="1" disabled>备选项</el-radio>
                        <el-checkbox v-else-if="p.type == 'Checkbox'" disabled>备选项1</el-checkbox>
                        <el-select v-else-if="p.type == 'Select' || p.type == 'Cascder'" value="" placeholder="请选择" disabled></el-select>
                        <el-date-picker v-else-if="p.type == 'Date'" type="date" placeholder="选择日期" disabled></el-date-picker>
                        <el-time-picker v-else-if="p.type == 'DateRange'" type="daterange" range-separator="至" placeholder="选择日期范围" disabled></el-time-picker>
                        <el-time-select v-else-if="p.type == 'Time'" placeholder="选择时间" disabled></el-time-select>
                        <el-time-picker v-else-if="p.type == 'TimeRange'" is-range range-separator="至" placeholder="选择时间范围" disabled></el-time-picker>
                        <el-upload v-else-if="p.type == 'Image'" list-type="picture-card" action="https://jsonplaceholder.typicode.com/posts/" disabled><i class="el-icon-plus"></i></el-upload>
                        <el-upload v-else-if="p.type == 'UploadFile' || p.type == 'UploadPdf'" class="upload-demo" action="https://jsonplaceholder.typicode.com/posts/" drag multiple disabled> <i class="el-icon-upload"></i><div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div></el-upload>
                        <sam-group v-else-if="p.type == 'ChooseMan'" :disable="true"></sam-group>
                        <el-button v-else-if="p.type == 'DownloadFile'" size="mini" type="primary" disabled>下载说明书</el-button>
                        <i class="iconfont icon-jine" v-if="moveinComponent.name == p.name || true" v-on:click="deleteComponent(p)"></i>
                    </el-form-item>
                </div>
            </draggable>
        </el-form>

    </div>
    <div style="float:left;right:0; width:100%;border:1px solid #409EFF;height:150px;margin-left:1px;overflow:scroll;">

    </div>


    <div class="clearfloat"></div>
    <el-collapse v-model="activeNames">
        <draggable v-model="menu" v-on:end="dragMenuEnd">
            <el-collapse-item v-for="(m,i) in menu" :name="i+1" :key="i">
                <template slot="title">
                    <span style="font-size:20px;">{{m.SORT_NAME}}({{m.Sort_ID}})</span>
                </template>

                <draggable v-model="m.flows" v-on:end="dragFlowEnd">
                    <div v-for="l in m.flows" class="approval-box" style="cursor:pointer;">
                        <div class="approval-box-img" :style="{backgroundPosition:l.Position}"></div>
                        <p>{{l.FlowName}}({{l.FlowId}})</p>
                    </div>
                    <div class="approval-box" style="cursor:pointer;">
                        <div class="approval-box-img" :style="{backgroundPosition:'-540px -180px'}"></div>
                        <p>添加</p>
                    </div>
                </draggable>

            </el-collapse-item>
        </draggable>

    </el-collapse>

</el-main>

<script>
    let Flow = {}
    let Sort = {}
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                activeNames: [1, 2, 3, 4, 5, 6, 7, 8],
                moveinComponent: {},
                selectComponent: {},
                components: [
                    {
                        type: 'Text',
                        label: '输入框',
                        name: "Text1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode:999
                    },
                    {
                        type: 'Textarea',
                        label: '多行输入框',
                        name: "Textarea1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'Number',
                        label: '数字输入框',
                        name: "Number1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'Radio',
                        label: '单选框',
                        name: "Radio1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'Checkbox',
                        label: '多选框',
                        name: "Checkbox1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'Select',
                        label: '下拉框',
                        name: "Select1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'Cascder',
                        label: '多级下拉框',
                        name: "Cascder1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'Date',
                        label: '日期',
                        name: "Date1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'DateRange',
                        label: '日期区间',
                        name: "DateRange1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'Time',
                        label: '时间',
                        name: "Time1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'TimeRange',
                        label: '时间区间',
                        name: "TimeRange1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'Image',
                        label: '图片',
                        name: "Image1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'UploadFile',
                        label: '上传附件',
                        name: "UploadFile1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'UploadPdf',
                        label: '上传PDF',
                        name: "UploadPdf1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'ChooseMan',
                        label: '联系人',
                        name: "ChooseMan1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }, {
                        type: 'DownloadFile',
                        label: '下载附件',
                        name: "DownloadFile1",
                        width: '',
                        required: false,
                        min: 1,
                        max: 50,
                        inputNode: 1,
                        hideNode: 999
                    }],
                componentLib: [
                {
                    type: 'Text',
                    label: '输入框',
                    icon: 'iconfont icon-danhangwenben'
                },
                {
                    type: 'Textarea',
                    label: '多行输入框',
                    icon: 'iconfont icon-duohangwenben'
                }, {
                    type: 'Number',
                    label: '数字输入框',
                    icon: 'iconfont icon-fuhao-shuzishurukuang'
                }, {
                    type: 'Radio',
                    label: '单选框',
                    icon: 'iconfont icon-danxuankuang'
                }, {
                    type: 'Checkbox',
                    label: '多选框',
                    icon: 'iconfont icon-duoxuankuang'
                }, {
                    type: 'Select',
                    label: '下拉框',
                    icon: 'iconfont icon-xialakuang'
                }, {
                    type: 'Cascder',
                    label: '多级下拉框',
                    icon: 'iconfont icon-xialakuangbiaodan'
                }, {
                    type: 'Date',
                    label: '日期',
                    icon: 'iconfont icon-riqi'
                }, {
                    type: 'DateRange',
                    label: '日期区间',
                    icon: 'iconfont icon-riqiqujian'
                }, {
                    type: 'Time',
                    label: '时间',
                    icon: 'iconfont icon-shijian'
                }, {
                    type: 'TimeRange',
                    label: '时间区间',
                    icon: 'iconfont icon-daodashijian'
                }, {
                    type: 'Image',
                    label: '图片',
                    icon: 'iconfont icon-tupian'
                }, {
                    type: 'UploadFile',
                    label: '上传附件',
                    icon: 'iconfont icon-fujian'
                }, {
                    type: 'UploadPdf',
                    label: '上传PDF',
                    icon: 'iconfont icon-pdf'
                }, {
                    type: 'ChooseMan',
                    label: '联系人',
                    icon: 'iconfont icon-lianxiren'
                }, {
                    type: 'DownloadFile',
                    label: '下载附件',
                    icon: 'iconfont icon-xiazai'
                }],
                name: '',
                id: '',
                menu: [],
                ruleForm: {
                    Sort_ID: '',
                    SORT_NAME: '',
                    CreateTime: _timeToString(new Date()),
                    IsEnable: 1,
                    OrderBY: 998,
                    State: 1,
                },
                groupPeople: [],
                rules: {
                    Sort_ID: { required: true, message: '该项不能为空', trigger: 'blur' },
                    SORT_NAME: { required: true, message: '该项不能为空', trigger: 'blur' },
                },
                test: null
            }
        },
        methods: {
            //拖动事件
            dragMenuEnd: function (evt) {
                console.log(evt)
            },
            dragFlowEnd: function (evt) {
                console.log(evt)
            },
            //删除组件
            switchComponent(p) {
                console.log('2333333333333')
                this.moveinComponent = p
            },
            deleteComponent(p) {

            },
            //获取数据
            getMenu: function () {
                this.GetData('FlowInfoNew/LoadFlowSort?DEPT_ID=ALL&userid=' + DingData.userid, (res) => {
                    res = JSON.stringify(res).replace(/null/g, '""')
                    this.menu = JSON.parse(res)
                })
            },
        },
        created: function () {
            loadHtml("mainPage", "partPage")
        }
    })


</script>
