@{
    Layout = null;
}

<script src="~/Scripts/pdf.js"></script>
<script src="~/Scripts/pdf.worker.js"></script>
<script src="~/Scripts/jspdf.min.js"></script>

<script>
    PDFJS.workerSrc = '../Scripts/pdf.worker.js';//加载核心库
</script>

<!--右侧实体内容-->

<el-main id="partPage" style="position:relative;margin-left:1%;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        {{FlowName}}-{{nodeInfo.NodeName}}
    </div>
    <div>
        <span>关键字查询</span>
        <sam-input :value.sync="keyWord" :required="true" style="width:300px;" placeholder="(项目名称、标题、申请人、流水号)"></sam-input>
        <el-button v-on:click="search">搜索</el-button>
    </div>
    <!--表格實體-->
    <h3>审批列表</h3>
    <el-table :data="allData" stripe border>
        <el-table-column prop="TaskId" label="流水号">
        </el-table-column>
        <el-table-column prop="ApplyMan" label="申请人">
        </el-table-column>
        <el-table-column prop="ProjectName" label="项目名称">
        </el-table-column>
        <el-table-column prop="Title" label="标题">
        </el-table-column>
        <el-table-column prop="ApplyTime" label="申请时间">
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button size="mini" v-on:click="chooseProject(scope.$index, scope.row)">选择</el-button>
            </template>
        </el-table-column>
    </el-table>
    <h3>零件列表</h3>
    <el-table :data="purchaseList" stripe border>
        <el-table-column prop="BomId" label="组件名称">
        </el-table-column>
        <el-table-column prop="Sorts" label="类型">
        </el-table-column>
        <el-table-column prop="DrawingNo" label="代号">
        </el-table-column>
        <el-table-column prop="Name" label="名称">
        </el-table-column>
        <el-table-column prop="Count" label="数量">
        </el-table-column>
        <el-table-column prop="MaterialScience" label="材料">
        </el-table-column>
        <el-table-column prop="Unit" label="单位">
        </el-table-column>
    </el-table>
    <hr />
    <el-form v-on:submit.native.prevent :model="ruleForm" :rules="rules" ref="ruleForm" label-width="110px" class="demo-ruleForm"
             id="uploadForm" enctype="multipart/form-data">
        @RenderPage("~/Views/Shared/startForm.cshtml")
        <el-form-item label="项目名称" prop="ProjectId">
            <el-select v-model="ruleForm.ProjectId" placeholder="请选择" style="width:400px;" v-on:change="selectProject" filterable>
                <el-option v-for="item in projectList"
                           :key="item.ProjectId"
                           :label="item.ProjectName"
                           :value="item.ProjectId">
                    <span style="float: left">{{item.ProjectId}}-{{ item.ProjectName }}</span>
                    <span style="float: right; color: #8492a6; font-size: 13px"></span>
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="套数" prop="counts">
            <sam-input :value.sync="ruleForm.counts" type="number" :required="true" :min="1" style="width:100px;"></sam-input>
        </el-form-item>
        <!--PDF展示-->
        <el-form-item v-if="pdfList.length > 0" label="PDF图纸">
            <el-card class="box-card">
                <div v-for="f in pdfList" :key="f.name" class="text item">
                    <span>{{ f.name }}</span>
                    <el-button size="mini" type="primary" v-on:click="downloadFile(f.mediaId)" :disabled="disablePage">下载</el-button>
                    <el-button size="mini" type="primary" v-on:click="clickFile(f.url,f.name,f.mediaId)" :disabled="disablePage">预览</el-button>
                </div>
            </el-card>
        </el-form-item>
        <!--相关文件-->
        <el-form-item v-if="fileList.length > 0" label="相关文件">
            <el-card class="box-card">
                <div v-for="f in fileList" :key="f.name" class="text item">
                    <span>{{ f.name }}</span>
                    <el-button size="mini" type="primary" v-on:click="downloadFile(f.mediaId)">下载</el-button>
                </div>
            </el-card>
        </el-form-item>
        @RenderPage("~/Views/Shared/startButton.cshtml")
    </el-form>
    <!--显示PDF-->
    <div @*v-show="frameShow"*@>
        <div id="dialog" title="PDF画板">
            <div style="font-size:14px;">
                <fieldset style="float:left;width:250px;">
                    <legend>工具</legend>
                    <div id="toolsOptions">
                        <input type="radio" id="tools_pencil" name="toolsOption" checked="checked"><label for="tools_pencil">画笔</label> &nbsp;
                        @*<input type="radio" id="tools_eraser" name="toolsOption"><label for="tools_eraser">橡皮擦</label> &nbsp;
                            <input type="radio" id="tools_trash" name="toolsOption"><label for="tools_trash">清空</label>*@
                        <div style="border-top:1px dashed gray;margin-top:8px;padding-top:8px;">
                            <span>
                                <button id="tools_turn_right">正转</button>
                                <button id="tools_turn_left">逆转</button>
                                @*<button id="tools_undo">撤回</button>&nbsp;&nbsp;&nbsp;
                                    <button id="tools_redo">redo</button>*@
                            </span>
                        </div>
                    </div>
                </fieldset>
                <fieldset style="float:left;">
                    <legend>多边形</legend>
                    <div>
                        <input type="radio" id="tools_line" name="toolsOption"><label for="tools_line">直线</label>
                        <input type="radio" id="tools_rectangle" name="toolsOption"><label for="tools_rectangle">矩形</label>

                        @*<input type="radio" id="tools_circle" name="toolsOption"><label for="tools_circle">椭圆</label>
                            <input type="radio" id="tools_text" name="toolsOption"><label for="tools_text">文字</label>*@

                        <div style="border-top:1px dashed gray;margin-top:8px;padding-top:8px;">
                            <span>
                                <input type="radio" id="tools_circle" name="toolsOption"><label for="tools_circle">椭圆</label>
                                <input type="radio" id="tools_text" name="toolsOption"><label for="tools_text">文字</label>
                            </span>
                        </div>
                    </div>
                </fieldset>
                <fieldset style="float:left;width:180px;">
                    <legend>线条设置</legend>
                    <span style="float: left;margin-top: 6px;">线条粗细: </span>
                    <select id="penWidth">
                        <option value="1" selected>1px</option>
                        <option value="2">2px</option>
                        <option value="4">4px</option>
                        <option value="6">6px</option>
                        <option value="8">8px</option>
                        <option value="12">12px</option>
                        <option value="14">14px</option>
                        <option value="16">16px</option>
                        <option value="18">18px</option>
                    </select>
                    <div style="border-top:1px dashed gray;margin-top:8px;padding-top:8px;">
                        <span>边框色:<input id="colorpicker-popup" type="text" value="000000" style="width: 72px;display:none; "></span>&nbsp;
                        <!--span>填充色:<input id="colorpicker-popup2" type="text"  value="fe9810" style="width: 72px;display:none; "></span-->
                    </div>
                </fieldset>
                <fieldset style="float:left;width:160px;">
                    <legend>字体设置</legend>
                    <span>
                        <span style="float: left;margin-top: 6px;">字体大小: </span>
                        <select id="fontSize">
                            <option value="22px" selected>22px</option>
                            <option value="24px">24px</option>
                            <option value="26px">26px</option>
                            <option value="28px">28px</option>
                            <option value="30px">30px</option>
                            <option value="32px">32px</option>
                            <option value="34px">34px</option>
                            <option value="36px">36px</option>
                        </select>
                    </span>
                    <br />
                    <span>
                        <span style="float: left;margin-top: 6px;">字体选择:</span>
                        <select id="fontType" style="top:20px;">
                            <option value="宋体">宋体</option>
                            <option value="微软雅黑">微软雅黑</option>
                            <option value="仿宋">仿宋</option>
                            <option value="Arial" selected>Arial</option>
                            <option value="Consolas">Consolas</option>
                        </select>
                    </span>
                    <span style="font-weight:bold;"><input type="checkbox" id="boldOption" name="fontOption"><label for="boldOption">B</label></span>
                    <span style="font-style: italic;"><input type="checkbox" id="italicOption" name="italicOption"><label for="italicOption">I</label></span>
                </fieldset>

                <div style="clear:both;"></div>
            </div>

            <div style="background:white;position:relative;width:1200px;height:900px;" id="container">
                <div id="temp" style="border:1px solid gray;width:1px;height:1px;position:absolute;display:none;"></div>

                <canvas id="myCanvas" width="1200" height="900" class="container_pencil"></canvas>
            </div>
            <span id="show" style="display:none;"></span>
        </div>
    </div>
    <div class="mask" id="mask"></div>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                allData: [],
                keyWord: '',
            }
        },
        methods: {
            //提交审批
            onSubmit(formName) {
                if (!this.ruleForm.counts) {
                    this.$message({ type: 'error', message: `套数不能为空，请重新输入` });
                    return
                }
                var that = this
                this.approvalSubmit(function (taskId) {
                    that.bindData(taskId)
                })
            },
            search() {
                var that = this
                this._getData('/PurchaseOrder/Quary', function (result) {
                    that.allData = result.data

                }, { key: that.keyWord })
            },
            chooseProject(index, row) {
                console.log(row)
                this.purchaseList = row.PurchaseList
                this.handleUrlData(row, this)
                this.ruleForm.FileUrl = row.FileUrl
                this.ruleForm.Title = row.Title
                this.ruleForm.ProjectId = row.ProjectId
                this.ruleForm.OldImageUrl = row.OldImageUrl
                this.ruleForm.OldFileUrl = row.OldFileUrl
                this.ruleForm.MediaId = row.MediaId
                this.ruleForm.FilePDFUrl = row.FilePDFUrl
                this.ruleForm.OldFilePDFUrl = row.OldFilePDFUrl
                this.ruleForm.MediaIdPDF = row.MediaIdPDF
                this.ruleForm.ProjectName = row.ProjectName
            },
            //审批绑定BOM表数据
            bindData(taskId) {
                var that = this
                for (let d of this.purchaseList) {
                    d.TaskId = taskId
                }
                this._postData("/PurchaseOrder/Save", function (data) {
                    that.doneSubmit()
                }, that.purchaseList)
            },
            clickFile(fileUrl, name, mediaId) {
                if (fileUrl.substring(fileUrl.length - 3) == 'pdf' || fileUrl.substring(fileUrl.length - 3) == 'PDF') {
                    pdfUrl = fileUrl
                    pdfName = name
                    pdfMediaId = mediaId
                    console.log(fileUrl)
                    $("#mask").show()
                    this.frameShow = true
                    this.showPdf(fileUrl)
                }

            },
            showPdf(url) {
                var that = this
                this.disablePage = true
                pufUrl = url
                console.log('show pdf')
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                initUI()

                PDFJS.getDocument(url).then(function getPdfHelloWorld(pdf) {
                    //
                    // 获取第一页数据
                    //
                    pdf.getPage(1).then(function getPageHelloWorld(page) {
                        var scale = 1;
                        var viewport = page.getViewport(scale);
                        var renderContext = {
                            canvasContext: ctx,
                            viewport: viewport
                        };
                        page.render(renderContext);
                        that.disablePage = false
                        loading.close()
                        console.log('render pdf')
                    });
                });

            }

        },
        created: function () {
            PDFJS.workerSrc = '../Scripts/pdf.worker.js';//加载核心库
            this.initStart()
        }
    })

</script>

<style>
    .upload-demo {
        width: 400px;
    }
</style>



<script>
    //初始化
    $(function () {
        $("#dialog").hide()
        $("#mask").hide()
    })
</script>

<script src="~/Scripts/canvas.js"></script>