@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        上传图纸-发起审批
    </div>
    <!--表格實體-->
    <el-table :data="tableData" stripe border>
        <el-table-column v-for="(value,key) in items" :prop="key" :label="value">
        </el-table-column>
    </el-table>
    <!--底部翻頁-->
    <div style="text-align:right">
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[1, 3, 5, 10]"
                       :page-size="5"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="totalRows">
        </el-pagination>
    </div>
    <!--上传表單-->
    <el-upload class="upload-demo"
                action="/drawingupload/UploadAndGetInfo"
                :on-success="handleSuccess"
                :before-remove="beforeRemove"
                multiple
                :limit="3"
                :on-exceed="handleExceed"
                :file-list="fileList">
        <el-button size="small" type="primary">点击上传</el-button>
        <div slot="tip" class="el-upload__tip">只能上传excel文件，且不超过500kb</div>
    </el-upload>

    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="申请人" prop="name">
            <el-input v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="意见" prop="remark">
            <el-input v-model="ruleForm.remark"></el-input>
        </el-form-item>
        <!--添加审批人-->
        <sam-addapprover :preApprover="preApprover" :approvers="ruleForm.approvers" :goods="ruleForm.goods"></sam-addapprover>
        <!--添加抄送人-->
        <el-form-item label="抄送人">
            <span class="hint">（审批通过后，通知抄送人）</span>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" v-on:click="onSubmit('ruleForm')">提交</el-button>
            <el-button v-on:click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>
</el-main>

<script>
    
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                ruleForm: {
                    name: '',
                    remark: '',
                    approvers: ['小唐', '院长']
                },
                preApprover: false,
                fileList: [],
                data: [],
                items: [],
                tableData: [],
                totalRows: 0
            }
        },
        methods: {
            onSubmit(formName) {
                var form = this.ruleForm
                this.$refs[formName].validate((valid) => {
                    if (valid && this.data.length > 0) {
                        var paramObj = {
                            "ApplyMan": form.name,
                            "NodeId": "0",
                            "ApplyTime": _getTime(),
                            "IsEnable": "1",
                            "FlowId": FlowId,
                            "Remark": form.remark
                        }
                        console.log(paramObj)
                        $.ajax({
                            url: '/FlowInfo/CreateTaskInfo',
                            type: 'POST',
                            data: paramObj,
                            success: function (data) {
                                console.log(data)
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            //上传文件方法
            handleSuccess(response, file, fileList) {
                if (!(response && response.length > 0)) return
                for (let i = 0; i < response.length; i++) {
                    let data = response[i]
                    if (i == 0) {
                        this.items = {}
                        for (let c in data) {
                            if (c.substring(0, 6) == 'Column') {
                                this.items[c] = data[c]
                            }
                        }
                    } else {
                        if (data['Column1'] && data['Column1'] != "")
                            this.data.push(data)
                    }
                }
                this.totalRows = this.data.length
                this.getData()
            },
            getData() {
                var start = this.pageSize * (this.currentPage - 1)
                this.tableData = this.data.slice(start, start + this.pageSize)
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${file.name}？`);
            }
        },
        created: function () {
            loadHtml("mainPage", "partPage")
        }
    })
</script>

<style>
    .upload-demo{
        width:400px;
    }
</style>

