@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        加班申请-{{nodeInfo.NodeName}}
    </div>
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">

        <el-form-item label="加班人员" prop="name">
            <el-input v-model="ruleForm.name" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>

        <el-form-item label="加班事由" prop="reson">
            <el-input v-model="ruleForm.reson" style="width:90%;"></el-input>
        </el-form-item>

        <hr />

        <el-form-item label="加班日期" prop="date">
            <div class="block">
                <el-date-picker v-model="ruleForm.date"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="选择日期"
                                align="right">
                </el-date-picker>
            </div>
        </el-form-item>


        <el-form-item label="加班时间" prop="startTime">
            <el-time-select placeholder="起始时间"
                            v-model="ruleForm.startTime"
                            :picker-options="{
                              start: '08:30',
                              step: '00:30',
                              end: '18:30'
                            }">
            </el-time-select>
            <el-time-select placeholder="结束时间"
                            v-model="ruleForm.endTime"
                            :picker-options="{
                              start: '08:30',
                              step: '00:30',
                              end: '23:30',
                              minTime: startTime
                            }">
        </el-form-item>
        <el-form-item label="加班时长(小时)" prop="time">
            <el-input v-model="ruleForm.time" style="width:200px;"></el-input>
        </el-form-item>
        <hr />

        <!--添加审批人-->
        <sam-approver-list :preset="preApprove" :nodelist="nodeList" :type="'approve'" :single="true"
                           :nodeid="nodeInfo.NodeId">
        </sam-approver-list>

        <el-form-item>
            <el-button type="primary" v-on:click="onSubmit()">提交</el-button>
            <el-button v-on:click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                nodeList: [],
                nodeInfo: {},
                ruleForm: {
                    name: DingData.nickName,
                    reson: '',
                    startTime: '',
                    endTime: '',
                    date: ''
                }
            }
        },
        methods: {
            onSubmit() {
                console.log('submit!');
            }
        },
        created: function () {
            this.getNodeInfo()
            this.getApproInfo()
            loadHtml("mainPage", "partPage")
        }
    })


</script>



