@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="loadPage('/Main/approval')">
        <i class="el-icon-arrow-left"></i>
        加班申请-{{nodeInfo.NodeName}}
    </div>
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">

        <el-form-item label="加班人员" prop="name">
            <el-input v-model="ruleForm.name" style="width:200px;" :disabled="true"></el-input>
        </el-form-item>

        <el-form-item label="加班事由" prop="reson">
            <el-input v-model="ruleForm.reson" style="width:90%;"></el-input>
        </el-form-item>

        <hr />

        <el-form-item label="开始时间" prop="startTime">
            <div class="block">
                <span class="demonstration">带快捷选项</span>
                <el-date-picker v-model="ruleForm.startTime"
                                type="datetime"
                                placeholder="选择日期时间"
                                align="right"
                                :picker-options="dayPickerOptions">
                </el-date-picker>
            </div>
        </el-form-item>

        <el-form-item label="结束时间" prop="endTime">
            <div class="block">
                <span class="demonstration">带快捷选项</span>
                <el-date-picker v-model="ruleForm.endTime"
                                type="datetime"
                                placeholder="选择日期时间"
                                align="right"
                                :picker-options="dayPickerOptions">
                </el-date-picker>
            </div>
        </el-form-item>
        <el-form-item label="加班时长(小时)" prop="time">
            <el-input v-model="ruleForm.time" style="width:200px;"></el-input>
        </el-form-item>
        <hr />

        <!--添加审批人-->
        <sam-approver-list :preset="preApprove" :nodelist="nodeList" :type="'approve'" :single="true"
                           :nodeid="nodeInfo.NodeId">
        </sam-approver-list>

        <el-form-item>
            <el-button type="primary" v-on:click="onSubmit()">提交</el-button>
            <el-button v-on:click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>
</el-main>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                nodeList: [],
                nodeInfo: {},
                ruleForm: {
                    name: DingData.nickName,
                    reson: '',
                    startTime: '',
                    endTime: '',
                    time: ''
                },
                dayPickerOptions: {
                    shortcuts: [
                        {
                            text: '昨天',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        },{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: '明天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }]
                }
            }
        },
        methods: {
            onSubmit() {
                console.log('submit!');
            }
        },
        created: function () {
            this.getNodeInfo()
            this.getApproInfo()
            loadHtml("mainPage", "partPage")
        }
    })


</script>



