
@{
    ViewBag.Title = "Register";
}

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="6-10位数字、字母" required pattern="[A-Za-z0-9]{6,10}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" placeholder="6-10位数字、字母" required pattern="[A-Za-z0-9]{6,10}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">确认密码</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" placeholder="6-10位数字、字母" required pattern="[A-Za-z0-9]{6,10}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input onclick="changeCheck()" type="checkbox"> 我已阅读***协议
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" disabled>注册</button>
        </div>
    </div>
</form>

<script>
    function changeCheck() {
        var checkEle = document.querySelector("[type=checkbox]").checked
        var btnEle = document.querySelector('[type=submit]')
        if (document.querySelector("[type=checkbox]").checked) {
            btnEle.removeAttribute("disabled")
        } else {
            btnEle.setAttribute("disabled", "")
        }
    }
</script>


