@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="margin-top:20px;">
    <el-collapse v-model="activeNames">
        <el-collapse-item v-for="(m,i) in menu" :name="i+1" :key="i">
            <template slot="title">
                <span style="font-size:20px;">{{m.SORT_NAME}}</span>
            </template>
            <div v-for="l in m.flows" v-if="l.PcUrl" class="approval-box" v-on:click="toApprove(m,l)" style="cursor:pointer;">
                <div class="approval-box-img" :style="{backgroundPosition:l.Position}"></div>
                <p>{{l.FlowName}}</p>
            </div>
        </el-collapse-item>
    </el-collapse>
</el-main>

<script>
    var x = -54
    var y = -46
    var xTap = -90
    var yTap = -90
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                activeNames: [2, 7],
                count: 2,
                name: '',
                id: '',
                menu: [],
                list: [],
                userList: userList,
                userName: DingData.nickName
            }
        },
        methods: {
            getMenu: function () {
                this.GetData('FlowInfoNew/LoadFlowSort?id=123', (res) => {
                    this.menu = res
                })
            },
            
            toApprove: function (sort, flow) {
                editFlow = flow
                editSort = sort
                loadPage('/Register/flowInformation') 
            },
            loadPage: function (url) {
                $("#tempPage").load(url)
            },
        },
        created: function () {
            this.getMenu()
            loadHtml("mainPage", "partPage")
        }
    })

</script>
