
@{
    ViewBag.Title = "Index";
}


<h2>上传文件</h2>
<br />
<br />
@using (Html.BeginForm("UploadAndGetInfo", "DrawingUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <text>选择上传文件：</text><input name="file" type="file" id="file" />
    <br />
    <br />
    <input type="submit" name="Upload" value="Upload" />
}

<h2>流程通用接口</h2>
<input id="btn" type="button" value="流程创建接口(Post)" />
<input id="btn2" type="button" value="流程载入接口(Approve)" />
<input id="btn1" type="button" value="BOM表载入接口" />
<input id="btn3" type="button" value="选人及抄送接口(多人Post)" />
<input id="btn4" type="button" value="载入项目信息" />
<input id="btn5" type="button" value="流程节点人员配置" />
<input id="btn9" type="button" value="流程退回" />
<h2>图纸下发接口</h2>
<input id="btn6" type="button" value="添加工序" />
<input id="btn7" type="button" value="添加工时" />
<input id="btn8" type="button" value="图纸下发表单提交接口" />
<script type="text/javascript">
    var FlowTest = [{ "Id": 332.0, "TaskId": 4, "ApplyMan": "张鹏辉", "ApplyManId": "100328051024695354", "ApplyTime": "2018-05-08 03:29:12", "IsEnable": 1, "FlowId": 6, "NodeId": 4, "Remark": "55555555555555", "IsSend": false, "State": 1, "ImageUrl": null, "FileUrl": null, "Title": "大型石板材扫描仪", "ProjectId": "2016ZL051", "IsPost": null, "OldImageUrl": null, "OldFileUrl": null, "IsBack": null }, { "Id": 333.0, "TaskId": 4, "ApplyMan": "胡工", "ApplyManId": "123456", "ApplyTime": "2018-05-08 03:29:33", "IsEnable": 1, "FlowId": 6, "NodeId": 5, "Remark": "66666666666666666666", "IsSend": false, "State": 1, "ImageUrl": null, "FileUrl": null, "Title": "大型石板材扫描仪", "ProjectId": "2016ZL051", "IsPost": null, "OldImageUrl": null, "OldFileUrl": null, "IsBack": null }]

    var FlowTestApprove = {
        "Id": 195,
        "TaskId": 2, "ApplyMan": "蔡兴桐",
        "ApplyManId": "manager5312", "ApplyTime": null,
        "IsEnable": 1, "FlowId": 6, "NodeId": 1, "Remark": null,
        "IsSend": false, "State": 1, "ImageUrl": "~\\UploadFile\\Images\\20180502101058.jpg", "FileUrl": null,
        "Title": "图纸上传2018-04-24 14:46", "ProjectId": "2018-04-24 14:46", "IsPost": false, "OldImageUrl": "2.jpg",
        "OldFileUrl": null, "IsBack": null
    }

    var PeopleList = [{ "Id": 335.0, "TaskId": 4, "ApplyMan": "蔡兴桐", "ApplyManId": "073110326032521796", "ApplyTime": null, "IsEnable": 1, "FlowId": 6, "NodeId": 1, "Remark": null, "IsSend": false, "State": 0, "ImageUrl": null, "FileUrl": null, "Title": "大型石板材扫描仪", "ProjectId": "2016ZL051", "IsPost": false, "OldImageUrl": null, "OldFileUrl": null, "IsBack": null }, { "Id": 336.0, "TaskId": 4, "ApplyMan": "黄龙贤", "ApplyManId": "020821466340361583", "ApplyTime": null, "IsEnable": 1, "FlowId": 6, "NodeId": 3, "Remark": "44444444444444", "IsSend": false, "State": 0, "ImageUrl": null, "FileUrl": null, "Title": "大型石板材扫描仪", "ProjectId": "2016ZL051", "IsPost": false, "OldImageUrl": null, "OldFileUrl": null, "IsBack": null }];


    var ProjectTest = {
        "ProjectName": "集成钉钉的信息管理系统",
        "CreateTime": "2018-04-20 14:40",
        "IsEnable": true,
        "IsFinish": false,
        "DeptName": "智慧工厂事业部",
        "ApplyMan": "蔡兴桐",
        "ApplyManId": "99f00dfc7badd72b00da35f211060176ae044d8b3b420106bb6ef6345be1ba9b",
        "StartTime": "2017-10-23",
        "EndTime": "2018-09-01",
        "ProjectNo": "2017ZL054"
    }

    var NodeInfoList = [{
        "Id": "2",
        "NodeId": "1",
        "FlowId": "6",
        "NodeName": "负责人审核",
        "NodePeople": "蔡兴桐",
        "PeopleId": "1",
        "PreNodeId": "2",
        "IsAllAllow": "1",
        "Condition": "1",
        "IsBack": false,
        "IsNeedChose": false,
        "IsSend": false
    }, {
        "Id": "3",
        "NodeId": "2",
        "FlowId": "6",
        "NodeName": "部门审核",
        "NodePeople": "渣渣辉",
        "PeopleId": "1",
        "PreNodeId": "3",
        "IsAllAllow": "1",
        "Condition": "1",
        "IsBack": false,
        "IsNeedChose": false,
        "IsSend": false
    }]

    var PurchaseList = [{ "TaskId": "2", "DrawingNo": "BOM-2017QZL001-delta0505A机器人", "CodeNo": "1", "Name": "十字座D16", "Count": "1", "MaterialScience": "7075T6", "Unit": "件", "Brand": "ATMV", "Sorts": "自制", "Mark": "借用" },
    { "TaskId": "2", "DrawingNo": "DTE-801B-WX-01C", "CodeNo": "2", "Name": "十字座套", "Count": "2", "MaterialScience": "7075T6", "Unit": "件", "Brand": "耐克", "Sorts": "自制", "Mark": "借用" },
    { "TaskId": "2", "DrawingNo": "DTE-801B-WX-01B", "CodeNo": "3", "Name": "十字座D10", "Count": "1", "MaterialScience": "7075T6", "Unit": "件", "Brand": "阿迪", "Sorts": "自制", "Mark": "借用" }]


    var ProcedureList = [{ "DrawingNo": "DTE-801B-WX-01C", "ProcedureName": "中料", "DefaultWorkTime": "1", "State": "0", "CreateTime": "1", "ApplyMan": "胡工", "ApplyManId": "123456" },
    { "DrawingNo": "DTE-801B-WX-01C", "ProcedureName": "喷漆", "DefaultWorkTime": "1", "State": "0", "CreateTime": "1", "ApplyMan": "胡工", "ApplyManId": "123456" },
    { "DrawingNo": "DTE-801B-WX-01D", "ProcedureName": "切割", "DefaultWorkTime": "1", "State": "0", "CreateTime": "1", "ApplyMan": "胡工", "ApplyManId": "123456" }]

    var WorkTimeList = [{ "ProjectInfoId": "1", "IsFinish": false, "Worker": "小红", "WorkerId": "666", "StartTime": "2018-04-24 15:48", "EndTime": "2018-04-25 15:48", "UseTime": "2" },
    { "ProjectInfoId": "2", "IsFinish": false, "Worker": "小滨", "WorkerId": "777", "StartTime": "2018-04-24 15:48", "EndTime": "2018-04-25 15:48", "UseTime": "3" },
    { "ProjectInfoId": "2", "IsFinish": true, "Worker": "小雨", "WorkerId": "888", "StartTime": "2018-04-24 15:48", "EndTime": "2018-04-25 15:48", "UseTime": "3" }]

    var PurchaseDownList = [{ "TaskId": "DTE-801B-WX-01C", "OldTaskId": "中料", "DefaultWorkTime": "1", "State": "0", "CreateTime": "2018-04-24 15:48", "ApplyMan": "胡工", "ApplyManId": "123456" },
    { "DrawingNo": "DTE-801B-WX-01C", "ProcedureName": "喷漆", "DefaultWorkTime": "1", "State": "0", "CreateTime": "2018-04-24 15:48", "ApplyMan": "胡工", "ApplyManId": "123456" },
    { "DrawingNo": "DTE-801B-WX-01D", "ProcedureName": "切割", "DefaultWorkTime": "1", "State": "0", "CreateTime": "2018-04-24 15:48", "ApplyMan": "胡工", "ApplyManId": "123456" }]

    var FlowBackList = { "Id": 163, "TaskId": 5, "ApplyMan": "蔡兴桐", "ApplyManId": "manager5312", "ApplyTime": null, "IsEnable": 1, "FlowId": 6, "NodeId": 1, "Remark": null, "IsSend": false, "State": 0, "ImageUrl": "", "FileUrl": null, "Title": "图纸上传2018-04-25 16:38", "ProjectId": "2018-04-25 16:38", "IsPost": false, "OldImageUrl": "", "OldFileUrl": null, "IsBack": null }

    var PurchaseDownList = [{ "Id": 1.0, "TaskId": "3", "OldTaskId": "2", "DrawingNo": "DTE-801B-WX-01C", "CodeNo": "2", "Name": "十字座套", "Count": "2", "MaterialScience": "7075T6", "Unit": "件", "Brand": "耐克", "Sorts": "自制", "Mark": "借用", "IsDown": true, "ProcedureId": "1", "FlowType": "0" }, { "Id": 2.0, "TaskId": "3", "OldTaskId": "2", "DrawingNo": "DTE-801B-WX-01B", "CodeNo": "3", "Name": "十字座D10", "Count": "1", "MaterialScience": "7075T6", "Unit": "件", "Brand": "阿迪", "Sorts": "自制", "Mark": "借用", "IsDown": true, "ProcedureId": "2", "FlowType": "1" }]

    $("#btn").click(function () {
        $.ajax({
            url: "/FlowInfo/CreateTaskInfo",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(FlowTest),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn2").click(function () {
        $.ajax({
            url: "/FlowInfo/SubmitTaskInfo",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(FlowTestApprove),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });


    $("#btn1").click(function () {
        $.ajax({
            url: "/DrawingUpload/LoadPurchase",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(PurchaseList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn3").click(function () {
        $.ajax({
            url: "/FlowInfo/ChoseOrSend",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(PeopleList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn4").click(function () {
        $.ajax({
            url: "/Project/AddProject",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(ProjectTest),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn5").click(function () {
        $.ajax({
            url: "/FlowInfo/UpdateNodeInfo",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(NodeInfoList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn6").click(function () {
        $.ajax({
            url: "/DrawingDown/AddProcedure",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(ProcedureList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn7").click(function () {
        $.ajax({
            url: "/DrawingDown/AddWorkTime",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(WorkTimeList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });


    $("#btn8").click(function () {
        $.ajax({
            url: "/DrawingDown/SubmitDrawingDown",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(PurchaseDownList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn9").click(function () {
        $.ajax({
            url: "/FlowInfo/FlowBack",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(FlowBackList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

</script>