
@{
    ViewBag.Title = "Index";
}


<h2>上传文件</h2>
<br />
<br />
@using (Html.BeginForm("PostFile", "File", new { filename = "123.txt" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <text>选择上传文件：</text><input name="file" type="file" id="file" />
    <br />
    <br />
    <input type="submit" name="Upload" value="Upload" />
}

<h2>流程通用接口</h2>
<input id="btn" type="button" value="流程创建接口(Post)" />
<input id="btn2" type="button" value="流程载入接口(Approve)" />
<input id="btn1" type="button" value="BOM表载入接口" />
<input id="btn3" type="button" value="选人及抄送接口(多人Post)" />
<input id="btn4" type="button" value="载入项目信息" />
<input id="btn5" type="button" value="流程节点人员配置" />
<input id="btn9" type="button" value="流程退回" />
<h2>图纸下发接口</h2>
<input id="btn6" type="button" value="添加工序" />
<input id="btn11" type="button" value="绑定工序" />
<input id="btn13" type="button" value="绑定工时和工序" />
<input id="btn12" type="button" value="工序关系表Id查询" />
<input id="btn10" type="button" value="添加查询" />
<input id="btn7" type="button" value="添加工时" />
<input id="btn8" type="button" value="图纸下发表单提交接口" />
<input id="btn14" type="button" value="盯盘文件上传" />
<input id="btn15" type="button" value="发送钉钉附件消息" /><br>
<input id="btn16" type="button" value="采购单保存" />
<input id="btn17" type="button" value="打印表单数据、盖章、推送" />
<input id="btn18" type="button" value="打印表单数据、盖章、推送(采购)" />
<input id="btn19" type="button" value="盯盘文件上传(文件管理)" />
<input id="btn20" type="button" value="盯盘文件下载(文件管理)" />
<input id="btn21" type="button" value="物料编码提交" />
<input id="btn22" type="button" value="物料编码提交Single" />
<input id="btn23" type="button" value="项目信息修改" />
<input id="btn24" type="button" value="删除车辆" />
<input id="btn25" type="button" value="取BASE64" />
<script type="text/javascript">
    var FlowTest =[{"ApplyMan":"蔡兴桐","ApplyManId":"083452125733424957","NodeId":"0","ApplyTime":"2018-12-29 14:12:28","IsEnable":"1","FlowId":"6","Remark":"11","IsSend":false,"State":"1","ImageUrl":"","OldImageUrl":"","FilePDFUrl":"~\\UploadFile\\Flies\\2015ZX001-SJP-01 605机器人固定板20181229141230.PDF","OldFilePDFUrl":"2015ZX001-SJP-01 605机器人固定板.PDF","FileUrl":"","OldFileUrl":"","MediaId":"","MediaIdPDF":"@@lBDPBY0V4-qm1RvObT2OGc4SD8bJ","Title":"液压机 - 编号：111","ProjectName":"液压机","ProjectId":"111","PdfState":"0"},{"ApplyMan":"张鹏辉","ApplyManId":"100328051024695354","IsEnable":1,"FlowId":"6","NodeId":"3","IsSend":false,"State":0,"ProjectId":"111","OldFileUrl":null,"IsBack":null},{"ApplyMan":"小威","ApplyManId":"12096625353680","IsEnable":1,"FlowId":"6","NodeId":"4","IsSend":false,"State":0,"ProjectId":"111","OldFileUrl":null,"IsBack":null}];

    var FlowTestApprove = [{ "TaskId": "497", "ApplyMan": "蔡兴桐", "ApplyManId": "083452125733424957", "Dept": "图书馆", "NodeId": "3", "ApplyTime": "2019-01-08 10:52:19", "IsEnable": "1", "FlowId": "27", "IsSend": "false", "State": "1", "Id": 63554, "Remark": "233", "Title": "入库申请" }];

    var PeopleList = [{ "Id": 335.0, "TaskId": 4, "ApplyMan": "蔡兴桐", "ApplyManId": "073110326032521796", "ApplyTime": null, "IsEnable": 1, "FlowId": 6, "NodeId": 1, "Remark": null, "IsSend": false, "State": 0, "ImageUrl": null, "FileUrl": null, "Title": "大型石板材扫描仪", "ProjectId": "2016ZL051", "IsPost": false, "OldImageUrl": null, "OldFileUrl": null, "IsBack": null }, { "Id": 336.0, "TaskId": 4, "ApplyMan": "黄龙贤", "ApplyManId": "020821466340361583", "ApplyTime": null, "IsEnable": 1, "FlowId": 6, "NodeId": 3, "Remark": "44444444444444", "IsSend": false, "State": 0, "ImageUrl": null, "FileUrl": null, "Title": "大型石板材扫描仪", "ProjectId": "2016ZL051", "IsPost": false, "OldImageUrl": null, "OldFileUrl": null, "IsBack": null }];
    
    var ProjectTest = {
        "ProjectName": "集成钉钉的信息管理系统",
        "CreateTime": "2018-04-20 14:40",
        "IsEnable": true,
        "IsFinish": false,
        "DeptName": "智慧工厂事业部",
        "ApplyMan": "蔡兴桐",
        "ApplyManId": "99f00dfc7badd72b00da35f211060176ae044d8b3b420106bb6ef6345be1ba9b",
        "StartTime": "2017-10-23",
        "EndTime": "2018-09-01",
        "ProjectNo": "2017ZL054"
    }

    var NodeInfoList = [{
        "Id": "2",
        "NodeId": "1",
        "FlowId": "6",
        "NodeName": "负责人审核",
        "NodePeople": "蔡兴桐",
        "PeopleId": "1",
        "PreNodeId": "2",
        "IsAllAllow": "1",
        "Condition": "1",
        "IsBack": false,
        "IsNeedChose": false,
        "IsSend": false
    }, {
        "Id": "3",
        "NodeId": "2",
        "FlowId": "6",
        "NodeName": "部门审核",
        "NodePeople": "渣渣辉",
        "PeopleId": "1",
        "PreNodeId": "3",
        "IsAllAllow": "1",
        "Condition": "1",
        "IsBack": false,
        "IsNeedChose": false,
        "IsSend": false
    }]

    var PurchaseList = [{ "ApplyMan": "黄浩炜", "ApplyManId": "manager325", "Dept": "图书馆", "NodeId": "0", "ApplyTime": "2018-09-03 16:58:51", "IsEnable": "1", "FlowId": "8", "IsSend": false, "State": "1", "Title": "零部件采购申请", "Remark": "", "ProjectName": "钉钉", "ProjectId": "111111111111111" }, { "ApplyMan": "黄浩炜", "ApplyManId": "manager325", "IsEnable": 1, "FlowId": "8", "NodeId": "1", "IsSend": false, "State": 0, "OldFileUrl": null, "IsBack": null, "ProjectId": "111111111111111" }, { "ApplyMan": "黄浩炜", "ApplyManId": "manager325", "IsEnable": 1, "FlowId": "8", "NodeId": "2", "IsSend": false, "State": 0, "OldFileUrl": null, "IsBack": null, "ProjectId": "111111111111111" }]


    var ProcedureList = [{ "DrawingNo": "DTE-801B-WX-01C", "ProcedureName": "中料", "DefaultWorkTime": "1", "State": "0", "CreateTime": "1", "ApplyMan": "胡工", "ApplyManId": "123456" },
    { "DrawingNo": "DTE-801B-WX-01C", "ProcedureName": "喷漆", "DefaultWorkTime": "1", "State": "0", "CreateTime": "1", "ApplyMan": "胡工", "ApplyManId": "123456" },
    { "DrawingNo": "DTE-801B-WX-01D", "ProcedureName": "切割", "DefaultWorkTime": "1", "State": "0", "CreateTime": "1", "ApplyMan": "胡工", "ApplyManId": "123456" }]

    var WorkTimeList = [{ "PurchaseProcedureInfoId": "7", "IsFinish": false, "Worker": "小红", "WorkerId": "666", "StartTime": "2018-04-24 15:48", "EndTime": "2018-04-25 15:48", "UseTime": "2" },
    { "PurchaseProcedureInfoId": "8", "IsFinish": false, "Worker": "小滨", "WorkerId": "777", "StartTime": "2018-04-24 15:48", "EndTime": "2018-04-25 15:48", "UseTime": "3" },
    { "PurchaseProcedureInfoId": "9", "IsFinish": true, "Worker": "小雨", "WorkerId": "888", "StartTime": "2018-04-24 15:48", "EndTime": "2018-04-25 15:48", "UseTime": "3" }];
    var PurchaseDownList = [{ "TaskId": "DTE-801B-WX-01C", "OldTaskId": "中料", "DefaultWorkTime": "1", "State": "0", "CreateTime": "2018-04-24 15:48", "ApplyMan": "胡工", "ApplyManId": "123456" },
    { "DrawingNo": "DTE-801B-WX-01C", "ProcedureName": "喷漆", "DefaultWorkTime": "1", "State": "0", "CreateTime": "2018-04-24 15:48", "ApplyMan": "胡工", "ApplyManId": "123456" },
    { "DrawingNo": "DTE-801B-WX-01D", "ProcedureName": "切割", "DefaultWorkTime": "1", "State": "0", "CreateTime": "2018-04-24 15:48", "ApplyMan": "胡工", "ApplyManId": "123456" }]

    var FlowBackList = { "Id": 163, "TaskId": 5, "ApplyMan": "蔡兴桐", "ApplyManId": "manager5312", "ApplyTime": null, "IsEnable": 1, "FlowId": 6, "NodeId": 1, "Remark": null, "IsSend": false, "State": 0, "ImageUrl": "", "FileUrl": null, "Title": "图纸上传2018-04-25 16:38", "ProjectId": "2018-04-25 16:38", "IsPost": false, "OldImageUrl": "", "OldFileUrl": null, "IsBack": null }

    var PurchaseDownList = [{ "Id": 1.0, "TaskId": "3", "OldTaskId": "2", "DrawingNo": "DTE-801B-WX-01C", "CodeNo": "2", "Name": "十字座套", "Count": "2", "MaterialScience": "7075T6", "Unit": "件", "Brand": "耐克", "Sorts": "自制", "Mark": "借用", "IsDown": true, "ProcedureId": "1", "FlowType": "0" }, { "Id": 2.0, "TaskId": "3", "OldTaskId": "2", "DrawingNo": "DTE-801B-WX-01B", "CodeNo": "3", "Name": "十字座D10", "Count": "1", "MaterialScience": "7075T6", "Unit": "件", "Brand": "阿迪", "Sorts": "自制", "Mark": "借用", "IsDown": true, "ProcedureId": "2", "FlowType": "1" }]

    var DrawingNoList = [{ "DrawingNo": "DTE-801B-WX-01C" }, { "DrawingNo": "DTE-801B-WX-01C" }]

    $("#btn").click(function () {
        $.ajax({
            url: "/FlowInfo/CreateTaskInfo",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(FlowTest),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn2").click(function () {
        $.ajax({
            url: "/FlowInfo/SubmitTaskInfo",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(FlowTestApprove),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });


    $("#btn1").click(function () {
        $.ajax({
            url: "/DrawingUpload/LoadPurchase",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(PurchaseList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn3").click(function () {
        $.ajax({
            url: "/FlowInfo/ChoseOrSend",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(PeopleList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn4").click(function () {
        $.ajax({
            url: "/Project/AddProject",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(ProjectTest),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn5").click(function () {
        $.ajax({
            url: "/FlowInfo/UpdateNodeInfo",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(NodeInfoList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn6").click(function () {
        $.ajax({
            url: "/DrawingDown/AddProcedure",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(ProcedureList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn7").click(function () {
        $.ajax({
            url: "/DrawingDown/AddWorkTime",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(WorkTimeList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });


    $("#btn8").click(function () {
        $.ajax({
            url: "/DrawingDown/SubmitDrawingDown",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(PurchaseDownList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn9").click(function () {
        $.ajax({
            url: "/FlowInfo/FlowBack",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(FlowBackList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });


    $("#btn10").click(function () {
        $.ajax({
            url: "/DrawingDown/GetProcedureInfo",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(DrawingNoList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    var BindPurchaseList = [{ "DrawingNo": "DTE-801B-WX-01A", "ProcedureInfoId": "10", "CreateManId": "123456", "TaskId": "4" }, { "DrawingNo": "DTE-801B-PT-14", "ProcedureInfoId": "2", "CreateManId": "123456", "TaskId": "4" }, { "DrawingNo": "DTE-801B-PT-13", "ProcedureInfoId": "4", "CreateManId": "123456", "TaskId": "4" }]

    $("#btn11").click(function () {
        $.ajax({
            url: "/DrawingDown/BindProcedure",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(BindPurchaseList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    var GetProcedureIdList = [{ "DrawingNo": "DTE-801B-PT-13", "ProcedureInfoId": "1", "TaskId": "3" }];
    $("#btn12").click(function () {
        $.ajax({
            url: "/DrawingDown/GetProcedureId",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(GetProcedureIdList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    var WorkTimeAndProList = [{ "IsFinish": false, "Worker": "小红", "WorkerId": "666", "StartTime": "2018-04-24 15:48", "EndTime": "2018-04-25 15:48", "UseTime": "2", "DrawingNo": "DTE-801B-WX-01A", "ProcedureInfoId": "1", "CreateManId": "123456", "TaskId": "4", "OldTaskId": "123", "OldTaskId": "1", "CodeNo": "1", "Name": "11", "Count": "1", "MaterialScience": "1", "Unit": "1", "Brand": "1", "Sorts": "1", "FlowType": "1" },
    { "IsFinish": false, "Worker": "小滨", "WorkerId": "777", "StartTime": "2018-04-24 15:48", "EndTime": "2018-04-25 15:48", "UseTime": "3", "DrawingNo": "DTE-801B-WX-01A", "ProcedureInfoId": "2", "CreateManId": "123456", "TaskId": "4", "OldTaskId": "123", "OldTaskId": "1", "CodeNo": "1", "Name": "11", "Count": "1", "MaterialScience": "1", "Unit": "1", "Brand": "1", "Sorts": "1", "FlowType": "1" },
    { "IsFinish": true, "Worker": "小雨", "WorkerId": "888", "StartTime": "2018-04-24 15:48", "EndTime": "2018-04-25 15:48", "UseTime": "3", "DrawingNo": "DTE-801B-WX-01A", "ProcedureInfoId": "3", "CreateManId": "123456", "TaskId": "4", "OldTaskId": "123", "OldTaskId": "1", "CodeNo": "1", "Name": "11", "Count": "1", "MaterialScience": "1", "Unit": "1", "Brand": "1", "Sorts": "1", "FlowType": "1" }]

    $("#btn13").click(function () {
        $.ajax({
            url: "/DrawingDown/BindWorkTimeAndPro",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(WorkTimeAndProList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn14").click(function () {
        $.ajax({
            url: "/DingTalkServers/uploadMedia",
            type: "Post",
            dataType: "json",
            async: true,
            data: { "": "~/测试媒体文件/测试文本123.txt" },
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });


    $("#btn15").click(function () {
        $.ajax({
            url: "/DingTalkServers/sendFileMessage",
            type: "Post",
            dataType: "json",
            async: true,
            data: { "UserId": "083452125733424957", "Media_Id": "@@lAjPBY0V43mDr87ODCczbc5-853G" },
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    var PurTableList = [{ "Id": 1.0, "TaskId": "流水号", "CodeNo": "物料编码", "Name": "苹果", "Standard": "型号", "Unit": "单位", "Count": "数量", "Price": "单价", "Purpose": "用途", "UrgentDate": "需用日期", "Mark": "备注" }, { "Id": 2.0, "TaskId": "流水号2", "CodeNo": "物料编码2", "Name": "苹果2", "Standard": "型号2", "Unit": "单位2", "Count": "数量2", "Price": "单价2", "Purpose": "用途2", "UrgentDate": "需用日期2", "Mark": "备注2" }];
    var PurTable = { "Id": 1.0, "TaskId": "流水号", "CodeNo": "物料编码", "Name": "苹果", "Standard": "型号", "Unit": "单位", "Count": "数量", "Price": "单价", "Purpose": "用途", "UrgentDate": "需用日期", "Mark": "备注" };
    $("#btn16").click(function () {
        $.ajax({
            url: "/PurchaseManage/PurchaseTableSave",
            type: "Post",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',//将json数据以request payload的形式发起请求
            async: false,
            data: JSON.stringify(PurTableList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn17").click(function () {
        $.ajax({
            url: "/DrawingUpload/PrintAndSend",
            type: "Post",
            //contentType: 'application/json; charset=utf-8',//将json数据以request payload的形式发起请求
            dataType: "json",
            async: true,
            data: { "UserId": "083452125733424957", "TaskId": "3", "OldPath": "~\\UploadFile\\Flies\\20180621103649.PDF,~\\UploadFile\\Flies\\20180621103648.PDF" },
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });


    $("#btn18").click(function () {
        $.ajax({
            url: "/Purchase/PrintAndSend",
            type: "Post",
            //contentType: 'application/json; charset=utf-8',//将json数据以request payload的形式发起请求
            dataType: "json",
            async: true,
            data: { "UserId": "083452125733424957", "TaskId": "20" },
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn19").click(function () {
        $.ajax({
            url: "/DingTalkServers/uploadFile",
            type: "Post",
            
            dataType: "json",
            async: true,
            data: { ApplyMan: "蔡兴桐", ApplyManId: "083452125733424957", FilePath: "~/测试媒体文件/测试文本123.txt" },
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn20").click(function () {
        $.ajax({
            url: "/Project/DownloadFileModel/",
            type: "Post",
            dataType: "json",
            async: true,
            data: { path: "~/测试媒体文件/测试文本123.txt", userId: "083452125733424957" },
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn21").click(function () {
        $.ajax({
            url: "/ItemCodeAdd/TableSave/",
            type: "Post",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            data: JSON.stringify([
                {
                    "Id": 7,
                    "TaskId": "12345",
                    "CodeNumber": "string",
                    "BigCode": "string",
                    "SmallCode": "string",
                    "Name": "string",
                    "Unit": "string",
                    "Standard": "string",
                    "SurfaceTreatment": "string",
                    "PerformanceLevel": "string",
                    "StandardNumber": "string",
                    "Features": "string",
                    "purpose": "string",
                    "Remark": "string"
                },
                {
                    "Id": 13,
                    "TaskId": "12345",
                    "CodeNumber": "string",
                    "BigCode": "string",
                    "SmallCode": "string",
                    "Name": "string",
                    "Unit": "string",
                    "Standard": "string",
                    "SurfaceTreatment": "string",
                    "PerformanceLevel": "string",
                    "StandardNumber": "stri111ng",
                    "Features": "string",
                    "purpose": "string",
                    "Remark": "string"
                }
            ]),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });


    $("#btn22").click(function () {
        $.ajax({
            url: "/ItemCodeAdd/TableSingleSave/",
            type: "Post",
            dataType: "json",
            data:  {
                    "Id": 7,
                    "TaskId": "1111111111111",
                    "CodeNumber": "string",
                    "BigCode": "string",
                    "SmallCode": "string",
                    "Name": "string",
                    "Unit": "string",
                    "Standard": "string",
                    "SurfaceTreatment": "string",
                    "PerformanceLevel": "string",
                    "StandardNumber": "string",
                    "Features": "string",
                    "purpose": "string",
                    "Remark": "string"
                },
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });


    $("#btn23").click(function () {
        $.ajax({
            url: "/Project/ProjectInfoModify/",
            type: "Post",
            dataType: "json",
            async: true,
            data: { "Id": 10039.0, "ProjectName": "DingTalk", "CreateTime": "2018-07-10 16:20", "IsEnable": true, "ProjectState": "在研", "DeptName": "智慧工厂事业部", "ApplyMan": "蔡兴桐", "ApplyManId": "083452125733424957", "StartTime": "2018-07-12", "EndTime": "2018-07-13", "ProjectId": "12333", "FilePath": "\\UploadFile\\ProjectFile\\泉州华中科技大学智能制造研究院\\纵向项目\\DingTalk", "ResponsibleMan": "蔡兴桐", "ResponsibleManId": "083452125733424957", "CompanyName": "泉州华中科技大学智能制造研究院", "ProjectType": "纵向项目", "TeamMembers": "张鹏辉,肖民生,詹姆斯,黄龙贤", "TeamMembersId": "100328051024695354,073110326032521796,manager325,020821466340361583", "CreateMan": null, "CreateManId": null },
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn24").click(function () {
        $.ajax({
            type: "post",
            url: "/CarMananger/Delete/",
            contentType: 'application/json',
            data: JSON.stringify({ Id: "8" }),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn25").click(function () {
        $.ajax({
            url: "/NewsAndCases/DownloadFile",
            type: "Post",
            dataType: "json",
            async: true,
            data: { "FileName": "123", "FilePath": "~/UploadFile/PDF/123.PDF"},
            success: function (data) {
                alert(666);
                alert(data);
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(999);
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

</script>