
@{
    ViewBag.Title = "Index";
}


<h2>上传文件</h2>
<br />
<br />
@using (Html.BeginForm("UploadAndGetInfo", "DrawingUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <text>选择上传文件：</text><input name="file" type="file" id="file" />
    <br />
    <br />
    <input type="submit" name="Upload" value="Upload" />
}

<h2>LoadFlowInfo</h2>
<input id="btn" type="button" value="流程创建接口(Post)" />
<input id="btn2" type="button" value="流程载入接口(Approve)" />
<input id="btn1" type="button" value="BOM表载入接口" />
<input id="btn3" type="button" value="选人及抄送接口(多人Post)" />
<input id="btn4" type="button" value="载入项目信息" />
<input id="btn5" type="button" value="流程节点人员配置" />
<script type="text/javascript">
    var FlowTest = {
        "ApplyMan": "蔡兴桐",
        "NodeId": "0",
        "ApplyTime": "2018-04-10 14:40",
        "IsEnable": "1",
        "FlowId": "6",
        "Remark": "通过"
    }

    var FlowTestApprove = {
        "TaskId": "1",
        "ApplyMan": "蔡兴桐",
        "NodeId": "1",
        "ApplyTime": "2018-04-12 14:40",
        "IsEnable": "1",
        "FlowId": "6",
        "Remark": "审核通过"
    }

    var PeopleList = [{
        "TaskId": "1",
        "FlowId": "6",
        "NodeId": "1",
        "ApplyMan": "蔡兴桐",
        "IsEnable": "1",
        "IsSend": true,
        "State": "0"
    }, {
        "TaskId": "1",
        "FlowId": "6",
        "NodeId": "1",
        "ApplyMan": "龙贤",
        "IsEnable": "1",
        "IsSend": true,
        "State": "0"
        }]


      var ProjectTest = {
        "ProjectName": "集成钉钉的信息管理系统",
        "CreateTime": "2018-04-20 14:40",
        "IsEnable":true,
        "IsFinish": false,
        "DeptName": "智慧工厂事业部",
        "ApplyMan": "蔡兴桐",
        "ApplyManId":"99f00dfc7badd72b00da35f211060176ae044d8b3b420106bb6ef6345be1ba9b",
        "StartTime":"2017-10-23",
        "EndTime":"2018-09-01",
        "ProjectNo":"2017ZL054"
    }

     var NodeInfoList = [{
           "Id":"2",
           "NodeId":"1",
           "FlowId":"6",
           "NodeName":"负责人审核",
           "NodePeople":"蔡兴桐",
           "PeopleId":"1",
           "PreNodeId":"2",
           "IsAllAllow":"1",
           "Condition":"1",
           "IsBack":false,
           "IsNeedChose":false,
           "IsSend":false
        },{
           "Id":"3",
           "NodeId":"2",
           "FlowId":"6",
           "NodeName":"部门审核",
           "NodePeople":"渣渣辉",
           "PeopleId":"1",
           "PreNodeId":"3",
           "IsAllAllow":"1",
           "Condition":"1",
           "IsBack":false,
           "IsNeedChose":false,
           "IsSend":false
        }]

    $("#btn").click(function () {
        $.ajax({
            url: "/FlowInfo/CreateTaskInfo",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(FlowTest),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn2").click(function () {
        $.ajax({
            url: "/FlowInfo/SubmitTaskInfo",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(FlowTestApprove),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });


    var PurchaseList = [{ "TaskId": "2", "DrawingNo": "BOM-2017QZL001-delta0505A机器人", "CodeNo": "1", "Name": "十字座D16", "Count": "1", "MaterialScience": "7075T6", "Unit": "件", "Brand": "ATMV", "Sorts": "自制", "Mark": "借用" },
    { "TaskId": "2", "DrawingNo": "DTE-801B-WX-01C", "CodeNo": "2", "Name": "十字座套", "Count": "2", "MaterialScience": "7075T6", "Unit": "件", "Brand": "耐克", "Sorts": "自制", "Mark": "借用" },
    { "TaskId": "2", "DrawingNo": "DTE-801B-WX-01B", "CodeNo": "3", "Name": "十字座D10", "Count": "1", "MaterialScience": "7075T6", "Unit": "件", "Brand": "阿迪", "Sorts": "自制", "Mark": "借用" }]


    $("#btn1").click(function () {
        $.ajax({
            url: "/DrawingUpload/LoadPurchase",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(PurchaseList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn3").click(function () {
        $.ajax({
            url: "/FlowInfo/ChoseOrSend",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(PeopleList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn4").click(function () {
        $.ajax({
            url: "/Project/AddProject",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(ProjectTest),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn5").click(function () {
        $.ajax({
            url: "/FlowInfo/UpdateNodeInfo",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(NodeInfoList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

</script>