
@{
    ViewBag.Title = "Index";
}


<h2>上传文件</h2>
<br />
<br />
@using (Html.BeginForm("Upload", "DrawingUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <text>选择上传文件：</text><input name="file" type="file" id="file" />
    <br />
    <br />
    <input type="submit" name="Upload" value="Upload" />
}