
@{
    ViewBag.Title = "Index";
}


<h2>上传文件</h2>
<br />
<br />
@using (Html.BeginForm("UploadAndGetInfo", "DrawingUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <text>选择上传文件：</text><input name="file" type="file" id="file" />
    <br />
    <br />
    <input type="submit" name="Upload" value="Upload" />
}

<h2>LoadFlowInfo</h2>
<input id="btn" type="button" value="流程创建接口(Post)" />
<input id="btn2" type="button" value="流程载入接口(Approve)" />
<input id="btn1" type="button" value="BOM表载入接口" />
<input id="btn3" type="button" value="选人及抄送接口(多人Post)" />
<script type="text/javascript">
    var FlowTest = {
        "ApplyMan": "蔡兴桐",
        "NodeId": "0",
        "ApplyTime": "2018-04-10 14:40",
        "IsEnable": "1",
        "FlowId": "6",
        "Remark": "通过"
    }

    var FlowTestApprove = {
        "TaskId": "1",
        "ApplyMan": "蔡兴桐",
        "NodeId": "1",
        "ApplyTime": "2018-04-12 14:40",
        "IsEnable": "1",
        "FlowId": "6",
        "Remark": "审核通过"
    }

    var PeopleList = [{
        "TaskId": "1",
        "FlowId": "6",
        "NodeId": "1",
        "ApplyMan": "蔡兴桐",
        "IsEnable": "1",
        "IsSend": true,
        "State": "0"
    }, {
        "TaskId": "1",
        "FlowId": "6",
        "NodeId": "1",
        "ApplyMan": "龙贤",
        "IsEnable": "1",
        "IsSend": true,
        "State": "0"
    }]

    $("#btn").click(function () {
        $.ajax({
            url: "/FlowInfo/CreateTaskInfo",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(FlowTest),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn2").click(function () {
        $.ajax({
            url: "/FlowInfo/SubmitTaskInfo",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(FlowTestApprove),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });


    var PurchaseList = [{ "TaskId": "2", "DrawingNo": "BOM-2017QZL001-delta0505A机器人", "CodeNo": "1", "Name": "十字座D16", "Count": "1", "MaterialScience": "7075T6", "Unit": "件", "Brand": "ATMV", "Sorts": "自制", "Mark": "借用" },
    { "TaskId": "2", "DrawingNo": "DTE-801B-WX-01C", "CodeNo": "2", "Name": "十字座套", "Count": "2", "MaterialScience": "7075T6", "Unit": "件", "Brand": "耐克", "Sorts": "自制", "Mark": "借用" },
    { "TaskId": "2", "DrawingNo": "DTE-801B-WX-01B", "CodeNo": "3", "Name": "十字座D10", "Count": "1", "MaterialScience": "7075T6", "Unit": "件", "Brand": "阿迪", "Sorts": "自制", "Mark": "借用" }]


    $("#btn1").click(function () {
        $.ajax({
            url: "/DrawingUpload/LoadPurchase",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(PurchaseList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });

    $("#btn3").click(function () {
        $.ajax({
            url: "/FlowInfo/ChoseOrSend",
            type: "POST",
            dataType: "json",
            async: false,
            data: JSON.stringify(PeopleList),
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        })
    });



</script>